@import "src/assets/styles/colors";

.view-all{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: $color-gethired-red-buttons;
	margin-right: 30px !important;

	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}