.title-main{
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 16px;
	/* identical to box height, or 75% */
	margin-bottom: 0;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #121212
}

.btn-cancel{
	background: #FFFFFF;
	border: 1px solid #FF7062;
	border-radius: 111px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width: 130px;
	color: #FE6F61;
	padding: 9px 35px !important;

	&:hover{
		color: #fff;
		background: #FF7062;
	}
}

.btn-save{
	background: #FF7062;
	border-radius: 111px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 130px;
	color: #FFFFFF;
	padding: 9px 35px !important;
}