@import "src/assets/styles/colors";
.main-title{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 58px;
	/* identical to box height, or 166% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.btn-submit{
	border-radius: 1232px;
	padding: 10px;
	background: $color-global-red-buttons;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 27px;
	transition: all 0.4s ease !important;
	color: #FFFFFF;

	&:hover{
	  border: solid 2px #BEF249 !important;
	  color: #BEF249;
	  transition: all 0.1s ease !important;
	  background: transparent !important;
	  padding-bottom: 9px !important;
	  padding-top: 9px !important;
	}
}
