@import "src/assets/styles/colors";

.fixed-top{
  z-index: 9999 !important;
  height: 80px; 
  background: #FFFFFF;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
}

.main{
  margin-top: 80px;
  min-height: 400px;
}

.main-title{

}

.sub-title{
  
}

.navbar-transparent{
  background: rgba(255, 255, 255, 1) !important;
}

.btn-primary{
  padding: 12px 40px 8px 40px !important;
  min-width: 120px;
  color: red !important;
  letter-spacing: 1.3px;
  border-radius: 1px !important;
  border: none !important;
  text-decoration: none !important;
}

.btn-nav-gradient{
  background: linear-gradient(163.18deg, #D06047 1.81%, #D06047 98.2%) !important;
  box-shadow: 0px 29.81px 46.8519px rgba(10, 146, 200, 0.1059), 0px 14.52px 25.4815px rgba(10, 146, 200, 0.1007) !important;
  border-radius: 900px !important;
  color: white;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 8px 30px !important;
  margin-top: 1px;

  &:hover{
    border: solid 2px #FF4D3C !important;
    color: #FF4D3C;
    transition: all 0.1s ease !important;
    background: transparent !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
  }
}

.search-div{
    vertical-align: center !important;
    background: #FFEFED;
    color: #FF7062;
    padding: 10px 20px 10px 15px !important;
    border-radius: 8px !important;
    width: 340px !important;

    //margin-right: 30px;
    .input-group-text{
        /* background: none;
        border:none; */
    }

    .input-group{

        padding: 0px !important;
        outline: none !important;
        img{
            width: 15px !important;
            height: 15px !important;
            margin-right: 10px;
            margin-top: 3px;
        }
    }

    .form-control{
        border-radius: 0px !important;
        font-size: 14px !important;
        margin-left: 10px;
        padding: 0 !important;
        border: none !important;
        background: #FFEFED !important;
        outline: none !important;
        color: #FF7062 !important;
        //border-color: #a8a8a8 !important;
    }

    input{
      outline: none !important;
      color: #FF7062 !important;

    }

    ::placeholder{
      color: #FF7062 !important;
    }
}


.search-div-dropdown{
    @extend .search-div;
    width: 240px !important;
}



.dropdown{
  //color: red !important;
  //padding: 10px 20px;

  .dropdown-menu{
    border-radius: 15px;

    li{
      min-width: 230px;

      .form-select{
        padding: 0;
        border: none;
        cursor: pointer;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: #939393;
        margin-bottom: 0;
        margin-top: 5px;
      }

      a, span{
        padding: 5px 20px;
        cursor: pointer;
        &:not(:first-child){
          border-radius: 7px;
        }
      }

      .nav-drop-link{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: #939393;
        margin-bottom: 0;
        margin-top: 5px;

        &:hover{
          color: $color-blue-primary !important;
          //border-left: solid 4px $color-blue-primary !important;
          background: #F5FFFE;
          transition: all 0.5s ease;
        }
      }

      .nav-drop-link-active{
        @extend .nav-drop-link;
        background: #F5FFFE;
        color: $color-blue-primary !important;
        border-left: solid 4px $color-blue-primary !important;
      }
    }

    .dropdown-item{
      .img-avatar{
        border-radius: 50%;
        width: 50px;
        height: 50px;

      }

      .title-user{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: #000000;
        margin-bottom: 0;
        margin-top: 5px;
      }

      .title-position{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 15px;
        /* identical to box height, or 171% */
        color: #939393;
        margin-bottom: 0;
        margin-top: 0;
      }

      .settings{
        position: absolute;
        right: 20px;
        top: 25px;
        width: 22px;
        height: 22px;
      }
    }
  }
}

.navbar{
  .navbar-brand{
    width: 200px;
    margin-top: 10px;
    //margin-left: 20px;
  }

  @media (max-width: 989px){
    .container{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .navbar-brand{
      margin-left: 20px;
    }

    .navbar-toggler{
      margin-right: 20px;
    }

    &-collapse{
      background: white !important;
      margin-top: 10px !important;
      padding: 0 !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      //min-width: 120% !important;
      //margin-left: -40px !important;

      .nav-item, .nav-link{
        font-family: 'Poppins', sans-serif;
        font-weight: 400 !important;
        font-size: 15px !important;
        line-height: 130% !important;
        color: #444152;
        padding-left: 10px !important;
      }

      .btn-primary{
        margin-left: -10px !important;
      }

    }

  }
}

.navbar-expand-lg .navbar-collapse {
  @media (min-width: 999px){
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
  }
}

.nav-item{
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 130% !important;
  color: #444152;
  padding-left: 10px !important;
  //margin-top: 5px;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 130% !important;
  color: #444152;
  padding-left: 10px !important;
  //margin-top: 5px;
}

.nav-link-active{
  padding-bottom: 5px;
  border-bottom: solid 4px $color-blue-primary;
}

.navbar{
  background: linear-gradient(90.24deg, #2A9DF4 4.55%, #187BCD 61.56%, #03254C 118.29%);;
  border-bottom: 0px solid red !important;
  border-image-source: linear-gradient(180deg, #000000 0%, rgba(45, 206, 189, 0.3) 100%) !important;
  max-height: 80px !important;
}
