<nav class="navbar navbar-expand-lg navbar-transparent py-4 fixed-top" style="height: 80px !important;">
  <div class="container-fluid d-flex px-0 px-lg-5">
    <a class="navbar-brand me-3 me-lg-5" routerLink="/">
      <img src="/assets/images/placeholder/logo-2.png" class="hvr-grow img-fluid">
    </a>

    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#togglerButton"
    aria-controls="togglerButton" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="togglerButton">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item ms-5 me-4">
          <a class="nav-link"

          aria-current="page" routerLink="/">Home</a>
        </li>

        <ng-container *ngFor="let item of headerItems">
          <li class="nav-item me-4" *ngIf="item?.route !== '/'">
            <a class="nav-link" aria-current="page"
            *ngIf="!item?.sub_routes"
            [ngClass]="location.match(item?.route) ? 'nav-link-active' : 'hvr-underline-from-left'"
            style="cursor: pointer;"
            (click)="navigateToRoute(item?.route)">{{item?.title}} </a>
          </li>
        </ng-container> -->

        <li class="nav-item me-1" >
          <div class="search-div">
            <div class="input-group">
              <img src="/assets/images/placeholder/icons/search-red.png">
              
              <input type="text" class="form-control" placeholder="Search for Jobs" 
              aria-label="Search" >
            </div>
          </div>
        </li>

        <li class="nav-item" >
          <div class="dropdown d-lg-flex ms-4" *ngIf="!loggedUser">
            <button class="btn btn-nav-gradient" type="button" 
            routerLink="/signup" >
              Register
            </button>
          </div>

          <div class="dropdown d-flex" *ngIf="loggedUser">
            <button class="btn" id="dropdownMenuButton1" 
            data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngIf="loggedUserData?.employer">
                <img src="/assets/images/face-6.jpg" class="img-avatar">
              </ng-container>

              <ng-container *ngIf="loggedUserData?.applicant">
                <img src="/assets/images/face-3.jpg" class="img-avatar">
              </ng-container>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
            style="position: absolute; left: -140px" >
              <li class="pt-2" >
                <span class="dropdown-item d-flex" >
                  <ng-container  *ngIf="loggedUserData?.employer">
                    <img src="/assets/images/face-6.jpg" class="img-avatar me-3">
                    <div (click)="navigateTo('/company')">
                      <h5 class="title-user text-capitalize">{{ loggedUserData?.name }}</h5>
                      <p class="title-position">Employer</p>
                    </div>
                  </ng-container>

                  <ng-container  *ngIf="loggedUserData?.applicant">
                    <img src="/assets/images/face-3.jpg" class="img-avatar me-3">
                    <div (click)="navigateTo('/applicant/profile')">
                      <h5 class="title-user text-capitalize">{{ loggedUserData?.name }}</h5>
                      <p class="title-position">Applicant</p>
                    </div>
                  </ng-container>
                </span>
              </li>

              <li class="pb-2">
                <span class="dropdown-item nav-drop-link" (click)="adminLogout()">Log out</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>



<app-footer></app-footer>
