<div class="employee-container ">
	<div class="card"
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div class="employee-details row">
			<div class="col-12 col-md-6 px-0">
				<button class="btn btn-add w-100" 
				[ngClass]="importEmployee ? 'inactive' : ''"
				(click)="importEmployee = false">
				{{ 'NEW_USER_ACCESS.NEW_USER__ACCESS_FORM' | translate }}
				</button>
			</div>

			<div class="col-12 col-md-6 px-0">
				<button class="btn btn-add w-100"
				[ngClass]="!importEmployee ? 'inactive' : ''"
				(click)="importUserTab()">
				{{ 'IMPORT_USERS.IMPORT_USERS_FORM' | translate }}
				</button>
			</div>
		</div>

		<ng-container *ngIf="!submitting">
			<div class="share-container"
			style="position: relative;" 
			[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
			<div class="row pt-4" *ngIf="importEmployee">
				<div class="col-12 col-md-12 text-start mb-2">
					<h4 class="title-add">Uploading CSV file</h4>
					<h5 class="title-description"><a href="../../../../../../../assets/files/import-user.csv" download="import-user.csv">{{ 'IMPORT_USERS.INSTRUCTION_MESSAGE' | translate }}</a></h5>
				</div>
			</div>

				<div class="row pt-2" *ngIf="!importEmployee"
				[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
					<div class="col-12 mb-4">
						<h4 class="title-add">{{ 'NEW_USER_ACCESS.INSTRUCTION_MESSAGE' | translate }}</h4>
						<h5 class="title-description">Input the email of the person you want to add to your team</h5>
					</div>
				</div>

				<ng-container *ngIf="!importEmployee && !importing">
					<!-- Error Message -->
					<div class="mt-1 bg-gray max-height-scroll" 
					*ngIf="emailArray?.length > 0 && !importEmployee"
					[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
						<div class="employee-email-container">
							<div class="w-100 employee-email text-start" 
							[@animate]="{value:'*', params:{ y:'-5px', delay:'200ms' }}"
							*ngFor="let item of emailArray">
								{{item.email}}
								<span class="float-end" (click)="removeEmployee(item)">
									<img src="/assets/images/placeholder/icons/remove-gray.png" style="width: 13px;">
								</span>
							</div>
						</div>

						<div class="mt-4">
							<div style="position: relative;" class="mt-2 w-100 text-end">
								<button class="btn w-25 me-3 btn-primary invite-other hvr-grow" 
								(click)="submitInvites()">Invite All</button>
							</div>
						</div>
					</div>

					<ng-container *ngIf="!importEmployee && !importing">
						<!-- Error Message -->
						<form class="px-1" [ngClass]="emailArray?.length > 0 ? 'mt-4' : ''" 
						[formGroup]="inviteForm" 
						[@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}">
							<div class="form-group mt-2">
								<label class="mb-2" >{{ 'NEW_USER_ACCESS.EMAIL_TEXT' | translate }}</label>

								<input type="email" class="form-control" formControlName="email" name="email" placeholder="email@mailer.com">
							</div>

							<div class="mt-4">
								<div style="position: relative;" class="mt-2 text-center">
									<button type="button" 
									class="btn me-3 btn-default hvr-grow" 
									(click)="dialogRef.close()">{{ 'NEW_USER_ACCESS.CANCEL_BUTTON' | translate }} </button>

									<button type="button" 
									class="btn me-1 btn-primary hvr-grow" 
									(click)="addEmployeeEmail()" [disabled]="!inviteForm.valid || !inviteForm.controls['email'].value">{{ 'NEW_USER_ACCESS.ADD_EMAIL_BUTTON' | translate }}</button>
								</div>
							</div>
						</form> 
					</ng-container>
				</ng-container>

				<div class="row pt-4" *ngIf="importEmployee"
				[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
					<input type="file" #csvReader hidden name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
					<div class="uploader-container">
						<div class="row">
							<div class="col-8 text-start">
								<h6>Choose File</h6>
								<span>{{ 'IMPORT_USERS.FILE_UPLOAD_INSTRUCTION' | translate }}</span>
							</div>

							<div class="col-4">
								<button type="button" class="btn btn-uploader"
								[disabled]="document"
								(click)="csvReader.click()">{{ 'IMPORT_USERS.FILE_SELECTOR' | translate }}</button>
							</div>
						</div>
					</div>

					<div class="upload mt-2">
						<div class="preview-file mt-4">
							<h5 class="title-preview">Preview File</h5>
							<div class="mb-3 p-3">
								<div class="d-flex file">
									<div class="img-circle me-3">
										<img src="/assets/images/placeholder/icons/document-upload.png" width="40px">
									</div>

									<div class="w-100 mt-2">
										<div>
											<div class="document-uploaded truncate">{{fileData?.name}}

											</div>


											<img src="/assets/images/placeholder/icons/remove-gray.png" height="15px" *ngIf="fileData"
											class="float-end" (click)="removeDocument()">

											<div class="float-end me-2"
											*ngIf="fileData"
											style="margin-top: -21px;">
												{{(fileData?.size * 0.000001)?.toFixed(1) }}
												MB/50 MB
											</div>
										</div>
										<div class="progress mt-2">
											<div class="progress-bar" role="progressbar"
											[ngStyle]="{ width: (((uploadedFile?.size * 0.000001) / 50) * 100) + '%' }"
											style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div style="position: relative;" class="mt-2 text-center">
								<button type="button" 
								class="btn me-3 btn-default hvr-grow" 
								(click)="dialogRef.close()">Cancel </button>

								<button type="button" *ngIf="document" (click)="uploadFile()" [disabled]="isLoading"
								class="btn me-1 btn-primary hvr-grow">Import Users </button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</ng-container>

		<ng-container *ngIf="submitting">
			<div class="text-center bg-white pb-3" >
				<div class="d-flex w-100  justify-content-center align-self-center" >
					<div class="congrats-circle"
					[@animate]="{value:'*', params:{ scale:'0.1', delay:'400ms' }}">
						<img src="/assets/images/placeholder/icons/congrats.png" style="width: 100px">
					</div>
				</div>

				<div class="text-center" 
				[@animate]="{value:'*', params:{ y:'-20px', delay:'300ms' }}">
					<h5 class="title-congrats">Congratulations! </h5>
					<p class="title-congrats-description">Congratulation for adding a new user to your list. <br>You can still add more user.</p>

					<div *ngIf="invitedUsersList?.length > 0">
						<div class="invites" *ngFor="let item of invitedUsersList">
							<div class="invites--content">
								<div class="invites--status">
									<p><b>Email Address: </b>{{item?.email}}</p>
									<p><b>Message: </b>{{item?.msg}}</p>
									<p><b>Status: </b>{{item?.message}}</p>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="mt-4">
						<div style="position: relative;" class="mt-2 w-100 text-center">
							<button class="btn me-3 btn-primary invite-other hvr-grow" 
							style="width: 200px !important;" 
							(click)="addMoreEmployee()">Add More Users</button>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>