<div class="p-0" style="overflow-x: hidden;">
	<div class="row">
		<div class="row px-5 text-white py-5  bg-banner col-12 col-lg-12">
			<div class="col-12 col-md-12 text-center" 
			[@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}"
			*ngIf="screenSize >= 1600 ? 'col-lg-4' : 'col-lg-6'">
				<h5 class="title-banner" >{{data?.title}}</h5>
				<p class="title-banner-description mb-2">
					<ng-container>
						{{data?.job_role}} /
					</ng-container> {{data?.job_type}} / {{data?.work_setup}} / PHP {{data?.salary_min | number:'1.0':'en-US' }} - PHP {{data?.salary_max | number:'1.0':'en-US' }}
				</p>
			</div>
		</div>
	</div>
</div>
