@import "src/assets/styles/colors";

@mixin center-v () {
  position: absolute;
  //top: 0;
  bottom: -55%;
  //margin: auto;
  z-index: 9999;
  transition: all 1s ease-in-out-back !important;
}

.item {
  &--primary {
    @include center-v;
    //right: 20px;
    //background: green;
  }
  
  &--secondary {
    @include center-v;
    transform: scale(1.1) !important;
    //left: 20px;
  }
}


.btn-primary{
	font-family: 'Circular-Regular' !important;
	// /font-weight: 100 !important;
	border: none;
	padding: 12px 30px !important;
	background: $color-blue-primary !important;
	border-radius: 2px !important;
}

.bg-banner{
	background: url(~/src/assets/images/placeholder/job-post-banner.png);
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-position: 5% 10%;
	background-size: cover;
	background-color: linear-gradient(96.52deg, #F85B4B -3.5%, #F85B4B 44.54%, #F85B4B 128.45%) !important;
	border-radius: 0px;
	position: relative;
	height: 260px;

	@media (max-width: 1099px){
		height: 400px !important;
	}
}


.title-banner{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 37px;
	line-height: 41px;
	/* or 111% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
}

.title-banner-description{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #FFFFFF;
}

.title-details{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	/* identical to box height, or 150% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #fff;
}
