<div class="p-0" style="overflow-x: hidden;">
	<div class="row">
		<div class="row px-5 text-white py-5 bg-banner col-12 col-lg-12">
			<div class="col-12 col-md-12 text-center"
			[@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}"
			*ngIf="screenSize >= 1600 ? 'col-lg-4' : 'col-lg-6'">
				<h5 class="title-banner" >{{selectedJobPost?.title}}</h5>
				<p class="title-banner-description mb-2">
					<ng-container>
						Date Applied: 12-12-2022 /
					</ng-container> {{selectedJobPost?.job_type}} / {{selectedJobPost?.work_setup}} / Expected Salary: PHP {{selectedJobPost?.salary_min | number:'1.0':'en-US' }} - PHP {{selectedJobPost?.salary_max | number:'1.0':'en-US' }}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="p-4" style="margin-top: -120px;">
	<div class="bg-white">
		<div style="position: relative; overflow: hidden;"
		[ngStyle]="{
			'height': !viewMoreJobDetails ? '380px' : '100%'
		}">
			<app-job-details-section
			[jobLists]="jobLists"
			[data]="selectedJobPost"
			[screenSize]="screenSize"></app-job-details-section>
			<div class="bg-opacity" *ngIf="!viewMoreJobDetails"></div>
		</div>

		<div class="text-center mt-1" [@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
			<button class="btn btn-read-more" (click)="viewMore()">
				<ng-container *ngIf="!viewMoreJobDetails">View More</ng-container>
				<ng-container *ngIf="viewMoreJobDetails">Show Less</ng-container>
			 </button>
		</div>
		<br>
	</div>
</div>

<div class="p-4" style="position: relative; margin-top: -30px">
	<app-document-submitted></app-document-submitted>

	<app-answer-to-interview></app-answer-to-interview>
</div>
