<section *ngIf="details$ | async as selectedJobPost">
  <div class="p-0" style="overflow-x: hidden;" id="banner" *ngIf="withBanner">
    <div class="row">
      <div class="row px-5 text-white py-5  bg-banner col-12 col-lg-12">
        <div class="col-12 col-md-12 text-center" [@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}">
          <h5 class="title-banner">{{selectedJobPost?.jobTitle}}</h5>
          <p class="title-banner-description mb-2">
            <ng-container *ngIf="selectedJobPost?.industryId">
              {{selectedJobPost?.industryName}} /
            </ng-container> {{selectedJobPost?.jobTypeName}} / {{selectedJobPost?.workSetupName}} / {{ selectedJobPost.salaryCurrency }}
            {{selectedJobPost?.salaryMinimum | number:'1.0':'en-US' }} - {{ selectedJobPost.salaryCurrency }} {{selectedJobPost?.salaryMaximum |
            number:'1.0':'en-US' }}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-body" style="min-height: 400px;" [@animate]="{value:'*', params:{ y:'10px', delay:'400ms' }}">
    <div class="row">
      <div class="col-9 d-flex flex-row">
        <div class="mb-3 pe-lg-2" *ngFor="let badge of selectedJobPost?.badges; let i = index">
          <div class="d-flex badge-card" [ngClass]="'badge-' + i">
            <img src="/assets/images/placeholder/icons/{{badge?.icon}}" [title]="badge?.name" style="height:30px"
              class="me-2">

            <h5 class="title-badge">{{badge?.name}}</h5>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="d-flex justify-content-end align-items-end mb-3" title="Share now!">


          <div class="bg-applied d-flex"
          *ngIf="userRole == '3' && selectedJobPost.isApplied">
            <img src="/assets/images/placeholder/icons/applied.png"
            class="img-fluid me-2 mt-1" style="height: 30px;">
            <span >
              {{ 'APPLY_PAGE.DUPLICATE_APPLICATION_MESSAGE' | translate }}
            </span>
          </div>

          <button class="btn btn-apply-now w-100" (click)="toApply()" *ngIf="userRole == '3' && !selectedJobPost.isApplied">
            {{ 'APPLY_PAGE.APPLY_NOW_BUTTON' | translate }}
          </button>

          <button class="btn btn-apply-now w-100" (click)="toLogin()" *ngIf="!userRole">
            Login to Apply
          </button>

          <img src="/assets/images/placeholder/icons/share.png" class="img-fluid ms-2"
            style="height: 45px; cursor: pointer;" (click)="getShareableLink(selectedJobPost.jobId)">
        </div>
      </div>

      <div class="col-12 mb-2 mt-2 pe-5 ps-lg-4">
        <div class="job-description mb-3">
          <h5 class="title-job-description">
            <strong> {{ 'APPLY_PAGE.JOB_DESCRIPTION' | translate }}</strong><br>
            {{selectedJobPost?.jobDescription}}
          </h5>
        </div>

        <div class="job-description mb-3">
          <h5 class="title-job-description">
            <strong>{{ 'APPLY_PAGE.DUTIES_RESPONSIBILITIES' | translate }}</strong><br>
            {{selectedJobPost?.jobDuties}}
          </h5>
        </div>

        <div class="job-requirements mb-3">
          <h5 class="title-job-description">
            <strong>{{ 'APPLY_PAGE.REQUIREMENTS' | translate }}</strong>
          </h5>

          <ul>
            <li *ngFor="let item of selectedJobPost?.requirements">
              <h5 class="title-requirements">
                {{item}}
              </h5>
            </li>
          </ul>
        </div>

        <div class="job-requirements mb-4">
          <h5 class="title-job-description">
            <strong>{{ 'APPLY_PAGE.SKILLS_EXPERIENCE' | translate }}</strong>
          </h5>

          <ul>
            <li *ngFor="let item of selectedJobPost?.skills">
              <h5 class="title-requirements">
                {{item}}
              </h5>
            </li>
          </ul>
        </div>

        <hr>

        <div class="job-requirements mb-3">
          <h5 class="title-job-description">
            <strong>{{ 'APPLY_PAGE.BACKGROUND_EDUCATION' | translate }}</strong>
          </h5>

          <ul>
            <li *ngFor="let item of selectedJobPost?.educationalBackground">
              <h5 class="title-requirements">
                {{item}}
              </h5>
            </li>
          </ul>
        </div>

        <div class="job-requirements mb-3">
          <h5 class="title-job-description">
            <strong>{{ 'APPLY_PAGE.ADVANTAGES' | translate }}</strong>
          </h5>

          <ul>
            <li *ngFor="let item of selectedJobPost?.goodToHave">
              <h5 class="title-requirements">
                {{item}}
              </h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-body mt-3" *ngIf="selectedJobPost?.tags.length > 0">
    <div class="row">
      <div class="col-12">
        <div class="job-requirements mb-3">
          <!-- <h5 class="title-job-description mb-0">
              <strong class="me-2">External Link</strong><br>
              <a routerLink="/">Click this link to view job details in other site</a>
            </h5>
 -->

          <h5 class="title-job-description mb-0 mt-3 d-flex">
            <strong class="me-3 mt-1">Tags</strong>

            <div class="tags mt-2">
              <div class="title-tags me-2 mb-2" *ngFor="let tag of selectedJobPost?.tags">{{tag}}</div>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <section class="card card-body my-3">
    <div class="p-1">
      <label class="title-job-interview text-capitalize mb-3">{{ 'APPLY_PAGE.INTERVIEW_QUESTIONS' | translate }}</label>

      <section class="p-2 px-1 mb-1">
        <!-- INTERVIEWS -->
        <div class="row">
          <div class="col-12 col-lg-6" *ngFor="let item of selectedJobPost?.interviewQuestions; let i = index"
            [@animate]="{value:'*', params:{ y:'10px', delay:  (i + 150) + 'ms' }}">
            <!-- <div class="float-end">
							<div class="mt-3 me-2">
								<button class="btn btn-upload me-2">Upload</button>

								<button class="btn btn-record"
								routerLink="/job-post/answer-interview/{{selectedJobPost?.id}}/{{i + 1}}"><img src="/assets/images/placeholder/icons/make-video.png" style="height: 10px" class="me-2">Record Interview</button>
							</div>
						</div> -->
            <div class="interview-card card-body " id="interview-list">
              <div class="d-flex">
                <div class="logo-thumbnail me-3 d-flex align-items-center justify-content-center">
                  <img src="/assets/images/placeholder/icons/interview-logo-4.png">
                </div>

                <div class="logo-thumbnail-2 me-3 d-flex align-items-center justify-content-center">
                  <img src="/assets/images/placeholder/icons/interview-logo-4-active.png">
                </div>

                <div class="mt-2">
                  <p class="title-label-sub">
                    <img src="/assets/images/placeholder/icons/interview-logo-3.png" class="me-2" style="height: 20px;">
                    Question {{i + 1}}
                  </p>
                  <h5 class="title-label">{{item.question}}</h5>
                  <p class="title-label-sub-duration"><span>Estimated Duration:</span> {{item.answerDuration }} minutes
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </section>
    </div>
  </section>
</section>
