<form [formGroup]="jobForm">

  <div class="card card-body py-3">
    <div class="w-100">
      <span class="main-title mt-3">Create a Job</span>

      <div class="float-end">
        <button class="btn btn-save-draft" (click)="saveAsDraft()">
          Save as Draft
        </button>

        <button class="btn btn-add-service mx-2" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4 row">
    <div class="bg-upper-gray col-12 col-md-8">
      <app-main-stepper [stepper]="stepper" [stepperItems]="stepperItems" (changeStepper)="changeStep($event)">
      </app-main-stepper>
    </div>

    <div class="text-end mt-3 col-12 col-md-4">
      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(2, 'initialData')" *ngIf="stepper == 1"
        type="submit">
        Next: Job Requirements
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(1)" *ngIf="stepper == 2">
        Prev: Job Details
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(3, 'jobInfo')" *ngIf="stepper == 2">
        Next: Create Interview
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(2)" *ngIf="stepper == 3">
        Prev: Job Requirements
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(4)" *ngIf="stepper == 3">
        Next: Preview Job Post
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="changeStep(3)" *ngIf="stepper == 4">
        Prev: Create Interview
      </button>

      <button class="btn btn-preview-job-post mx-2" (click)="publishJobPost()" *ngIf="stepper == 4">
        Publish Job Post
      </button>
    </div>

  </div>

  <div class="p-3">
    <ng-container *ngIf="stepper === 1">
      <app-job-post-detail-step (jobPostDetailsEvent)="updateObject($event, 'jobPostDetails')"
        [jobPostDetails]="jobPostData?.jobPostDetails" formGroupName="initialData"></app-job-post-detail-step>

    </ng-container>

    <ng-container *ngIf="stepper === 2">
      <app-create-job-post-step (jobPostIndustryEvent)="updateObject($event, 'jobPostIndustry')"
        [jobPostIndustry]="jobPostData?.jobPostIndustry"></app-create-job-post-step>
    </ng-container>

    <ng-container *ngIf="stepper === 3">
      <app-create-interview-questions
        (jobPostInterviewQuestionsEvent)="updateObject($event, 'jobPostInterviewQuestions')"
        [jobPostInterviewQuestions]="jobPostData?.jobPostInterviewQuestions"></app-create-interview-questions>
    </ng-container>

    <ng-container *ngIf="stepper === 4">
      <app-preview-job-post-step [jobPostData]="jobPostData"></app-preview-job-post-step>
    </ng-container>

  </div>
</form>
