
<div class="container mb-5">
	<div class="bg-banner" >
		<div class="mt-2">

			<div class="pt-5 banner-text">
					<h5 class="title-banner mt-4 mb-2" >Find the job that is</h5>
					<h5 class="title-banner mb-3" >perfect for You</h5>

					<div class="mt-4">
						<button class="btn btn-upload me-2" (click)="redirectToCreate('resume')" *ngIf="userRole == '3'">Upload your resume</button>
            <button class="btn btn-register" *ngIf="!userRole" (click)="redirectToCreate('job')">Register for FREE</button>
					</div>
			</div>
		</div>
	</div>


</div>
