<app-loading *ngIf="(loading$ | async) && !(details$ | async)"></app-loading>

<div *ngIf="details$ | async as companySubs; else noSubs">
  <ng-container *ngIf="companySubs.length != 0">

    <ng-container *ngIf="companySubs[0].subscriptionId == 1; else showSubs">
      <app-subscriptions-list [endDate]="companySubs[0].endAt"></app-subscriptions-list>
    </ng-container>

    <ng-template #showSubs>
      <div class="d-flex w-100">
        <div class="col-12 col-md-7 p-2">
          <div class="card card-body px-4 py-3">
            <div class="d-flex w-100">
              <div class="col-12 col-md-7 p-2">
                <div class="fs-5">
                  <span class="bg-primary-red text-white text-center px-1 py-2 me-1 rounded">
                    {{ companySubs[0].subscriptionName }}
                  </span> Plan
                </div>
                <div class="mt-4 px-4">
                  <ng-container *ngIf="companySubs[0].jobPost >= 0" [ngTemplateOutlet]="bar"
                    [ngTemplateOutletContext]="{max: companySubs[0].jobPost , value: companySubs[0].jobPostCount, label: 'Job Post'}"></ng-container>

                  <ng-container *ngIf="companySubs[0].videoResponse >= 0" [ngTemplateOutlet]="bar"
                    [ngTemplateOutletContext]="{max: companySubs[0].videoResponse , value: companySubs[0].videoResponseCount, label: 'Video Responses'}"></ng-container>

                  <ng-container *ngIf="companySubs[0].admin >= 0" [ngTemplateOutlet]="bar"
                    [ngTemplateOutletContext]="{max: companySubs[0].admin , value: companySubs[0].adminCount, label: 'Admin Users'}"></ng-container>

                </div>
              </div>
              <div class="col-12 col-md-5 p-2 text-center">
                <div class="mb-3">
                  <span class="fs-1 fw-bold">
                    {{ companySubs[0].price | currency: companySubs[0].priceCurrency }}
                  </span>
                  <br>
                  <span class="fs-6">
                    {{ companySubs[0].paymentOccurence }}
                  </span>
                </div>
                <button class="btn btn-primary" (click)="upgrade(companySubs[0].companyId)" style="height: 3rem"
                  *ngIf="companySubs[0].subscriptionId > 1 && companySubs[0].subscriptionId < 4">
                  Upgrade Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 p-2">
          <div class="card card-body h-100 p-4">
            <div class="fs-6 fw-light">
              Next payment on
            </div>
            <div class="fs-5 fw-bold">
              {{ companySubs[0].endAt | date: 'mediumDate' }}
            </div>
            <button class="btn btn-outline-primary w-50 mt-auto" (click)="payNow(companySubs[0].companyId)"
              style="height: 3rem">
              Pay now
            </button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="companySubs.length > 1">
        <div class="mt-4">

          <h5 class="fs-4">History</h5>
          <div class="card card-body px-4 py-3">
            <div class="d-flex w-100 py-2 text-center bg-primary-light">
              <div class="col-12 col-md-2">
                <span class="fs-6 fw-bold">
                  Invoice Date
                </span>
              </div>
              <div class="col-12 col-md-6">
                <span class="fs-6 fw-bold">
                  Details
                </span>
              </div>
              <div class="col-12 col-md-2">
                <span class="fs-6 fw-bold">
                  Paid Amount
                </span>
              </div>
              <div class="col-12 col-md-2">
                <span class="fs-6 fw-bold">
                  Download
                </span>
              </div>
            </div>
            <div class="d-flex w-100 mt-1 py-2 text-center" *ngFor="let sub of companySubs | slice: 1">
              <div class="col-12 col-md-2">
                <span class="fs-6">
                  {{ sub.paymentDate | date: 'mediumDate' }}
                </span>
              </div>
              <div class="col-12 col-md-6">
                <p class="fs-6">
                  {{ sub.subscriptionName }} Plan for {{ sub.createdAt | date: 'mediumDate' }} up to {{ sub.endAt |
                  date:
                  'mediumDate' }}
                </p>
              </div>
              <div class="col-12 col-md-2">
                <span class="fs-6">
                  {{ sub.price | currency: sub.priceCurrency: 'symbol': '1.2-2'}}
                </span>
              </div>
              <div class="col-12 col-md-2">
                <span class="fs-6 cursor-pointer">
                  <a>
                    Invoice {{ sub.paymentDate | date: 'MM-y' }}
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </ng-container>
</div>

<ng-template #noSubs>
  <app-subscriptions-list></app-subscriptions-list>
</ng-template>

<ng-template #bar let-max="max" let-value="value" let-label="label">
  <div class="my-1 w-100 d-flex">
    <div class="col-12 col-md-11">
      <div class="progress w-90">
        <div class="progress-bar" role="progressbar" aria-valuenow="value" aria-valuemin="0" aria-valuemax="max"
          [ngClass]="value == max ? 'bg-danger':'bg-warning'" [class.w-100]="value > 0 && value == max"
          [class.w-25]="(value / max) * 100 >= 25" [class.w-50]="(value / max) * 100 >= 50"
          [class.w-75]="(value / max) * 100 >= 75" [class.w-15]="value >= 1">
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <small>{{ label }}</small>
        <small>{{ value }} / {{ max }}</small>
      </div>
    </div>
    <div class="col-12 col-md-1 text-end cursor-pointer" data-toggle="tooltip" data-placement="bottom"
      [title]="'Consumed all alloted ' + label">
      <span *ngIf="value != 0 && value == max"><i class="bi bi-exclamation-circle text-danger"></i></span>
    </div>
  </div>
</ng-template>
