.bg-pink{
	padding: 60px 30px 150px 30px;
	background: #FFE9E7;
}

.card{
	background: #FFFFFF;
	padding: 0;
	border: 1px solid #f9f9f9;
	border-radius: 15px !important;
	box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.06);
}
