<div class="bg-gray position-relative" *ngIf="!loading">
  <div class="bg-upper-gray">
    <app-main-stepper [stepper]="stepper" [stepperItems]="stepperItems"
      (changeStepper)="saveProgressConfirmation($event)">
    </app-main-stepper>
  </div>
  <div class="text-end submit-container" [@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
    <button class="btn btn-save-draft me-3" *ngIf="applicantProfileId" (click)="redirectToProfile()">Profile Preview</button>
    <!-- <button class="btn btn-save me-2" type="button" (click)="basicInfo.submitForm()" *ngIf="stepper==1"
      [disabled]="basicInfo ? !basicInfo.profileDetailsForm.valid : !basicFormValid">
      Submit Changes</button> -->
      <button class="btn btn-save me-2" type="button" (click)="saveProgressConfirmation(2)" *ngIf="stepper==1"
      [disabled]="basicInfo ? !basicInfo.profileDetailsForm.valid : !basicFormValid">
      Next</button>
      <button class="btn btn-save me-2" type="button" (click)="saveProgressConfirmation(3)" *ngIf="stepper==2">
      Next</button>
  </div>
</div>

<div class="p-4 mt-5">
  <ng-container *ngIf="stepper === 1">
    <app-profile-basic-info [user]="user" (submitBasicInfo)="submitBasicInfo($event)"></app-profile-basic-info>
  </ng-container>
  <ng-container *ngIf="stepper === 2 && applicantProfileId">
    <app-skills-experience [user]="user" [applicantProfileId]="applicantProfileId"></app-skills-experience>
  </ng-container>
  <ng-container *ngIf="stepper === 3 && applicantProfileId">
    <app-docs-videocv [user]="user" [applicantProfileId]="applicantProfileId"></app-docs-videocv>
  </ng-container>
</div>
