<div class="text-end submit-container"
[@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
	<button class="btn btn-save-draft me-2" (click)="getBack()">Back</button>
	<button class="btn btn-save me-2">Publish</button>
</div>


<div class="card card-body mt-3"
[@animate]="{value:'*', params:{ y:'50px', delay:'250ms' }}">
	<div class="row">
		<!-- EMPLOYMENT DETAILS -->
		<div class="col-12">
			<h5 class="title-label">Share with others
				<span class="float-end">
					<button class="btn  btn-save" style="margin-top: -15px !important"
					(click)="inviteInterview()">
						Invite
						<img src="/assets/images/placeholder/icons/add-new.png"
						style="width: 16px;" class="ms-1">
					</button>
				</span>
			</h5>
			<hr style="border: dashed 1px #868686">
		</div>

		<div class="col-12">
			<div class="accordion" id="contactListAccordion">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        Group of contacts
			      </button>
			    </h2>
			    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#contactListAccordion">
			      <div class="accordion-body">
			        <table class="table">
			        	<thead>
			        		<tr>
			        			<th>Name</th>
			        			<th class="d-flex">
			        				<div style="margin-top: 2px !important; margin-left: -20px;">
			        					<mat-checkbox class="remember-me me-2"
			        					[(ngModel)]="selectAllGroup"
			        					(ngModelChange)="selectAll(groupContact, selectAllGroup)">
			        					</mat-checkbox>
			        				</div>
			        				<div>
			        					Select
			        				</div>
			        			</th>
			        		</tr>
			        	</thead>

			        	<tbody>
			        		<tr *ngFor="let item of groupContact">
			        			<td>{{item?.name}}</td>
			        			<td>
			        				<mat-checkbox [(ngModel)]="item.selected"
			        				class="remember-me mt-1">
			        				</mat-checkbox>
			        			</td>
			        		</tr>
			        	</tbody>
			        </table>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        List of individual emails
			      </button>
			    </h2>
			    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#contactListAccordion">
			      <div class="accordion-body">
			        <table class="table">
			        	<thead>
			        		<tr>
			        			<th>Email</th>
			        			<th class="d-flex">
			        				<div style="margin-top: 2px !important; margin-left: -20px;">
			        					<mat-checkbox class="remember-me me-2"
			        					[(ngModel)]="selectAllIndividual"
			        					(ngModelChange)="selectAll(individualEmail, selectAllIndividual)">
			        					</mat-checkbox>
			        				</div>
			        				<div>
			        					Select
			        				</div>
			        			</th>
			        		</tr>
			        	</thead>

			        	<tbody>
			        		<tr *ngFor="let item of individualEmail">
			        			<td>{{item?.email}}</td>
			        			<td>
			        				<mat-checkbox [(ngModel)]="item.selected"
			        				class="remember-me mt-1">
			        				</mat-checkbox>
			        			</td>
			        		</tr>
			        	</tbody>
			        </table>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			        Applicants by latest job application
			      </button>
			    </h2>
			    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#contactListAccordion">
			      <div class="accordion-body">
			        <table class="table">
        				<thead>
        					<tr>
        						<th>Email</th>
        						<th class="d-flex">
        							<div style="margin-top: 2px !important; margin-left: -20px;">
        								<mat-checkbox class="remember-me me-2"
        								[(ngModel)]="selectAllEmail"
        								(ngModelChange)="selectAll(emailByJobPost, selectAllEmail)">
        								</mat-checkbox>
        							</div>
        							<div>
        								Select
        							</div>
        						</th>
        					</tr>
        				</thead>

        				<tbody>
        					<tr *ngFor="let item of emailByJobPost">
        						<td>{{item?.email}}</td>
        						<td>
        							<mat-checkbox [(ngModel)]="item.selected"
        							class="remember-me mt-1">
        							</mat-checkbox>
        						</td>
        					</tr>
        				</tbody>
        			</table>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
