@import "src/assets/styles/colors";

.title-main{
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 22px;
	/* or 215% */

	margin-left: 10px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.edit-details{
	background: rgba(255, 255, 255, 0.84);
	border: 1.28767px solid #E4E4E4;
	border-radius: 10.3014px;
	font-style: normal;
	font-weight: 400;
	font-size: 14.6027px;
	line-height: 16px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #A9A9A9;
	margin-right: 20px;
}