<section id="body-main-container">
	<div class="d-flex" id="body-row">
		<!-- SIDEBAR  -->
		<div class="d-none d-md-block" id="sidebar-container">
      <app-applicant-sidebar [user]="user"></app-applicant-sidebar>

			<!-- <app-applicants-panel-sidebar
			[sidebarWidth]="sidebarWidth"
			></app-applicants-panel-sidebar>  -->
		</div>

		<div id="main-applicant-component">
			<!-- COMPANY/EMPLOYER HEADER -->
			<div style="margin-bottom: 80px; ">
				<app-header [isPublic]="false"
        [isUserLoggedIn]="isUserLoggedIn" [user]="user"></app-header>
			</div>

			<div id="sub-applicant-component">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
