<div class="row">
  <div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'350ms' }}">
    <app-file-upload-document [labelTop]="true" label="{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.COVERLETTER_UPLOAD_BOX' | translate }}" (upload)="getCover($event)">
    </app-file-upload-document>
  </div>

  <div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'450ms' }}">
    <!-- Pre-filled from the applicant's already-uploaded CV (profile setup),
         if one exists -- see ProfileDocumentsComponent.ngOnInit(). -->
    <app-file-upload-document [labelTop]="true" label="{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.RESUME_UPLOAD_BOX' | translate }}" [fileArray]="resumeFileArray" (upload)="getResume($event)">
    </app-file-upload-document>
  </div>

  <div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'550ms' }}">
    <app-file-upload-document [labelTop]="true" label="{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.GOV_FILES_UPLOAD_BOX' | translate }}" (upload)="getGovFile($event)">
    </app-file-upload-document>
  </div>
</div>
