<div class="card card-body mb-3"
[ngStyle]="{ 'min-height' : data.badges.length > 0 ? '500px' : '400px'}"
[@animate]="{value:'*', params:{ y:'-10px', delay: (i * 150) + 'ms' }}">
	<div class="banner-thumbnail" style="position: relative;">
		<img [src]="data?.jobBanner" *ngIf="data.jobBanner; else showDefaultBanner" class="img img-fluid img-banner">

		<ng-template #showDefaultBanner>
			<img src="/assets/images/video-placeholder.png" class="img img-fluid img-banner">
		</ng-template>

		<div class="d-flex p-2 justify-content-center align-items-center bg-white" *ngIf="data.badges.length > 0" style="position: absolute; bottom: -20px; right: 5px; border-radius: 6px; box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.05); cursor: pointer">
			<img src="/assets/images/placeholder/icons/{{badge?.icon}}"
			[title]="badge?.name" class="mx-2"
			*ngFor="let badge of data?.badges; let i = index"
			style="width: 30px">
		</div>
	</div>

	<div class="p-3 py-3 mt-3">



		<h5 class="title-job-title">{{data?.jobTitle}}</h5>
		<p class="title-company cursor-pointer" (click)="companyRedirect()">{{data?.companyName}}</p>

		<div class="d-flex">
			<h5 class="d-flex title-details me-3 ms-1">
				<img src="/assets/images/placeholder/icons/job-icon-type.png" class="me-2" style="width: 15px; height: 15px; margin-top: 4px;">
				{{data?.jobTypeName}}
			</h5>

			<h5 class="d-flex title-details me-2">
				<img src="/assets/images/placeholder/icons/job-icon-type.png" class="me-2" style="width: 15px; height: 15px; margin-top: 4px;">
				{{data?.workSetupName}}
			</h5>
		</div>

		<div class="d-flex mt-1">
			<h5 class="d-flex title-details me-3 ms-1">
				<img src="/assets/images/placeholder/icons/job-icon-address.png" class="me-1" style="width: 17px; height: 17px; margin-top: 3px;">
				{{data?.jobCity}}, {{data?.jobCountry}}
			</h5>

		</div>

		<div class="d-flex mt-1">
			<h5 class="d-flex title-details me-3 ms-1">
				<img src="/assets/images/placeholder/icons/job-icon-salary.png" class="me-2" style="width: 15px; height: 15px; margin-top: 4px;">
				<!-- PHP {{data?.salaryMinimum | number:'1.0':'en-US' }} - PHP {{data?.salaryMaximum | number:'1.0':'en-US' }} -->
        {{data?.salaryMinimum | currency: data.salaryCurrency: 'symbol' }} - {{data?.salaryMaximum | currency: data.salaryCurrency: 'symbol' }}
			</h5>
		</div>

		<div class="tags mt-2">
			<div class="title-tags me-2 mb-2" *ngFor="let tag of data?.tags">{{tag}}</div>
		</div>

		<div class="w-100" [ngClass]="data?.tags?.length < 3 ? 'mt-2' : 'mt-2'">
			<button class="btn btn-primary d-block w-100 hvr-grow"
			(click)="applyNow(data)">Apply Now</button>
		</div>
	</div>
</div>
