<div class="p-4"></div>
<div class="bg-gray" *ngIf="!loading">
  <div style="position: relative;">
    <div class="bg-upper-gray">
      <app-main-stepper [stepper]="stepper" [stepperItems]="stepperItems" (changeStepper)="saveProgress($event)">
      </app-main-stepper>

      <div class="text-end submit-container" [@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
          <button class="btn btn-save-draft me-3" *ngIf="applicantId"
          (click)="redirectToProfile()">Profile Preview</button>
        <button class="btn btn-save me-2" type="button" (click)="submitProfile()"
        [disabled]="!profileForm.controls.profileDetailsForm.valid">
          Submit Changes</button>
      </div>
    </div>

    <form [formGroup]="profileForm">
      <div class="p-4" style="margin-top: 10px;">
        <ng-container *ngIf="stepper === 1">
          <app-profile-details-form formGroupName="profileDetailsForm"></app-profile-details-form>
        </ng-container>

        <ng-container *ngIf="stepper === 2">
          <!-- <app-experience-qualification formGroupName="profileArraysForm"></app-experience-qualification> -->
          <app-skills-and-exp formGroupName="profileArraysForm"
          (initiateSaving)="submitProfile()"></app-skills-and-exp>
        </ng-container>

        <ng-container *ngIf="stepper === 3">
          <app-documents formGroupName="profileDocuments"></app-documents>
        </ng-container>
      </div>
    </form>
  </div>
</div>
