<div class="p-4">
	<div class="w-100">
		<button class="btn btn-back float-end me-2" (click)="goBack()" style="margin-top: -15px">Back</button>

		<div class="mt-4 ms-1">
			<p class="breadcrumb-label"  style="margin-top: -20px">
				<img src="/assets/images/placeholder/icons/home.png" style="height: 14px; margin-top: -3px;" class="me-2">
				<span routerLink="/company/jobs">Jobs</span> /
				<span routerLink="/company/jobs/details/{{selectedApplicant?.job_id}}">{{selectedApplicant?.job_id}}</span> /
				<span routerLink="/company/jobs/{{selectedApplicant?.job_id}}/applicants">Applicants</span>
				/ Details
			</p>
		</div>		
	</div>

	<app-applicant-details-avatar
	[selectedApplicant]="selectedApplicant">
	</app-applicant-details-avatar>

	<app-applicant-details-main
	[selectedApplicant]="selectedApplicant">
	</app-applicant-details-main>
</div>