.btn-back{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #a9a9a9;
	background: #FFFFFF;
	border: 1px solid #a9a9a9;
	border-radius: 7px;
	padding: 7px 20px !important;
	margin-bottom: 10px;

}