.btn-back{
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 23px;

	color: #a9a9a9;
	background: #FFFFFF;
	border: 1px solid #a9a9a9;
	border-radius: 7px;
	padding: 7px 25px !important;
	margin-bottom: 10px;

}

.breadcrumb-label{
	letter-spacing: 1.5px;

	span{
		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
