<form [formGroup]="profileDetailsForm" (ngSubmit)="onSubmit()">
  <div class="text-end submit-container" [@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
    <button class="btn btn-save me-2">Submit Changes</button>
  </div>

  <div class="card card-body mt-3">

    <div class="row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
      <!-- CONTACT DETAILS -->
      <div class="col-12 mt-2">
        <h5 class="title-label">Main Account</h5>
        <hr style="border: dashed 1px #868686">
      </div>

      <div class="col-12 col-lg-6 mb-3">
        <div class="title-container mb-3">
          <label>First Name</label>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="George" formControlName="firstName">
          </div>
        </div>

        <div class="title-container mb-3">
          <label>Email</label>

          <div class="form-group">
            <input type="email" class="form-control" placeholder="sample.email@gmail.com" formControlName="email">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mb-3">
        <div class="title-container mb-3">
          <label>Last Name</label>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Cruz" formControlName="lastName">
          </div>
        </div>

        <div class="title-container mb-3">
          <label>Password</label>

          <div class="container-input flex-wrap">
            <input type="password" class="form-control" placeholder="***********">
            <button  (click)="changePw()" class="btn btn-primary float-end">Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
