@import "src/assets/styles/colors";

.initial-thumbnail {
  font-size: 14px;
  // line-height: 2;
  color: $color-global-red-buttons;
  padding: 5px;
  text-align: center;
  border: 2px solid $color-global-red-buttons;
  line-height: 25px;
}

.initial-thumbnail-inner {
  font-size: 14px;
  height: 38px;
  width: 41px;
  margin-top: 5px;
  margin-right: 10px !important;
  border-radius: 50%;
  // line-height: 2;
  background: rgba(255,255,255,0.8);
  color: $color-global-red-buttons;
  padding: 4px 3px !important;
  text-align: center;
  border: 2px solid $color-global-red-buttons !important;
  line-height: 25px;
}


.sidebar-details{
	position: sticky !important;
	top: 0px !important;
	left: 30px;
	width: 250px;
}

.card{
	border: none !important;
	//min-width: 250px;
	//background: #FFFFFF;
	border-radius: 0px;
	box-shadow: none;
}

.bg-menu{
	background: #1D2549;
}

.bg-user{
	background: #0D163E;
	box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	position: absolute;
	bottom: 35px;
	min-width: 230px;
	max-width: 230px;
}

.copy-right{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */

	/*letter-spacing: 0.2px;*/

	color: #FFFFFF;
	position: absolute;
	bottom: 0px;
	left: 70px;

}

.img-logo{
	width: 100px;
}

.bg-logo{
	background: white;
	border-bottom-right-radius: 30px;
}

.img-avatar{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 2px;
	margin-bottom: 10px;

	&-full-name{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		/* identical to box height */

		/*letter-spacing: 0.2px;*/

		color: #FFFFFF;
	}

	&-full-email{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */

		/*letter-spacing: 0.2px;*/

		color: #FFFFFF;
	}

	&-button{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		/* identical to box height */

		font-weight: 500;
		color: #1D2549;
		background: #BEF245;
		border-radius: 9px;
	}
}

.bg-gray{
	background-color: $color-global-sidebar-applicant-gray !important;
}


.sidebar{
	&-icon{
		margin-right: 10px;
	}

	&-title{
		color: #FFFFFF;
		cursor: pointer;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height */

		/*letter-spacing: 0.2px;*/


		&:hover{
			color: #FFFFFF;
			font-weight: 500;
			transition: all 0.4s ease !important;
		}

	}

	&-title-active{
		color: #fff !important;
		cursor: pointer;
		background: #1666BA;
		border-radius: 9px;
		padding: 10px 15px 5px 5px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
		/*letter-spacing: 0.2px;*/
		
		&:hover{
			color: $color-global-red-buttons;
			font-weight: 500;
			transition: all 0.4s ease !important;
		}
	}
}

.dashboard{
	width: 15px;
	height: 15px;
}

.jobs{
	width: 14px !important;
	height: 17px !important;
	margin-top: -2px;
}

.applicants{
	width: 15px !important;
	height: 17px !important;
	margin-top: -3px;
}

.accounts{
	width: 14px !important;
	height: 13px !important;
	margin-top: -3px;
}

.subscription{
	width: 22px !important;
	height: 22px !important;
	margin-top: -3px;
	margin-left: -2px;
}

.interviews{
	width: 16px !important;
	height: 16px !important;
	//margin-top: -1px;
}

.expired{
	width: 15px !important;
	height: 15px !important;
	margin-top: -5px;
}




.btn-sub-route{
	color: white;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height */
	border: none;
	/*letter-spacing: 0.2px;*/
	padding-left: 10px !important;
	padding-bottom: 10px !important;

	&:hover{
		border: none;
	}
}

.active-sub-route{
	border-bottom: dashed white 1px;
	margin-left: 35px;
	margin-right: 20px;
}

.inactive-sub-route{
	margin-left: 35px;
	margin-right: 20px;
}


.active-sub-route{
	//border-bottom: dashed white 1px;
	margin-left: 20px;	
	margin-right: 20px;

	padding-left: 15px !important;
	color: #fff;
	background: $color-global-sidebar-employer-route-active;
	border-radius: 9px;
}

.inactive-sub-route{
	margin-left: 20px;	
	margin-right: 20px;
	padding-left: 15px !important;
}




/* ————————————————————–
  Tree core styles
*/

.inactive-caret{
	height: 13px;
	right: 35px;
	margin-top: 5px;
	//top: 10px;
	position: absolute;
	transition: all 0.3s ease !important;
}

.active-caret{
	height: 13px;
	right: 35px;
	margin-top: 5px;
	//top: 10px;
	position: absolute;
	transform: rotate(90deg);
	transition: all 0.3s ease !important;
}

.tree { 
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);

}

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/
.tree li {
  line-height: 20px;
  position: relative;
  padding: 0 0 25px 10px;
}

.tree ul li { padding: 8px 0 0 14px;  }

.tree > li:last-child { padding-bottom: 5px; }

/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
  padding: 8px 0px;
  width: 100%;
  z-index: 9;
}

.sub-label{
	//background: #ACEAE3;
	margin-top: -20px;
	padding: 8px 20px;
	border-radius: 0px;
	cursor: pointer;
	width: 100%;
	z-index: 99;
	color: rgba(#E7FFF2, 0.7);
	margin-left: -5px;
	//margin-bottom: 0 !important;
}

.sub-label-active{
	background: #0D163E;
	color: #E7FFF2;
	border-radius: 9px;
}

label.tree_label { 
	cursor: pointer; 

}

label.tree_label:hover { color: #666; }

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 14px 0 -27px;
  width: 14px;
  height: 14px;
  border-radius: 0;
  content: '+';
  text-align: center;
  line-height: .9em;
}

:checked ~ label.tree_label:before { content: '–'; }

/* ————————————————————–
  Tree branches
*/
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  display: block;
  width: 0;
  border-left: 2px solid rgba(#E7FFF2, 0.7);
  content: "";
  }

.tree_label:after {
  position: absolute;
  top: 0;
  left: -29px;
  display: block;
  height: 0.5em;
  width: 20px;
  border-bottom: 2px solid rgba(#E7FFF2, 0.7);
  border-left: 2px solid rgba(#E7FFF2, 0.7);
  border-radius: 0 0 0 0px;
  content: '';
  }

label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 2px solid $color-global-sidebar-employer-sub-route-button;
  border-right: 2px solid $color-global-sidebar-employer-sub-route-button;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
  }

.tree li:last-child:before {
  height: 14px;
  bottom: auto;
  }

.tree > li:last-child:before { display: none; }

.tree_custom {
  display: block;
  background: #eee;
  padding: 14px;
  border-radius: 0.3em;
}