<div class="sidebar-details">
	<div style="position: relative; height: 100vh;">
		<div class="card card-body bg-logo text-center d-flex align-items-center"
		style="height: 120px; cursor: pointer;">
			<img src="assets/images/placeholder/logo.png" class="hvr-grow img-logo img-fluid"
			[@animate]="{value:'*', params:{ scale:'0.95', delay:'200ms' }}" routerLink="/jobs">
		</div>

		<div class="card card-body p-3 mt-3 bg-menu"
		[@animate]="{value:'*', params:{ scale: '0.95', delay:'200ms' }}">

			<ng-container *ngFor="let item of sidebarItems">
				<div class="w-100 d-flex mb-3"
				[ngClass]="location?.match(item?.route)
				? 'sidebar-title-active'
				: location?.match('expired') && item?.route === 'jobs/expired'
				? 'sidebar-title-active'
				: ''"

				(click)="changeRoute('/recruiter/' + item?.route)">
					<div class="sidebar-icon ms-lg-3" style="width: 20px">
						<img [src]="'assets/images/placeholder/icons/company-panel-' + item?.icon"
						[ngClass]="item?.class">
					</div>
					<h5 class="sidebar-title">{{item?.title}}</h5>
				</div>

				<ng-container *ngIf="item?.sub_routes?.length > 0 && location?.match(item?.route)">
					<ng-container *ngFor="let sub_route of item?.sub_routes">
						<div [@animate]="{value:'*', params:{ scale:'0.95', delay:'200ms' }}"
						[ngClass]="location === ('/recruiter/' + sub_route?.route) ? 'active-sub-route' : 'inactive-sub-route'"
						style="margin-top: -10px; margin-bottom: 19px;">
							<button class="btn btn-sub-route"
							(click)="changeRoute('/recruiter/' + sub_route?.route)">
								{{sub_route?.title}}
							</button>
						</div>
					</ng-container>
				</ng-container>
			</ng-container>
		</div>

		<div class="px-2">
			<div class="card card-body py-4 bg-user" *ngIf="employee$ | async as employee"
			[@animate]="{value:'*', params:{ y: '-10px', delay:'200ms' }}">
				<div class="d-flex" *ngIf="screenHeight > 610">
					<img src="assets/images/face-6.jpg" class="img-avatar me-2">

					<div class="mt-1">
						<h5 class="img-avatar-full-name text-capitalize">{{ employee.firstName + ' ' + employee.lastName }}</h5>
						<h5 class="img-avatar-full-email text-truncate">{{ employee.companyName }}</h5>
					</div>
				</div>

				<button class="btn img-avatar-button mt-2" routerLink="/recruiter/company/settings">Settings</button>
			</div>

			<h5 class="text-center copy-right mt-1">
				© 2022 Gethired
			</h5>
		</div>
	</div>
</div>
