@import "src/assets/styles/colors";

.sidebar-details{
	position: sticky !important;
	top: 0px !important;
	left: 30px;
	width: 250px;
}

.card{
	border: none !important;
	//min-width: 250px;
	//background: #FFFFFF;
	border-radius: 0px;
	box-shadow: none;
}

.bg-menu{
	background: #1D2549;
}

.bg-user{
	background: $color-global-sidebar-employer-user-menu;
	box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	position: absolute;
	bottom: 35px;
	min-width: 230px;
	max-width: 230px;
}

.copy-right{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */

	/*letter-spacing: 0.2px;*/

	color: #FFFFFF;
	position: absolute;
	bottom: 0px;
	left: 70px;

}


.img-logo{
	padding-top: 10px;
	width: 180px;
}

.bg-logo{
	background: #fff;
	border-bottom-right-radius: 0px;
}

.img-avatar{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 10px;
	margin-right: 10px;

	&-full-name{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 17px;
		/* identical to box height */

		letter-spacing: 0.2px;

		color: #FFFFFF;
	}

	&-full-email{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */

		letter-spacing: 0.2px;

		color: #FFFFFF;
	}

	&-button{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height */


		color: #fff;
		background: #368CE7;
		border-radius: 9px;
	}
}

.bg-gray{
	background-color: $color-global-sidebar-applicant-gray !important;
}


.sidebar{
	&-icon{
		margin-right: 10px;
	}

	&-title{
		color: #FFFFFF;
		cursor: pointer;

		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height */

		letter-spacing: 0.2px;

		h5{
			color: #fff !important;
		}

		&:hover{
			color: #FFFFFF;
			font-weight: 500;
			transition: all 0.4s ease !important;
		}

	}

	&-title-active{
		color: #03002E !important;
		cursor: pointer;
		background: #BFD756;
		border-radius: 9px;
		padding: 10px 15px 5px 5px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;

		h5{
			color: #03002E !important;
			font-weight: 600 !important;
		}

		&:hover{
			color: #03002E;
			font-weight: 500;
			transition: all 0.4s ease !important;
		}

	}
}

.dashboard{
	width: 15px;
	height: 15px;
	margin-top: -3px !important;
}

.jobs{
	width: 14px !important;
	height: 17px !important;
	margin-top: -2px;
}

.inbox{
	width: 15px !important;
	height: 17px !important;
	margin-top: -3px;
}

.profile{
	width: 20px !important;
	height: 16px !important;
	margin-top: -2px;
}

.interviews{
	width: 16px !important;
	height: 16px !important;
	//margin-top: -1px;
}

.expired{
	width: 16px !important;
	height: 16px !important;
	margin-top: -3px;
}



.initial-thumbnail-inner {
  font-size: 14px;
  height: 40px;
  width: 40px;
  margin-top: 4px;
  margin-right: 10px !important;
  border-radius: 50%;
  // line-height: 2;
  color: $color-global-red-buttons;
  padding: 5px;
  text-align: center;
  border: 2px solid $color-global-red-buttons;
  line-height: 25px;
}
