@import "src/assets/styles/colors";

.banner-image {
  border-radius: 0 !important;
  object-position: right;
  height: 270px;
  width: auto;
  object-fit: cover;
}

.bg-banner {
  background: url(~/src/assets/images/placeholder/company-panel-dashboard.png);
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-color: linear-gradient(
    96.52deg,
    #f85b4b -3.5%,
    #f85b4b 44.54%,
    #f85b4b 128.45%
  ) !important;
  border-radius: 0px;
  height: 260px;

  @media (max-width: 1099px) {
    height: 400px !important;
  }
}

.title-banner {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  font-feature-settings: "ss04" on, "ss03" on, "ss02" on;

  color: #ffffff;
}

.title-banner-description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  font-feature-settings: "ss04" on, "ss03" on, "ss02" on;

  color: #ffeeec;
  margin-bottom: 0;
}

.company-logo {
  &-image {
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px #f8f8f8;


    &:hover {
      border: solid 3px #f8f8f8;
      transition: all 0.2s !important;
      transform: scale(1.1);
    }
  }
}

.green{
  background: #036D3D;

  transition: all 0.4s ease !important;

  &:hover{
    background: white;
    border: solid 2px #036D3D;
    padding: 18px 12px 8px 15px;
    transition: all 0.2s ease !important;

    /*.title-card{
      color: #036D3D;
    }

    .title-stat{
      color: #036D3D;
    }*/

    .title-card, .title-stat, .subheading{
      color: #036D3D !important
    }
  }

  img{
    background: #036D3D;
    border-radius: 50%;
  }
}

.orange{
  background: #004D26;

  &:hover{
    background: white;
    border: solid 2px #004D26;
    padding: 18px 12px 8px 15px;
    transition: all 0.2s ease !important;

    /*.title-card{
      color: #004D26;
    }*/

    .title-card, .title-stat, .subheading{
      color: #004D26 !important
    }
  }


  img{
    background: #004D26;
    border-radius: 50%;
  }
}

.yellow{
  background: #407700;

  &:hover{
    background: white;
    border: solid 2px #407700;
    padding: 18px 12px 8px 15px;
    transition: all 0.2s ease !important;

    .title-card, .title-stat, .subheading{
      color: #407700;
    }
  }


  img{
    background: #407700;
    border-radius: 50%;
  }

}


.card-application {
  border-radius: 15px;
  padding: 18px 12px 5px 15px;
  cursor: pointer;
  height: 110px;
}

.card-application-interview {
  border-radius: 15px;
  padding: 20px 12px 10px 15px;
  cursor: pointer;
  height: 110px;
  @media (min-width: 990px) {
    height: 125px !important;
    padding-top: 12px !important;

    .card-img {
      margin-top: 3px !important;
    }
  }
}

.title-card {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15.5px;
  line-height: 21px;
  /* identical to box height, or 131% */
  font-feature-settings: "ss04" on, "ss03" on, "ss02" on;

  color: #ffffff;
  position: relative;

  .card-img {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-stat {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  /* or 166% */
  margin-top: 20px;
  display: flex;
  font-feature-settings: "ss04" on, "ss03" on, "ss02" on;

  color: #ffffff;
}
