<div style="overflow: hidden; position: relative;" [ngStyle]="{
	'height': profileSummary ? '650px' : '100%'
}">
  <app-applicant-details [user]="profile"></app-applicant-details>

  <!-- <app-profile-preview></app-profile-preview> -->
  <div class="bg-opacity" *ngIf="profileSummary"></div>
</div>

<div class="text-center mt-3" [@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
  <button class="btn btn-read-more" (click)="viewMore()">
    <ng-container *ngIf="profileSummary">View More</ng-container>
    <ng-container *ngIf="!profileSummary">Show Less</ng-container>
  </button>
</div>

<div id="profile-document">
  <div class="card card-body mt-3">
    <h5>Documents</h5>
    <hr style="border: dashed 1px #969696">

    <!-- <app-profile-documents formGroupName="profileDocs"></app-profile-documents> -->
  </div>
</div>

<div>
  <!-- <app-job-details-answer-interview></app-job-details-answer-interview> -->
</div>

