<div class="p-4">
	<div class="card">
		<div class="card-title">
			<span class="float-end">
				<div class="d-flex">
					<div class="dropdown me-2">
					  <button class="btn btn-dropdown dropdown-toggle mt-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="#">All</a></li>
					    <li><a class="dropdown-item" href="#">Unread</a></li>
					    <li><a class="dropdown-item" href="#">Archive</a></li>
					  </ul>
					</div>

					<div class="search-div me-1">
						<div class="input-group">
						  <img src="/assets/images/placeholder/icons/search.png">
						  
						  <input type="text" class="form-control" placeholder="Search" aria-label="Search" >
						</div>
					</div>
				</div>
			</span>
			<h5 class="title-header mt-3">Job Opening ({{jobLists?.length}}) </h5>
		</div>

		<div class="card-body">
			<ng-container *ngFor="let item of jobLists; let i = index">
				<section class="bg-email hvr-underline-from-center w-100"
				(click)="viewDetails(item?.id)"
				[@animate]="{value:'*', params:{ y:'-10px', delay: i * 150 + 'ms' }}">
					<div class="d-flex px-1 ps-3">
						<div class="logo-thumbnail me-3 d-flex align-items-center justify-content-center">
							<img [src]="item?.banner_thumbnail">
						</div>

						<div class="mt-2 me-5" style="width: 400px">
							<h5 class="title-label">{{item?.title}}</h5>
							<p class="title-label-sub">{{item?.job_type}} / {{item?.work_setup}} / {{item?.address}} </p>

							<p class="title-label-sub">Date Applied: {{item?.date_applied | date: 'MMMM dd, yyyy'}}</p>
						</div>

						<div class="me-4 mt-3 text-center" style="width: 400px">
							<div class="tags mt-2">
								<div class="title-tags me-2 mb-2" *ngFor="let tag of item?.tags">{{tag}}</div>
							</div>

						</div>

						<div class="me-4 d-flex justify-content-end align-items-center " style="width: 250px;">
							<button class="btn btn-archive me-2">
								<img src="/assets/images/placeholder/icons/archive-white.png" style="height: 13px; margin-right: 3px; margin-top: -3px;">
								Archive
							</button>
						</div>
					</div>
				</section>

				
			</ng-container>
		</div>
	</div>
</div>