<section id="body-main-container">
	<div class="d-flex" id="body-row">
		<!-- SIDEBAR  -->
		<div class="d-none d-md-block" id="sidebar-container">
			<app-company-panel-sidebar
			[sidebarWidth]="sidebarWidth"
			></app-company-panel-sidebar> 
		</div>

		<div id="main-company-component">
			<!-- COMPANY/EMPLOYER HEADER -->	
			<div style="margin-bottom: 80px; ">
				<app-company-panel-header></app-company-panel-header>
			</div>

			<div id="sub-company-component">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>