<section id="body-main-container">
<!-- AGENCY MANAGER HEADER -->
	<app-company-panel-header></app-company-panel-header>

	<div class="d-flex ps-4" id="body-row">

		<!-- SIDEBAR  -->
		<div class="d-none d-md-block" id="sidebar-container">
			<app-company-panel-sidebar
			[sidebarWidth]="sidebarWidth"
			></app-company-panel-sidebar> 
		</div>

		<div class="" id="main-company-component">
			<!-- HEADER -->
			<!-- <app-agency-manager-panel-header
			></app-agency-manager-panel-header> --> 

			<div id="sub-company-component">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>