<div class="main-banner" [@animate]="{value:'*', params:{ y:'-10px', delay: (150) + 'ms' }}" style="min-height: 400px;">
  <div class="row bg-details">
    <div class="col-12 col-lg-12 d-flex flex-column justify-content-center">
      <h5 class="title-company-description">
        A Company has to be set up in order to use most of the App functionality
      </h5>
      <button class="btn btn-review text-center mt-2"
      (click)="redirectToSetup()">Setup Company</button>

    </div>
  </div>
</div>
