<div class="card card-body">
  <!-- STEPPER CONTAINER changeStepper-->
  <app-main-stepper [stepper]="stepper" [stepperItems]="stepperItems" (changeStepper)="changeStep($event)">
  </app-main-stepper>

  <!-- STEPPER STEPS -->
  <section>
    <form [formGroup]="applicationForm">
      <div class="row" *ngIf="profile$ | async as profile; else noProfile">
        <div class="col-12 col-md-12 col-lg-12" *ngIf="stepper != 3">
          <app-applicant-avatar [user]="profile"></app-applicant-avatar>
        </div>

        <div class="col-12 col-md-12 col-lg-12">
          <ng-container *ngIf="stepper === 1">
            <app-applicant-details [user]="profile"></app-applicant-details>
          </ng-container>

          <ng-container *ngIf="stepper === 2">
            <div class="card card-body mt-3">
              <app-profile-documents formGroupName="profileDocs"></app-profile-documents>
            </div>
          </ng-container>

          <ng-container *ngIf="stepper === 3">
            <app-interview-questions [interviews]="job.interviewQuestions"></app-interview-questions>
          </ng-container>

          <ng-container *ngIf="stepper === 4">
            <!-- <app-application-preview></app-application-preview> -->
          </ng-container>
        </div>
      </div>
    </form>

    <ng-template #noProfile></ng-template>
  </section>
</div>
