<div class="p-2">
  <h5 class="title-main">Audio Settings</h5>
  <div class="form-group my-3">
    <label>Microphone</label>
    <select class="form-select" [(ngModel)]="audioSrc" (ngModelChange)="emitValue($event, 'audioIn')">
      <option *ngFor="let item of audioInputDevices; let i = index" [ngValue]="item.deviceId">
        {{item?.label}}</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label>Speaker/Audio Output</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="audioOut"
      (ngModelChange)="emitValue($event, 'audioOut')">
      <option *ngFor="let item of audioOutputDevices; let i = index" [ngValue]="item.deviceId">
        {{item?.label}}</option>
    </select>
  </div>

  <h5 class="title-main">Video Settings</h5>
  <div class="form-group mt-3">
    <label>Camera</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="videoSrc"
      (ngModelChange)="emitValue($event, 'videoSrc')">
      <option *ngFor="let item of videoDevices; let i = index" [ngValue]="item.deviceId">
        {{item?.label}}</option>
    </select>
  </div>
</div>
