<div class="card card-body" style="min-height: 400px;">
	<div class="row">
		<div class="col-9 row ">
			<div class="col-12 col-md-4 mb-3 pe-lg-2" 
			*ngFor="let badge of data?.badge; let i = index">
				<div class="d-flex badge-card" [ngClass]="'badge-' + i">
					<img src="/assets/images/placeholder/icons/{{badge?.logo}}.png" 
					[title]="badge?.title"
					style="height:30px" class="me-2">

					<h5 class="title-badge">{{badge?.title}}</h5>
				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="d-flex mb-3">
				<button class="btn btn-apply-now w-100">Apply now</button>

				<img src="/assets/images/placeholder/icons/share.png" class="img-fluid ms-2" style="height: 45px; cursor: pointer;">
			</div>
		</div>

		<div class="col-12 mb-2 mt-2 pe-5 ps-lg-4">
			<div class="job-description mb-3">
				<h5 class="title-job-description">
					<strong>Job Description</strong><br>
					{{data?.job_description}}
				</h5>
			</div>

			<div class="job-description mb-3">
				<h5 class="title-job-description">
					<strong>Duties and Responsibilities</strong><br>
					{{data?.job_duties}}
				</h5>
			</div>

			<div class="job-requirements mb-3">
				<h5 class="title-job-description">
					<strong>Requirements</strong>
				</h5>

				<ul>
					<li *ngFor="let item of data?.skill_requirements">
						<h5 class="title-requirements">
							{{item}}
						</h5>
					</li>
				</ul>
			</div>

			<div class="job-requirements mb-4">
				<h5 class="title-job-description">
					<strong>Skills & Experience</strong>
				</h5>

				<ul>
					<li *ngFor="let item of data?.skill_experience">
						<h5 class="title-requirements">
							{{item}}
						</h5>
					</li>
				</ul>
			</div>

			<hr>

			<div class="job-requirements mb-3">
				<h5 class="title-job-description">
					<strong>Educational Background</strong>
				</h5>

				<ul>
					<li *ngFor="let item of data?.education_requirements">
						<h5 class="title-requirements">
							{{item}}
						</h5>
					</li>
				</ul>
			</div>

			<div class="job-requirements mb-3">
				<h5 class="title-job-description">
					<strong>Good to Have</strong>
				</h5>

				<ul>
					<li *ngFor="let item of data?.other_requirements">
						<h5 class="title-requirements">
							{{item}}
						</h5>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="card card-body mt-3">
	<div class="row">
		<div class="col-12">
			<div class="job-requirements mb-3">
				<h5 class="title-job-description mb-0">
					<strong class="me-2">External Link</strong><br>
					<a routerLink="/">Click this link to view job details in other site</a>
				</h5>

				
				<h5 class="title-job-description mb-0 mt-3 d-flex">
					<strong class="me-3 mt-1">Tags</strong>

					<div class="tags mt-2">
						<div class="title-tags me-2 mb-2" *ngFor="let tag of data?.tags">{{tag}}</div>
					</div>
				</h5>
			</div>
		</div>
	</div>
</div>
