.card{
	background: #FFFFFF;
	border: 1px solid rgba(231, 231, 231, 0.65);
	/* shawos */

	box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	padding: 30px 10px 20px 30px;
}

.title-badge{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	padding-top: 7px;
	color: #000000;
}

.title-details{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height, or 150% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #666666;
}

.title-job-description{

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #666666;

	strong{
		color: #000 !important;
		font-weight: 500 !important;
		font-size: 16px !important;
		line-height: 35px !important;
	}

	a{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		text-decoration: none;
		margin-top: 7px !important;
		color: #5B8FDE !important;

		&:hover{
			text-decoration: underline;
		}
	}
}

.title-requirements{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: #666666;
}

.btn-apply-now{
	background: #FF7062;
	border-radius: 5px;
	color: white;
	padding: 9px;
}

.badge-card{
	width: 100%;;
	border-radius: 5px;
	padding: 10px 10px 7px 15px;
}

.badge-0{
	@extend .badge-card;
	background: #E1E7FF;
}

.badge-1{
	@extend .badge-card;
	background: #CCFBF1;
}

.badge-2{
	@extend .badge-card;
	background: #FFF1CC;
}

.badge-3{
	@extend .badge-card;
	background: #FFCCE4;
}

.badge-4{
	@extend .badge-card;
	background: #E6F7D9;
}

.badge-5{
	@extend .badge-card;
	background: #EBE6FE;
}

.tags{
	display: flex;
  	flex-wrap: wrap;
}

.title-tags{
	background: #F3F2F1;
	border-radius: 5px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */
	padding: 5px 10px;
	//max-width: 130px;
	color: #6A6A6A;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}