<app-applicant-avatar></app-applicant-avatar>


<div class="card card-body mt-3">
	<div class="row">
		<div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'350ms' }}">
			<!-- <h5 class="mb-2 title-main">Upload Cover Letter <span>(Optional)</span></h5>
 -->
			<app-file-upload-document
			[labelTop]="true"
			label="Browse Cover Letter"></app-file-upload-document>
		</div>

		<div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'450ms' }}">
			<!-- <h5 class="mb-2 title-main">Upload CV/Resume <strong class="text-danger">*</strong></h5>
 -->
			<app-file-upload-document
			[labelTop]="true"
			label="Browse Resume"></app-file-upload-document>
		</div>

		<div class="col-12 col-lg-12 mb-5" [@animate]="{value:'*', params:{ x:'10px', delay:'550ms' }}">
			<!-- <h5 class="mb-2 title-main">Government Files <span>(Optional)</span></h5>
 -->
			<app-file-upload-document
			[labelTop]="true"
			label="Browse Government Files"></app-file-upload-document>
		</div>
	</div>
</div>