<app-profile-readiness-panel [applicant]="applicant"></app-profile-readiness-panel>
<app-recommended-jobs [applicant]="applicant"></app-recommended-jobs>

<section *ngIf="profile$ | async as profile; else noProfile">
  <app-applicant-panel-banner [cardDetails]="cardDetails" [details]="profile"></app-applicant-panel-banner>

  <app-applicant-stat-chart [charts]="charts" *ngIf="charts"></app-applicant-stat-chart>

  <!-- <app-applicant-stat-total [totals]="charts?.totalJobApplication"></app-applicant-stat-total> -->
</section>

<div class="alert" [class.visible]="isVisible" *ngIf="isVisible">
  <h5>{{ 'APPLICANT_DASHBOARD.POP_UP_MESSAGE' | translate }}</h5>
  <u (click)="redirectToEdit()" class="cursor-pointer">{{ 'APPLICANT_DASHBOARD.UPDATE_PROFILE' | translate }}</u>

  <button class="btn" (click)="closeSnackbar()"><i class="bi bi-x"></i></button>
</div>

<ng-template #noProfile>
  <section class="gh-dash-empty-state text-center p-5 w-100">
    <img src="assets/images/showcase.png" class="w-25" alt="" />
    <h5 class="my-2">{{ 'APPLICANT_DASHBOARD.UPDATE_PROFILE' | translate }}</h5>
    <button type="button" class="gh-dash-empty-cta" (click)="redirectToEdit()">
      Update Profile</button>
  </section>
</ng-template>
