<div class="px-4 px-lg-5 mb-4" [@animate]="{value:'*', params:{ y:'10px', delay:'150ms' }}">
	<div class="card card-body">
		<div class="row">
			<div class=" col-12 col-lg-8 px-4">
				<div class="gh-chart-header mt-4 mb-3">
					<h3 class="title-main">{{ 'APPLICANT_DASHBOARD.TITLE_GRAPH' | translate }}</h3>
					<div class="gh-chart-legend">
						<span class="chart-label">
							<span class="chart-symbol-green" aria-hidden="true"></span>
							{{ 'APPLICANT_DASHBOARD.GRAPH_CONTENT' | translate }}
						</span>
						<span class="chart-label">
							<span class="chart-symbol-red" aria-hidden="true"></span>
							{{ 'APPLICANT_DASHBOARD.GRAPH_CONTENT2' | translate }}
						</span>
					</div>
				</div>

				<div class="chart-container">
					<canvas
					baseChart
					height="300"
					width="300"
					[data]="lineChartData"
					[options]="activityGraphChartOptions"
					[legend]="activityGraphChartLegend"
					[type]="activityGraphChartType">
				</canvas>
				</div>
			</div>

			<div class="chart-container-2 col-12 col-lg-4 px-4 py-lg-3 mt-lg-5">
				<canvas baseChart
					[data]="doughnutChartData"
					[legend]="doughnutChartLegend"
					[labels]="doughnutChartLabels"
					[options]="doughnutChartOptions"
					[type]="doughnutChartType">
				</canvas>
			</div>
		</div>
	</div>
</div>
