@import "src/assets/styles/colors";

.chart-container{
	height: 300px;
	border-radius: 15px;
}

.card{
	border: none;
	box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
}

.title-main{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */


	color: #121212;
}

.chart-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 12px;
	/* identical to box height, or 75% */

	display: flex;
	align-items: center;

	color: #9D9D9D;
}

.chart-symbol-green{
	border-radius: 50%;
	height: 15px;
	width: 15px;
	border: solid 2px #1666BA;
	margin-right: 5px;
}

.chart-symbol-red{
	border-radius: 50%;
	height: 15px;
	width: 15px;
	border: solid 2px #368CE7;
	margin-right: 5px;
}

.chart-container-2{
	canvas{
	    height: auto !important;
	    width: 100%;
	    //min-width: 300px;
	    background: #fff;
	    padding: 5px 10px;
	    border-radius: 7px !important;
	    z-index: 9999; 
	    font-size: 16px !important;

	}
}