<div class="px-4 px-lg-5 mb-4" [@animate]="{value:'*', params:{ y:'10px', delay:'150ms' }}">
	<div class="card card-body">
		<div class="row">
			<div class=" col-12 col-lg-8 px-4">
				<h5 class="title-main mt-4 mb-3">
					{{ 'APPLICANT_DASHBOARD.TITLE_GRAPH' | translate }}

					<div class="float-end mt-3">
						<div class="d-flex">
							<h5 class="chart-label d-flex me-3">
								<div class="chart-symbol-green"></div>  {{ 'APPLICANT_DASHBOARD.GRAPH_CONTENT' | translate }}
							</h5>
							<h5 class="chart-label d-flex">
								<div class="chart-symbol-red"></div> {{ 'APPLICANT_DASHBOARD.GRAPH_CONTENT2' | translate }}
							</h5>
						</div>
					</div>
				</h5>

				<div class="chart-container">
					<canvas
					baseChart
					height="300"
					width="300"
					[data]="lineChartData"
					[options]="activityGraphChartOptions"
					[legend]="activityGraphChartLegend"
					[type]="activityGraphChartType">
				</canvas>
				</div>
			</div>

			<div class="chart-container-2 col-12 col-lg-4 px-4 py-lg-3 mt-lg-5">
				<canvas baseChart
					[data]="doughnutChartData"
					[legend]="doughnutChartLegend"
					[labels]="doughnutChartLabels"
					[options]="doughnutChartOptions"
					[type]="doughnutChartType">
				</canvas>
			</div>
		</div>
	</div>
</div>
