.banner-image{
	border-radius: 0 !important;
	object-position: right;
	height: 270px;
	width: auto;
	object-fit: cover;
}

.bg-banner{
	background: url(~/src/assets/images/placeholder/company-panel-dashboard.png);
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-position: right;
	background-size: cover;
	background-color: linear-gradient(96.52deg, #F85B4B -3.5%, #F85B4B 44.54%, #F85B4B 128.45%) !important;
	border-radius: 0px;
	position: right;
	height: 260px;

	@media (max-width: 1099px){
		height: 400px !important;
	}
}

.title-banner{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
}


.title-banner-description{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFEEEC;
	margin-bottom: 0;
}

.company-logo{
	&-image{
		width: 100px;
		border-radius: 50%;
		cursor: pointer;

		&:hover{
			border: solid 3px #0455CE;
			transition: all 0.2s !important;
			transform: scale(1.1);
		}
	}
}

.green{
	background: #09C986;

	transition: all 0.4s ease !important;

	&:hover{
		background: white;
		border: solid 2px #09C986;
		padding: 18px 12px 8px 15px;
		transition: all 0.2s ease !important;

		.title-card{
			color: #09C986;
		}

		.title-stat{
			color: #09C986;
		}
	}
}

.orange{
	background: #FE742B;

	&:hover{
		background: white;
		border: solid 2px #FE742B;
		padding: 18px 12px 8px 15px;
		transition: all 0.2s ease !important;

		.title-card{
			color: #FE742B;
		}

		.title-stat{
			color: #FE742B;
		}
	}
}

.yellow{
	background: #EFA20D;

	&:hover{
		background: white;
		border: solid 2px #EFA20D;
		padding: 18px 12px 8px 15px;
		transition: all 0.2s ease !important;

		.title-card, .title-stat, .subheading{
			color: #EFA20D;
		}
	}

}


.card-application{
	border-radius: 15px;
	padding: 18px 12px 5px 15px;
	cursor: pointer;
	height: 110px;
}

.card-application-interview{
	border-radius: 15px;
	padding: 20px 12px 10px 15px;
	cursor: pointer;
	height: 110px;
	@media(min-width: 990px){
		height: 125px !important;
		padding-top: 12px !important;

		.card-img{
			margin-top: 3px !important;
		}
	}
}

.subheading {
  font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 21px;
	/* identical to box height, or 131% */
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
	position: relative;
}

.title-card{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 15.5px;
	line-height: 21px;
	/* identical to box height, or 131% */
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
	position: relative;

	.card-img{
		position: absolute;
		right: 0;
		top: 0
	}
}

.title-stat{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 36px;
	/* or 166% */
	margin-top: 20px;
	display: flex;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
}
