<div class="bg-pink">
	<div [@animate]="{value:'*', params:{ y:'-10px', delay: (150) + 'ms' }}">
		<h5 class="text-center title-main">Job Hive Pricing</h5>
		<div class="text-center">
			<button class="btn btn-get-started">Get Started Today</button>
		</div>
	</div>
</div>

<div class="p-4 p-lg-5" style="margin-top: -140px">
	<div class="card card-body">
		
		<div class="w-100">
			<table class="table" [@animate]="{value:'*', params:{ x:'-40px', delay: (250) + 'ms' }}">
				<thead>
					<tr>
						<th></th>
						<th>
							<p class="title-sub-type">Trial</p>
							<img src="/assets/images/placeholder/icons/line.png" 
							style="width: 27px; height: 2px;">

							<h5 class="title-sub-cost">Free</h5>
							<p class="title-recur">7 Days</p>
						</th>
						<th>
							<p class="title-sub-type">Premium</p>
							<img src="/assets/images/placeholder/icons/line.png" 
							style="width: 27px; height: 2px;">

							<h5 class="title-sub-cost">$55</h5>
							<p class="title-recur">7 Days</p>
						</th>

						<th class="bg-promotion">
							<p class="title-sub-type">Corporate</p>
							<img src="/assets/images/placeholder/icons/line-white.png" 
							style="width: 27px; height: 2px;">

							<h5 class="title-sub-cost">$182</h5>
							<p class="title-recur">Monthly</p>
						</th>

						<th>
							<p class="title-sub-type">Pro</p>
							<img src="/assets/images/placeholder/icons/line.png" 
							style="width: 27px; height: 2px;">

							<h5 class="title-sub-cost">$300</h5>
							<p class="title-recur">Min 3 Months</p>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Job Post 
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>1</td>
						<td>4</td>
						<td class="bg-promotion">Unlimited</td>
						<td>Unlimited</td>
					</tr>

					<tr>
						<td>Customized Company Page
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>

						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>

						<td class="bg-promotion">
							<img src="/assets/images/placeholder/icons/check-circle-white.png" 
							style="height: 25px;">
						</td>

						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>
					</tr>

					<tr>
						<td>Admin
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>1</td>
						<td>3</td>
						<td class="bg-promotion">10</td>
						<td>Unlimited</td>
					</tr>

					<tr>
						<td>Video Interview Questions
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>

						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>

						<td class="bg-promotion">
							<img src="/assets/images/placeholder/icons/check-circle-white.png" 
							style="height: 25px;">
						</td>

						<td>
							<img src="/assets/images/placeholder/icons/check-circle-gray.png" 
							style="height: 25px;">
						</td>
					</tr>

					<tr>
						<td>Video Reponses
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>50</td>
						<td>250</td>
						<td class="bg-promotion">1000</td>
						<td>Unlimited</td>
					</tr>

					<tr>
						<td>Customer care
							<img src="/assets/images/placeholder/icons/info-gray.png" class="float-end me-2 mt-1" style="height: 18px; cursor: pointer;">
						</td>
						<td>No</td>
						<td>No</td>
						<td class="bg-promotion">No</td>
						<td>Yes</td>
					</tr>

					<tr>
						<td></td>
						<td><button class="btn btn-subscribe">Try for Free</button></td>
						<td><button class="btn btn-subscribe">Downgrade</button></td>
						<td class="bg-promotion">
							<button class="btn btn-subscribe-active">View Subscription</button>
						</td>
						<td><button class="btn btn-subscribe">Upgrade</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>