<div class="container-fluid px-lg-5 ">


	<div class="px-lg-5 mt-4 px-2 py-2">
		<div class="row px-lg-2 bg-light-transparent">
			<div class="col-12">
				<h5 class="title-companies text-start pt-3"
				[@animate]="{value:'*', params:{ y:'10px', delay: '200ms' }}">
					Recommended <span class="title-companies-primary">Companies</span>
				</h5>
			</div>

			<ng-container *ngFor="let company of companies; let i = index">
				<div class="col-6 col-md-6 col-lg-2 mb-3" 
				[@animate]="{value:'*', params:{ y:'-10px', delay: (i * 50) + 'ms' }}">
					<div class="card card-body">
						<img src="/assets/images/placeholder/{{company?.image}}.png" 
						class="img img-fluid hvr-grow company-image">

						<div class="company-details text-center">
							<h5 class="title-company text-capitalize mt-3">{{company?.title}}</h5>
							<p class="title-company-category text-capitalize">{{company?.category}}</p>

							<button class="btn btn-job-opening">
								{{company?.job_opening}} Job Openings
							</button>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>