.card{
	
	border-radius: 10px 10px 0px 0px;
	border: none;
}

.img-avatar{
	min-height: 60px;
	min-width: 60px;
	max-height: 60px;
	max-width: 60px;
	object-position: center;
	object-fit: cover;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	border: solid 2px #f6f6f6;
}

.title-group{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 15px;
	/* identical to box height, or 62% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-group-description{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	/* identical to box height, or 62% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.group-header{
	background: #F7F7F7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.group-row{
	border-bottom: solid 1px #e4e4e4;
	padding-bottom: 15px;
}

.group-name{
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 27px;
	/* identical to box height */

	letter-spacing: 0.2px;
	padding-left: 20px;	
	color: #131313;
	margin-bottom: 0;
}

.group-description{
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	padding-left: 20px;
	letter-spacing: 0.2px;
	margin-bottom: 0;
	color: #3F3F3F;
}

.btn-view-member{
	font-style: normal;
	font-weight: 400;
	font-size: 11.3362px;
	line-height: 10px;


	color: #FFFFFF;
	background: #486354;
	border-radius: 566.808px;
	padding: 10px 20px;
}