<div class="container-fluid bg-white ">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 px-5 pb-2 bg-left">
      <section data-bs-ride="carousel" id="admin-carousel" 
      class="carousel slide"  data-bs-interval="7000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#admin-carousel" data-bs-slide-to="0" 
          class="active"></button>
          <button type="button" data-bs-target="#admin-carousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#admin-carousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner pb-5">
          <div class="carousel-item active text-center">
            <div class="text-center">
              <img src="/assets/images/placeholder/logo.png" class="main-logo" routerLink="/jobs">
              <h5 class="title-left-main">
                Bring all your applicants in</h5>
              <h4 class="title-left-gradient">ONE PLATFORM</h4>
              <h5 class="title-left-main">in just 3 clicks.</h5>
            </div>
            <div style="height: 400px;">
              <img [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}"
                src="assets/images/placeholder/login-object-new-2.png" class="img-object">
            </div>
          </div>

          <div class="carousel-item text-center">
            <div class="text-center">
              <div [@animate]="{value:'*', params:{ y:'-50px', delay:'200ms' }}">
                <img src="/assets/images/placeholder/logo.png" class="main-logo" routerLink="/jobs">
                <h5 class="title-left-main">
                  Interview
                  <span class="title-left-gradient">ALL </span> your applicants
                </h5>

                <h4 class="title-left-gradient">AUTOMATICALLY</h4>
              </div>
            </div>
            <img src="assets/images/placeholder/login-object-new-1.png"
              [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}" class="img-object">
          </div>

          <div class="carousel-item text-center">
            <div class="text-center">
              <div [@animate]="{value:'*', params:{ y:'-50px', delay:'200ms' }}">
                <img src="/assets/images/placeholder/logo.png" class="main-logo" routerLink="/jobs">
                <h5 class="title-left-main">
                  Choose the
                  <span class="title-left-gradient">BEST </span> Applicants <br>from their interview answers
                </h5>

                <h4 class="title-left-gradient">Lights, Camera, GetHired.</h4>
              </div>
            </div>
            <img src="assets/images/placeholder/login-object-new-3.png"
              [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}" class="img-object mt-3">
          </div>
        </div>
      </section>
    </div>

    <div class="col-12 col-md-6 bg-form">
      <div class="card py-5 pt-2" [@animate]="{value:'*', params:{ x:'50px', delay:'200ms' }}">
        <!-- Error Message -->
        <form class="px-5" (submit)="register($event)" [formGroup]="registerForm" *ngIf="!isResent">
          <div class="form-group text-start">
            <h4 class="main-title m-0">Create Account</h4>
          </div>

          <div class="alert alert-danger alert-dismissible fade show error-message"
            [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
            <button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close"
              (click)="onAlertClose()"></button>
            <span [innerHtml]="error"></span>
          </div>

          <div class="form-group  mt-4">
            <input type="text" class="form-control" formControlName="firstName" name="firstName"
              placeholder="First Name">

              <label class="d-flex">
                <div>First Name</div>
              </label>
          </div>

          <div class="form-group  mt-4">
            <input type="text" class="form-control" formControlName="lastName" name="lastName"
                placeholder="Last Name">

              <label class="d-flex">
                <div>Last Name</div>
              </label>
          </div>

          <div class="form-group mt-4">
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email Address">

            <label class="d-flex">
              <div>Email</div>
            </label>
          </div>

          <div class="form-group mt-4">
            <input [type]="inputType" class="form-control" id="password" placeholder="********************"
              formControlName="password">

              <label class="d-flex">
                <div>Password</div>
              </label>

            <div>
              <img src="/assets/images/placeholder/icons/hide-password.png" width="23px" class="img-fluid me-2 img-plc"
                *ngIf="inputType === 'password'" (click)="inputType = 'text'" style="margin-top: -16px;">

              <img src="/assets/images/placeholder/icons/show-password.png" width="23px" class="img-fluid me-2 img-plc"
                *ngIf="inputType === 'text'" (click)="inputType = 'password'" style="margin-top: -16px;">
            </div>
            <div class="mt-1 ms-4" *ngIf="
              (pw_validators?.invalid && pw_validators?.touched) ||
              pw_validators?.dirty
            ">
              <small *ngIf="pw_validators?.errors?.required" class="text-danger">Password is required</small>
              <small *ngIf="pw_validators?.errors?.pattern" class="text-danger">
                Password must be 8 characters long with mixed uppercase, special
                characters and numbers.
              </small>
            </div>
          </div>

          <div class="form-group mt-4">
            <input [type]="inputType" class="form-control" id="confirmPassword" placeholder="********************"
              formControlName="confirmPassword">

            <label class="d-flex">
              <div>Confirm Password</div>
            </label>

            <div>
              <img src="/assets/images/placeholder/icons/hide-password.png" width="23px" class="img-fluid me-2 img-plc"
                *ngIf="inputType === 'password'" (click)="inputType = 'text'" style="margin-top: -16px;">

              <img src="/assets/images/placeholder/icons/show-password.png" width="23px" class="img-fluid me-2 img-plc"
                *ngIf="inputType === 'text'" (click)="inputType = 'password'" style="margin-top: -16px;">
            </div>
            <div class="mt-1 ms-4" *ngIf="
              (pw_reValidators?.invalid && pw_reValidators?.touched) ||
              pw_reValidators?.dirty
            ">
              <small *ngIf="pw_reValidators?.errors?.required" class="text-danger">Re-enter Password is required</small>
              <small *ngIf="pw_reValidators?.hasError('notEquivalent')" class="text-danger">
                Passwords do not match
              </small>
            </div>
          </div>

          <div class="form-group">
            <select class="form-select mt-4" formControlName="role" name="role" aria-label="Default select example">
              <option [value]="null" disabled>I want to register as</option>
              <option [value]="3">Applicant</option>
              <option [value]="2">Company</option>
            </select>

            <label class="d-flex">
              <div>Register as</div>
            </label>
          </div>

          <div class="mt-4">

            <a class="mat-primary float-start forget-password">
              <mat-checkbox formControlName="agreeToTerms" class="remember-me  mt-1"></mat-checkbox>
              <span class="ms-2">
                By creating your account, you agree to GetHired's Privacy Policy and Terms of Use.
              </span>

            </a>
          </div>

          <br>
          <button type="submit" class="btn btn-submit d-block w-100 float-end mt-4 mb-3" [disabled]="submitting">
            Register
            <img src="/assets/images/placeholder/loading-login.gif" width="20px" class="img-fluid float-end mt-1 me-2"
              *ngIf="submitting">
          </button>

          <div class="text-center mt-5 join-us">
            <br><br>
            Already Have an account? <a [routerLink]="'/signin'" class="register">Login</a>
          </div>
        </form>

        <div *ngIf="isResent" class="text-center">
          <img src="assets/images/success.gif" class="w-25" />
          <h5 class="title-sub px-5">
            Verification link send to your email. Redirecting to Login ...
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
