<form [formGroup]="certForm">
  <div class="mt-2" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-9 align-self-center">
            <h5 class="title-label">
              <span *ngIf="certForm.controls.certTitle">
                {{certForm.controls.certTitle.value|| '-'}}
              </span>
            </h5>
          </div>
          <div class="col-12 col-md-3">
            <!-- A11Y FIX: was a non-focusable <span> styled as a button
                 (.btn class already applied visually) -- real <button> so
                 keyboard users can reach/activate it. -->
            <button type="button" (click)="cancel()" class="float-end btn btn-add" aria-label="Cancel">
              <img src="/assets/images/placeholder/icons/remove-gray.png" style="height: 15px">
            </button>
          </div>
        </div>
        <hr style="border: dashed 1px #868686">
      </div>

      <div class="col-12 col-lg-6">
        <div class="title-container mb-3">
          <label>{{ 'SKILLS_AND_EXPERIENCE.TITLE' | translate }}</label>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="certTitle" placeholder="Award Title">
          </div>
        </div>


        <div class="row justify-content-between">
          <div class="col-12 col-lg-4 align-items-center d-flex">
            <label class="m-0">{{ 'SKILLS_AND_EXPERIENCE.TIME_PERIOD' | translate }}</label>
          </div>
          <div class="col-12 col-lg-8">
            <div class="form-check row d-flex h-100 align-items-center justify-content-end">
              <input class="form-check-input col-12 col-lg-4" type="checkbox" formControlName="noExpiry">
              <label class="form-check-label col-12 col-lg-8 m-0">
                {{ 'SKILLS_AND_EXPERIENCE.TIME_PERIOD_TYPE' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="title-container mb-3">
              <label>{{ 'SKILLS_AND_EXPERIENCE.START_DATE' | translate }}</label>
              <select class="form-select" formControlName="startMonth">
                <option selected disabled [ngValue]=null>Select Month</option>
                <ng-container *ngFor="let item of month; let i = index">
                  <option [value]="item">{{item}}</option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="title-container mb-3 select-option">
              <label> </label>
              <select class="form-select" formControlName="startYear">
                <option selected disabled [ngValue]=null>Select Year</option>
                <ng-container *ngFor="let item of year; let i = index">
                  <option [value]="item">{{item}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="!certForm.controls.noExpiry.value">
          <div class="col-12 col-lg-6">
            <div class="title-container mb-3">
              <label>{{ 'SKILLS_AND_EXPERIENCE.END_DATE' | translate }}</label>
              <select class="form-select" formControlName="endMonth">
                <option selected disabled [ngValue]=null>Select Month</option>
                <ng-container *ngFor="let item of month; let i = index">
                  <option [value]="item">{{item}}</option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="title-container mb-3">
              <label> </label>
              <select class="form-select" formControlName="endYear">
                <option selected disabled [ngValue]=null>Select Year</option>
                <ng-container *ngFor="let item of year; let i = index">
                  <option [value]="item">{{item}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="title-container mb-3">
          <label>{{ 'SKILLS_AND_EXPERIENCE.CERT_AWARD_DETAILS' | translate }}</label>
          <div class="form-group">
            <textarea type="text" class="form-control" formControlName="details"
              placeholder="Subject to the terms and conditions set forth in this Agreement, Company will perform the Services described in each Quote/Proposal. Company retains ownership of any portion of Company developed tools or products that are used in or form a part of computer programs or documentation resulting from a particular service provided. "
              rows="9"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-12 col-md-3">
        <button class="float-end btn btn-save-draft" type="button" [disabled]="!certForm.valid" (click)="addAward()">
          {{ data ? 'Update': 'Add'}} Item</button>
      </div>
    </div>
  </div>
</form>
