<div class="employee-container ">
	<div class="card"
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div class="employee-details row">
			<div class="col-12 col-md-6 px-0">
				<button class="btn btn-add w-100">
					{{data ? 'Edit' : 'New'}} Contact Group
				</button>
			</div>
		</div>

		<ng-container *ngIf="true">
			<div class="share-container text-center"
			style="position: relative;"
			[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">

				<ng-container *ngIf="true">
					<!-- Error Message -->
					<form class="px-3"
					[@animate]="{value:'*', params:{ x:'-10px', delay:'200ms' }}"
					[formGroup]="contactGroupForm" novalidate>
						<h5 class="title-add text-start">{{ 'EDIT_CONTACT_GROUP_FORM.GROUP_CONTACTS' | translate }}</h5>
						<h5 class="title-description text-start">{{ 'EDIT_CONTACT_GROUP_FORM.DETAILS_FORM' | translate }}</h5>
						<div class="row">
							<div class="col-12 col-md-12 form-group mt-3">
								<label class="mb-2">{{ 'EDIT_CONTACT_GROUP_FORM.GROUP_NAME_FIELD' | translate }}<i class="text-danger">*</i></label>
								<input type="text" class="form-control" formControlName="groupName" name="groupName"  [attr.disabled]="this.data" />
							</div>
							<div class="col-12 col-md-12 form-group mt-3">
								<div class="group-email">
									<label class="mb-2">{{ 'EDIT_CONTACT_GROUP_FORM.LISTS_CONTACT_FIELD' | translate }} <i class="text-danger">*</i></label>
									<button class="btn btn-add-service" (click)="contactGroupForm.controls['emails'].reset()">{{ 'EDIT_CONTACT_GROUP_FORM.RESET_BUTTON' | translate }}</button>
								</div>

								<checkbox-group formControlName="emails" class="checkbox-group"
								*ngIf="groupContactList.length>0; else block">
									<ng-container *ngFor="let item of groupContactList; let i = index">
										<div class="d-flex mb-2">
											<checkbox class="checkbox" [value]="item.email"></checkbox>{{item.email}}
										</div>
									</ng-container>
								</checkbox-group>
								  <ng-template #block>
									{{ 'EDIT_CONTACT_GROUP_FORM.ERROR_MESSAGE' | translate }}
								</ng-template>
								<!-- <p>Form - {{contactGroupForm.controls['emails'].value | json}}</p> -->
							</div>
						</div>

						<div class="mt-4">
							<div style="position: relative;" class="mt-2 text-center">
								<button type="button"
								class="btn me-3 btn-default "
								(click)="dialogRef.close()">{{ 'EDIT_CONTACT_GROUP_FORM.CLOSE_BUTTON' | translate }} </button>

								<button type="button"
								class="btn me-1 btn-primary"
								(click)="submitForm()" [disabled]="!contactGroupForm.valid">{{ 'EDIT_CONTACT_GROUP_FORM.SUBMIT_BUTTON' | translate }}
								<img *ngIf="isLoading" src="/assets/images/placeholder/loading-login.gif" width="20px" class="img-fluid float-end mt-1 me-2"></button>
							</div>
						</div>
					</form>
				</ng-container>
			</div>
		</ng-container>

    </div>
</div>
