@import "src/assets/styles/colors";

.image-placeholder{
	width: auto;
	padding: 10px;
	width: 100px;
	height: 100px;


	img{
		width: auto;
		height: 100px;
	}
}


.title-main{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-description{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #8D8D8D;
}


.btn-cancel{
	background: #FFFFFF;
	border: 1px solid #1D2549;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: #1D2549;
	padding: 9px 33px !important;

	&:hover{
		color: #1D2549;
		background: #BDF248;
	}
}

.btn-save{
	background: #0C8542;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: #fff;
	padding: 9px 35px !important;

	&:hover{
		border: 1px solid #0C8542;
		background: rgba(#BDF248, 0.8);
	}
}