@import "src/assets/styles/colors";

.image-placeholder{
	width: auto;
	border-radius: 50%;
	padding: 10px;
	padding-left:25px;
	padding-top: 25px;
	width: 100px;
	height: 100px;
	background: linear-gradient(155.15deg, $color-gethired-red 7.77%, #FB9187 90.78%);
	box-shadow: 0px 30px 50px rgba(251, 145, 135, 0.32);
	

	img{
		width: auto;
		height: 45px;
	}
}


.title-main{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-description{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #8D8D8D;
}


.btn-cancel{
	background: #FFFFFF;
	border: 1px solid $color-gethired-red-buttons;
	border-radius: 111px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: $color-gethired-red;
	padding: 9px 35px !important;

	&:hover{
		color: #fff;
		background: $color-gethired-red-buttons;
	}
}

.btn-save{
	background: $color-gethired-red-buttons;
	border-radius: 111px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: #FFFFFF;
	padding: 9px 35px !important;
}