@import "src/assets/styles/colors";

#profile-document{
	.card{
		background: #FFFFFF;
		border: 1px solid #F5F5F5;
		box-shadow: 0px 6px 15px rgba(128, 128, 128, 0.1);
		border-radius: 8px;
		padding: 20px 30px 20px 40px !important;
	}


	.title-main{
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 29px;
		/* identical to box height, or 162% */

		display: flex;
		align-items: center;
		margin-bottom: 5px;

		color: #444152;

		span{
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			/* identical to box height */


			color: #989898;
		}
	}

}

.btn-read-more{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	letter-spacing: 0.05em;

	color: #1D72F1;
}

.bg-opacity{
	top: 0;
	position: absolute;
	background: linear-gradient(0deg, #FFFFFF -6.63%, rgba(255, 255, 255, 0.2) 34.06%, rgba(255, 255, 255, 0) 101.87%);;
	height: 650px;
	width: 100%;
}

.btn-save{
	background: $color-gethired-red-buttons;
	border-radius: 7px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #FFFFFF;
	padding: 10px 30px;
}

.btn-save-draft{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #a9a9a9;
	background: #FFFFFF;
	border: 1px solid #a9a9a9;
	border-radius: 7px;
	padding: 10px 30px;
}