<div class="container-fluid mb-2">
	<div class="mt-5 px-lg-5">
		<div class="row" *ngIf="list$ | async as jobLists">
			<div class="col-12 mb-3 ps-4">
				<h5 class="title-latest-job"
				[@animate]="{value:'*', params:{ y:'10px', delay: '200ms' }}">Start your career now
					<span class="float-end d-flex">
						<span class="me-3 filter-by">View All</span>
						<span class="me-3 filter-by">Development</span>
						<span class="me-3 filter-by">Data Science</span>
						<span class="me-3 filter-by">Business</span>
						<span class="me-2 filter-by">Marketing</span>
						<img src="/assets/images/placeholder/icons/arrow-down.png"
						class="mt-1" style="width: 12px; height: 12px;">
					</span>
				</h5>
				<p class="title-latest-job-description"
				[@animate]="{value:'*', params:{ y:'10px', delay: '200ms' }}">
				<button class="btn btn-menu me-3 float-end"
				(click)="listView ? listView = false : listView = true">
					<img src="/assets/images/placeholder/icons/menu-icon.png"
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="listView" width="15px" class="img-fluid">

					<img src="/assets/images/placeholder/icons/list-icon.png"
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="!listView" width="15px" class="img-fluid">
				</button>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua.
				</p>
			</div>

			<!-- JOB POST LISTS -->
			<ng-container *ngFor="let data of jobLists; let i = index">
				<div [ngClass]="listView ? 'col-12 col-md-12 col-lg-6' : 'col-12 col-md-6 col-lg-3'"
				[@animate]="{value:'*', params:{ y:'-10px', delay: (i * 150) + 'ms' }}">
					<ng-container *ngIf="!listView">
						<app-job-card [data]="data" [i]="i"></app-job-card>
					</ng-container>

					<ng-container *ngIf="listView">
						<app-job-card-list-view [data]="data" [i]="i"></app-job-card-list-view>
					</ng-container>
				</div>
			</ng-container>

			<ng-container *ngIf="jobLists?.length === 0 && !fromSearch">
				<app-empty-section
				[title]="'No Jobs Created Yet'"
				[subTitle]="'There is no activity at the momemnt, but we <br>can totally solve that.'"
				[detailSize]="'large'"
				[search]="false"></app-empty-section>
			</ng-container>
		</div>
	</div>
</div>
