@import "src/assets/styles/colors";

.btn-stepper-active{
	min-width: 180px !important;
	background: $color-global-red;
	border-radius: 1px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color:white;
	padding: 10px 20px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	position: relative !important;
	//z-index: 999 !important;
  	

	&:after {
	  content: " ";
	  position:absolute;
	  top:28%; 
	  right: -1%;
	  //z-index: 999 !important;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 20px 0px 20px 20px;
	  border-color: $color-global-red transparent transparent transparent;
	  transform: rotate(45deg);
	}

	border: none !important;
}

.btn-stepper-active-2{
	min-width: 180px !important;
	background: $color-global-red;
	border-radius: 1px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color:white;
	padding: 16px 20px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	position: relative !important;



	border: none !important;
}

.btn-stepper-next{
	min-width: 180px !important;
	background: #FFEFED;
	border-radius: 4px;
	padding: 16px 20px;

	color: #121212;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;

	&:hover{
		border: solid 2px $color-global-red;
	}
}


.badge-step{
	background: $color-global-red;
	height: 27px;
	width: 27px;
	margin-right: 8px;
	color: white;
	border-radius: 50%;


	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;

	color: #FFFFFF;
}


.title-step{
	font-size: 11px !important;
}