<ng-container *ngIf="!instructionSent">
  <div class="container-fluid bg-white vh-100">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 bg-form offset-lg-3 mt-lg-4">
        <div class="card py-5" [@animate]="{value:'*', params:{ x:'50px', delay:'200ms' }}">
          <form class="px-3" (submit)="submitEmail($event)" [formGroup]="pwForm">
            <div class="form-group text-center mb-5">
              <h4 class="main-title m-0">{{ 'FORGET_PASSWORD.RESET_PASSWORD_TEXT' | translate }}</h4>
              <p class="title-description">{{ 'FORGET_PASSWORD.PW_RESET_CONFIRMATION_TEXT' | translate }}</p>
            </div>

            <!-- Error Message -->
            <div class="alert alert-danger alert-dismissible fade show error-message"
              [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
              <button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close"
                (click)="onAlertClose()"></button>
              <span>{{ error }}</span>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" name="email"
                placeholder="username@mailer.com">
            </div>

            <br>
            <button type="submit" class="btn btn-submit d-block w-100 float-end mt-4 mb-3" [disabled]="loading || !pwForm.valid">
              {{ 'FORGET_PASSWORD.GET_RESET_LINK_BUTTON' | translate }}
              <img src="/assets/images/placeholder/loading-login.gif" width="20px" class="img-fluid float-end mt-1 me-2"
                *ngIf="loading">
            </button>
            <button type="button" class="btn btn-outline-primary d-block w-100 float-end mt-2 mb-3" (click)="redirectToLogin()">
              {{ 'FORGET_PASSWORD.CANCEL_BUTTON' | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="instructionSent">
  <div class="container-fluid bg-white vh-100">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 bg-form offset-lg-3 mt-lg-4">
        <div class="card py-5" [@animate]="{value:'*', params:{ x:'50px', delay:'200ms' }}">
          <form class="px-3" (submit)="submitEmail($event)" [formGroup]="pwForm">

            <div class="form-group text-start mb-5">
              <h4 class="main-title m-0 text-center">Password Reset</h4>
              <p class="title-description text-center">We have sent you instructions at {{ email }}</p>
            </div>

            <button type="button" class="btn btn-submit d-block w-100 float-end mt-2 mb-3" (click)="redirectToLogin()">
              Back to Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
