@import "src/assets/styles/colors";

.banner-image{
	border-radius: 0 !important;
	object-position: center;
	height: 300px;
	width: auto;
	object-fit: cover;
}

.bg-banner{
	background: url(~/src/assets/images/placeholder/let-employer-find-you.png);
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-color: linear-gradient(96.52deg, #F85B4B -3.5%, #F85B4B 44.54%, #F85B4B 128.45%) !important;
	border-radius: 16px;
	position: right;
	height: 360px;

	@media (max-width: 1099px){
		height: 400px !important;
	}
}

.banner-text{
	//position: absolute;
	margin-top: 120px;
	margin-left: 50px;
}

.btn-upload{
	background: linear-gradient(95.7deg, $color-global-red-buttons 14.94%, #F85141 54.97%, #F4402F 76.21%);
	border-radius: 5px;
	color: white;
	padding: 10px 30px
}

.title-banner{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFFFFF;
}


.title-banner-description{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #FFEEEC;
	margin-bottom: 0;
}

.company-logo{
	&-image{
		width: 100px;
		border-radius: 50%;
		cursor: pointer;

		&:hover{
			border: solid 3px #0455CE;
			transition: all 0.2s !important;
			transform: scale(1.1);
		}
	}
}

