<div [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
  <div class="card card-body py-3">
    <div class="w-100">
      <span class="main-title mt-3">Create Interview</span>
      <div class="float-end" *ngIf="stepper === '2'">
        <button class="btn btn-save-draft me-2" [routerLink]="['.']" [queryParams]="{step: '1'}">Cancel</button>
        <button class="btn btn-save me-2" (click)="publishInterview()">Publish</button>
      </div>
    </div>
  </div>
  <br>

  <div [ngSwitch]="stepper">
    <ng-template [ngSwitchCase]="1">
      <app-create-group-interview
      (cancel)="getBack()" (next)="showSummary($event)" (newTemplateInterview)="goToTemplate()">
    </app-create-group-interview>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <app-group-interview-summary #groupInterviewSummary (cancel)="getBack()"
        [details]="groupInterview"></app-group-interview-summary>
    </ng-template>
  </div>
</div>
