<div class="employee-container ">
	<div class="card"
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div class="employee-details row">
			<div class="col-12 col-md-6 px-0">
				<button class="btn btn-add w-100" 
				[ngClass]="importEmployee ? 'inactive' : ''"
				(click)="importEmployee = false">
					New Applicant
				</button>
			</div>

			<div class="col-12 col-md-6 px-0">
				<button class="btn btn-add w-100"
				[ngClass]="!importEmployee ? 'inactive' : ''"
				(click)="importApplicantTab()">
					Import Applicant
				</button>
			</div>
		</div>

		<ng-container *ngIf="!submitting">
			<div class="share-container"
			style="position: relative;" 
			[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
				<div class="row pt-2" *ngIf="!importEmployee"
				[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
					<div class="col-12 mb-4">
						<h4 class="title-add">Invite applicants, one at a time.</h4>
						<h5 class="title-description">Input the email of the person you want to add to your team</h5>
					</div>
				</div>

				<div class="row pt-4" *ngIf="importEmployee"
				[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
					<div class="col-12 mb-4">
						<app-file-upload-document
						label="Upload CSV"
						[singleLine]="true"></app-file-upload-document>
					</div>

					<div class="col-12">
						<div style="position: relative;" class="mt-2 text-center">
							<button type="button" 
							class="btn me-3 btn-default hvr-grow" 
							(click)="dialogRef.close()">Cancel </button>

							<button type="button" 
							class="btn me-1 btn-primary hvr-grow">Import Applicant </button>
						</div>
					</div>
				</div>

				<div class="mt-1 bg-gray max-height-scroll" 
				*ngIf="emailArray?.length > 0 && !importEmployee"
				[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}">
					<div class="employee-email-container">
						<div class="w-100 employee-email text-start" 
						[@animate]="{value:'*', params:{ y:'-5px', delay:'200ms' }}"
						*ngFor="let item of emailArray">
							{{item}}
							<span class="float-end" (click)="removeEmployee(item)">
								<img src="/assets/images/placeholder/icons/remove-gray.png" style="width: 13px;">
							</span>
						</div>
					</div>

					<div class="mt-4">
						<div style="position: relative;" class="mt-2 w-100 text-end">
							<button class="btn w-25 me-3 btn-primary invite-other hvr-grow" 
							(click)="submitInvites()">Invite All</button>
						</div>
					</div>
				</div>

				<ng-container *ngIf="!importEmployee && !importing">
					<!-- Error Message -->
					<form class="px-1" [ngClass]="emailArray?.length > 0 ? 'mt-4' : ''" 
					[formGroup]="inviteForm" 
					[@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}">
						<div class="form-group mt-2">
							<label class="mb-2" >Add Email address</label>

							<input type="email" class="form-control" formControlName="email" name="email" placeholder="email@mailer.com">
						</div>

						<div class="mt-4">
							<div style="position: relative;" class="mt-2 text-center">
								<button type="button" 
								class="btn me-3 btn-default hvr-grow" 
								(click)="dialogRef.close()">Cancel </button>

								<button type="button" 
								class="btn me-1 btn-primary hvr-grow" 
								(click)="addEmployeeEmail()" [disabled]="!inviteForm.valid || !inviteForm.controls['email'].value">Add Email</button>
							</div>
						</div>
					</form> 
				</ng-container>
			</div>
		</ng-container>

		<ng-container *ngIf="submitting">
			<div class="text-center bg-white pb-3" >
				<div class="d-flex w-100  justify-content-center align-self-center" >
					<div class="congrats-circle"
					[@animate]="{value:'*', params:{ scale:'0.1', delay:'400ms' }}">
						<img src="/assets/images/placeholder/icons/congrats.png" style="width: 100px">
					</div>
				</div>

				<div class="text-center" 
				[@animate]="{value:'*', params:{ y:'-20px', delay:'300ms' }}">
					<h5 class="title-congrats">Congratulations! </h5>
					<p class="title-congrats-description">Congratulation for adding a new applicant to your list. <br>You can still add more applicant.</p>

					<div class="mt-4">
						<div style="position: relative;" class="mt-2 w-100 text-center">
							<button class="btn me-3 btn-primary invite-other hvr-grow" 
							style="width: 200px !important;" 
							(click)="addMoreEmployee()">Add More Applicants</button>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>