<div class="p-3 p-lg-5">
	<div class="d-flex" [@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
		<button class="btn btn-stepper-active flex-wrap" (click)="changeStep(1)">
			<img src="/assets/images/placeholder/icons/check-green.png" class="me-2" 
			style="height: 25px; margin-top: -3px;">Create Job Post
		</button>

		<button class="btn btn-stepper-next flex-wrap d-flex" (click)="changeStep(2)">
			<div class="badge-step">2</div>
			Job Post Details
		</button>
	</div>
	
	<!-- SECTION CREATE JOB POST -->
	<ng-container *ngIf="stepper === 1">
		<app-create-job-post-step></app-create-job-post-step>
	</ng-container>

	<ng-container *ngIf="stepper === 2">
		<app-preview-job-post-step></app-preview-job-post-step>
	</ng-container>

	<section>
		<div class="text-end">
			<button class="btn btn-preview-job-post" (click)="changeStep(2)" *ngIf="stepper === 1">
				Preview Job Post 
			</button>
		</div>
	</section>
</div>