.card{
	background: #FFFFFF;
	box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	border: none;
	padding: 30px 30px !important;
}

label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */


	color: #464646;
}

input,
select{
	border-radius: 6px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 0px !important;
}

.invalid-feedback {
  display: block!important;
}

.avatar-image{
	background-color: white;
	object-fit: cover;
	object-position: center;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 2px #c9c9c9;

	@media(max-width: 1280px){
		max-width: 150px;
		max-height: 150px;
	}
}
