<section style="transition: all 0.4s ease !important;">
  <!-- TITLE -->
  <div class="mt-3" [@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
    <h5 class="main-title">Job Details</h5>
  </div>

  <section class="card card-body mb-4">
    <form [formGroup]="initialDetailsForm" id="intialForm">
      <div [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
        <div class="title-container mb-3">
          <h5 class="title-label">Job Title</h5>
          <div class="form-group">
            <input type="text" name="job-title" class="form-control" placeholder="Lead UI/UX Designer"
              formControlName="jobTitle">
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 mb-3" [@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}"
            *ngIf="typeList$ | async as jobType">
            <label>Job Type</label>
            <select class="form-select" formControlName="jobTypeId">
              <option selected disabled [ngValue]="null">Select Job Type</option>
              <ng-container *ngFor="let item of jobType; let i = index">
                <option [ngValue]="item.id">{{item.name}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-12 col-md-4 mb-3" [@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}"
            *ngIf="level$ | async as jobLevel">
            <label>Job Level</label>
            <select class="form-select" formControlName="jobLevelId">
              <option selected disabled [ngValue]="null">Select Job Level</option>
              <ng-container *ngFor="let item of jobLevel; let i = index">
                <option [ngValue]="item.id">{{item.name}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-12 col-md-4 mb-3" [@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}"
            *ngIf="category$ | async as jobCategory">
            <label>Job Category</label>
            <select class="form-select" formControlName="jobCategoryId">
              <option selected disabled [ngValue]="null">Select Job Category</option>
              <ng-container *ngFor="let item of jobCategory; let i = index">
                <option [ngValue]="item.id">{{item.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>

      <!-- WORK SETUP -->
      <div class="title-container mb-2">
        <h5 class="title-label" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">Work Setup</h5>

        <div class="row" *ngIf="workSetup$ | async as workSetup">
          <div class="col-12 col-md-6 mb-3 col-lg-4" *ngFor="let item of workSetup; let i = index">
            <button class="btn btn-work-setup w-100 text-start hvr-hang" type="button"
              [@animate]="{value:'*', params:{ y:'40px', delay: ((i * 100) + 250) + 'ms' }}"
              (click)="selectWorkSetUp(item.id)" [ngClass]="item.id === workSetupSelected ? 'active': ''">{{item.name}}
              <img src="/assets/images/placeholder/icons/check-blank.png" *ngIf="item.id !== workSetupSelected"
                class="float-end" style="width: 20px;">

              <img src="/assets/images/placeholder/icons/check-white.png" *ngIf="item.id === workSetupSelected"
                class="float-end" style="width: 20px;">
            </button>
          </div>
        </div>
      </div>

      <!-- Location -->
      <div class="mt-2 row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
        <div class="col-12 col-md-8 mb-3">
          <label>Address</label>
          <p class="title-label-sub mb-3">This is your main office location/address.</p>

          <div class="form-group d-flex">
            <input type="text" name="address" class="form-control" placeholder="Address" formControlName="jobAddress">
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <label>City</label>
          <p class="title-label-sub mb-3">Enter the city where the job will take place</p>

          <div class="form-group d-flex">
            <input type="text" name="address" class="form-control" placeholder="City" formControlName="jobCity">
          </div>
        </div>
      </div>

      <!-- BANNER UPLOADER -->
      <div class="mt-3" [@animate]="{value:'*', params:{ y:'10px', delay: '500ms' }}">
        <app-drag-and-drop [maxSize]="150000" (upload)="getBanner($event)" multipleAttachmentTitle="Upload Banner" [isMultiple]="false" [fileArray]="bannerSelected.value">
        </app-drag-and-drop>
      </div>

      <!-- BADGES -->
      <div class="row px-lg-2" [@animate]="{value:'*', params:{ y:'10px', delay: (250) + 'ms' }}"
        *ngIf="badge$ | async as badge">
        <div class="col-12 col-lg-5" [@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}">
          <h5 class="title-label">Add Badges</h5>
          <select class="form-select form-select-multiple" size="3" multiple>
            <option *ngFor="let item of badge; let i = index" [ngValue]="item.id" (click)="addBadge(item);">
              {{item?.name}}</option>
          </select>
        </div>

        <div class="col-12 col-lg-7" [@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}">
          <div class="badge-selection">
            <div class="row">
              <div class="col-12 col-lg-6 mb-3" *ngFor="let item of badges.value; let i = index">
                <div class="d-flex me-3 badge-item">
                  <img [src]="'/assets/images/placeholder/icons/' + item.icon">

                  <h5 class="badge-title w-100" style="position: relative !important;">
                    {{item.name}}

                    <div class="remove-badge">
                      <mat-icon class="close" (click)="removeItem(i, this.badges)">close</mat-icon>
                    </div>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr style="border-style: dashed">

      <section class="px-lg-3">
        <div class="title-container mb-3" [@animate]="{value:'*', params:{ y:'10px', delay: (250) + 'ms' }}">
          <h5 class="title-label">Job Description</h5>
          <div class="form-group">
            <textarea name="job-title" class="form-control" rows="6"
              placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u"
              formControlName="jobDescription"></textarea>
          </div>
        </div>

        <div class="title-container mb-3" [@animate]="{value:'*', params:{ y:'10px', delay: (250) + 'ms' }}">
          <h5 class="title-label">Duties & Responsibilities</h5>
          <p class="title-label-sub mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            <br>tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="form-group">
            <textarea name="job-title" class="form-control" rows="6"
              placeholder="As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent. "
              formControlName="jobDuties"></textarea>
          </div>
        </div>

        <hr class="my-4" style="border-style: dashed">

        <!-- OTHER REQUIREMENTS -->
        <div class="mt-2 row" [@animate]="{value:'*', params:{ y:'10px', delay: (250) + 'ms' }}">
          <div class="col-12 col-md-6 mb-3">
            <div class="col-12">
              <h5 class="title-label">Requirements</h5>
            </div>

            <p class="title-label-sub mb-3">Add Requirements for your job (You can add up to 5 items)</p>

            <div class="form-group input-group">
              <input type="text" name="search" class="form-control" formControlName="requirementsTxt"
                placeholder="ex, create custom material table, basic encoding using google sheet">
              <button class="btn btn-primary" (click)="addItem('requirementsTxt', this.requirements)">
                Add
              </button>
            </div>

            <div class="mt-3" *ngIf="requirements && requirements.controls.length > 0">
              <ng-container *ngFor="let item of requirements.controls; let i = index">
                <h5 class="me-3 w-100 requirement-badge">{{item.value}}
                  <img src="/assets/images/placeholder/icons/remove-white.png" style="height: 10px; margin-top: 3px"
                    class="ms-2 float-end" (click)="removeItem(i, this.requirements)">
                </h5>
              </ng-container>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <div class="col-12">
              <h5 class="title-label">Educational Background</h5>
            </div>

            <p class="title-label-sub mb-3">Add educational background (You can add up to 5 items)</p>

            <div class="form-group input-group">
              <input type="text" name="search" class="form-control"
                placeholder="ex, computer science graduate, have atleast 2.5 GPA"
                formControlName="educationalBackgroundTxt">
              <button class="btn btn-primary" (click)="addItem('educationalBackgroundTxt', this.educationalBackground)">
                Add
              </button>
            </div>

            <div class="mt-3" *ngIf="educationalBackground && educationalBackground.controls.length > 0">
              <ng-container *ngFor="let item of educationalBackground.controls; let i = index">
                <h5 class="me-3 w-100 requirement-badge">{{item.value}}
                  <img src="/assets/images/placeholder/icons/remove-white.png" style="height: 10px; margin-top: 3px"
                    class="ms-2 float-end" (click)="removeItem(i, this.educationalBackground)">
                </h5>
              </ng-container>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <div class="col-12">
              <h5 class="title-label">Good to Have</h5>
            </div>

            <p class="title-label-sub mb-3">Add good to have skills but not a deal breaker (You can add up to 5 items)
            </p>

            <div class="form-group input-group">
              <input type="text" name="search" class="form-control"
                placeholder="ex, with driver's license, covid vaccine certification" formControlName="goodToHaveTxt">
              <button class="btn btn-primary" (click)="addItem('goodToHaveTxt', this.goodToHave)">
                Add
              </button>
            </div>

            <div class="mt-3" *ngIf="goodToHave && goodToHave.controls.length > 0">
              <ng-container *ngFor="let item of goodToHave.controls; let i = index">
                <h5 class="me-3 w-100 requirement-badge">{{item.value}}
                  <img src="/assets/images/placeholder/icons/remove-white.png" style="height: 10px; margin-top: 3px"
                    class="ms-2 float-end" (click)="removeItem(i, this.goodToHave)">
                </h5>
              </ng-container>
            </div>
          </div>
        </div>
      </section>
    </form>
  </section>
</section>
