<div class="card card-body p-4"
[@animate]="{value:'*', params:{ x:'10px', delay:'450ms' }}">
	<div class="text-end">
		<button class="btn btn-save-later me-3 hvr-grow">
			<img src="/assets/images/placeholder/icons/applicant-bookmark.png" style="height: 17px" class="me-1">
			Save Later</button>
		<button class="btn btn-invite me-2 hvr-grow">Invite to Job</button>
	</div>

	<div class="">
		<h5 class="title-main">Short Bio</h5>
		<p class="title-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		</p>
	</div>

	<div class="mt-3">
		<h5 class="title-main mb-1">Work Experience</h5>
		

		<ng-container *ngFor="let item of work_experience">
			<h5 class="title-experience">{{item?.title}}
				<span class="float-end title-duration">
					<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
					{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
				</span>
			</h5>
			<span class="title-job-type">{{item?.job_type}}</span>
			<p class="title-details mt-3">{{item?.details}}</p>

			<div class="d-flex ms-1">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-company.png" style="height: 14px" class="me-2">{{item?.company}}
				</p>

				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.location}}
				</p>
			</div>

			<hr style="border-color: #909090">
		</ng-container>

	</div>

	<div class="mt-3">
		<h5 class="title-main mb-1">Education & Qualification</h5>

		<ng-container *ngFor="let item of education_background">
			<h5 class="title-experience">{{item?.title}}
				<span class="float-end title-duration">
					<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
					{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
				</span>
			</h5>

			<div class="d-flex ms-1">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.school}}
				</p>
			</div>

			<hr style="border-color: #909090">
		</ng-container>

	</div>

	<div class="mt-3">
		<h5 class="title-main mb-1">Awards</h5>

		<ng-container *ngFor="let item of awards">
			<h5 class="title-experience">{{item?.title}}
				<span class="float-end title-duration">
					<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
					{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
				</span>
			</h5>

			<div class="">
				<p class="title-details mt-2">{{item?.details}}</p>
			</div>

			<div class="d-flex ms-1">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-company.png" style="height: 14px" class="me-2">{{item?.company}}
				</p>

				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.location}}
				</p>
			</div>

			<hr style="border-color: #909090">
		</ng-container>
	</div>

	<div class="mt-3">
		<h5 class="title-main mb-3">Skills</h5>

		<div class="skills">
			<ng-container *ngFor="let item of skills">
				<div class="title-skills  me-2 mb-2">{{item}}</div>
			</ng-container>
		</div>
	</div>
</div>