<div class="card card-body mt-3" [@animate]="{value:'*', params:{ x:'-10px', delay:'350ms' }}">
	<div class="row">
		<!-- AVATAR IMAGE -->
		<div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-3 mb-3">
			<div class="text-start mt-3">
				<div class="avatar-main">
					<img src="/assets/images/face-3.jpg" class="img-fluid">
				</div>

				<div class="flex-wrap">
					<div class="details">
						<h5 class="title-main">Jordan Clark</h5>
						<p class="title-job">Frontend Developer</p>
					</div>

					<div class="d-flex justify-content-start align-self-start">
						<img src="/assets/images/placeholder/icons/star.svg" width="14" height="14" class="me-1">
						<img src="/assets/images/placeholder/icons/star.svg" width="14" height="14" class="me-1">
						<img src="/assets/images/placeholder/icons/star.svg" width="14" height="14" class="me-1">
						<img src="/assets/images/placeholder/icons/star.svg" width="14" height="14" class="me-1">
						<img src="/assets/images/placeholder/icons/star.svg" width="14" height="14" class="me-2">

						<span class="title-rating">(4.5) Rating</span>
					</div>

					<div class="d-flex mt-2 justify-content-start align-self-start">
						<button class="btn btn-message me-2 hvr-grow">
						<img src="/assets/images/placeholder/icons/message.png" 
						style="height: 16px; margin-top: -3px;" class="me-1">
						Message</button>

						<button class="btn btn-invite hvr-grow">
							<img src="/assets/images/placeholder/icons/invite.png">
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- APPLICANT CONTACT DETAILS -->
		<div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-4  mb-3 mt-3">
			<h5 class="title-contact">Contact</h5>

			<table class="w-100 contact-table">
				<tbody>
					<tr>
						<td class="title-label">Available</td>
						<td class="title-details text-end pe-4">Full Time</td>
					</tr>
					<tr>
						<td class="title-label">Email Address</td>
						<td class="title-details text-end pe-4">usertest@gmail.com</td>
					</tr>
					<tr>
						<td class="title-label">Address</td>
						<td class="title-details text-end pe-4">San Antonio MI 47096</td>
					</tr>
					<tr>
						<td class="title-label">Mobile Phone</td>
						<td class="title-details text-end pe-4">(+63) 934 3432</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- APPLICANT DOCUMENTS FROM PROFILE -->
		<div class="mt-4 col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-4" >
			<h5 class="title-contact">Documents</h5>

			<table class="w-100 document-table">
				<tbody>
					<tr>
						<td class="title-label"
						style="width: 30px">
							<img src="/assets/images/placeholder/icons/document.png" style="height: 20px">
						</td>
						<td class="title-label">Resume.pdf</td>
						<td class="title-details download text-end pe-4">
							<img src="/assets/images/placeholder/icons/download.png">
						</td>
					</tr>
					<tr>
						<td class="title-label"
						style="width: 30px">
							<img src="/assets/images/placeholder/icons/document.png" style="height: 20px">
						</td>
						<td class="title-label">CV 2022.pdf</td>
						<td class="title-details download text-end pe-4">
							<img src="/assets/images/placeholder/icons/download.png">
						</td>
					</tr>
					<tr>
						<td class="title-label"
						style="width: 30px">
							<img src="/assets/images/placeholder/icons/document.png" style="height: 20px">
						</td>
						<td class="title-label">Cover Letter 2022.pdf</td>
						<td class="title-details download text-end pe-4">
							<img src="/assets/images/placeholder/icons/download.png">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="mt-4 col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-1" >
			<button class="btn btn-edit d-flex" routerLink="/applicant/profile/edit/details"
			style="margin-left: -65px !important; margin-top: -100px; z-index: 999 !important;">
				<img src="/assets/images/placeholder/icons/company-edit-2.png" style="height:12px; margin-top: 3px" class="me-2">
			Edit Profile
			</button>
		</div>
	</div>
</div>