.avatar-main{
	img{
		width: 70px;
		height: 70px;
		filter: drop-shadow(0px 12px 27px rgba(63, 63, 63, 0.17));
		border-radius: 50%;
		border: 2.68116px solid #FFFFFF;
		filter: drop-shadow(0px 6.43478px 14.4783px rgba(63, 63, 63, 0.17));
	}
}

.card{
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 6px 15px rgba(128, 128, 128, 0.1);
	border-radius: 8px;
	padding: 0px 0px 0px 40px !important;
}


.title-main{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 29px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-job{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 14px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
	margin-bottom: 8px;
	color: #666666;
}

.btn-invite{
	background: #DDD6FF;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 12px 25px rgba(46, 46, 46, 0.04);
	border-radius: 14px;
	padding: 7px 15px 15px 15px;
	height: 45px;
	img{
		height: 18px;
	}
}

.btn-message{
	background: #FFD1DE;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 12px 25px rgba(46, 46, 46, 0.04);
	border-radius: 14px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FF4B68;
	padding: 10px 25px;
	margin-left: -6px;
}

.title-contact{
	@media (min-width: 900px){
		margin-top:15px;
	}
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */


	color: #838383;
}

.title-rating{
	font-size: 11px;
}

.title-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #989898;
}

.title-details{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #444152;
}

.contact-table{
	@media (min-width: 899px){
		padding-right: 0px !important;
	}
	td{
		height: 38px !important;
	}
}

.document-table{
	@media (min-width: 899px){
		padding-right: 0px !important;
	}

	.image-border{
		background: #FFFFFF;
		border: 1.54491px solid rgba(90, 86, 105, 0.4);
		box-shadow: 0px 9.26946px 19.3114px rgba(46, 46, 46, 0.04);
		border-radius: 13.9042px;
		margin-right: 5px;
		padding: 2px 5px;

	}

	td{
		height: 38px !important;

		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.download{
		img{
			height: 18px;
			cursor: pointer;
		}
	}
}

.btn-edit{
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	font-size: 13px;
	font-weight: 500;
	color: #868686 !important;
	margin-left: -65px !important; margin-top: -100px;

	@media(max-width: 899px){
		display: none !important;
	}
}