<section >
<div *ngIf="!showProfile" class="mt-4 ps-4 pe-4" id="job-order-main-container">
    <div [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
      <div class="card card-body py-3">
        <div class="w-100">
          <span class="main-title mt-3">{{ 'CANDIDATE_APPLIED_ON_JOB_TABLE.CANDIDATE_MANAGEMENT' | translate }}</span>
  
          <div class="float-end">
            <button class="btn btn-add-service" (click)="addCandidate()">
              {{ 'CANDIDATE_APPLIED_ON_JOB_TABLE.ADD_CANDIDATE_BUTTON' | translate }}
              <img src="/assets/images/placeholder/icons/add-new.png" style="width: 16px;" class="ms-1">
            </button>
          </div>
        </div>
      </div>
      <br>
      <div class="card card-body" *ngIf="listView && !loading">
        <app-reusable-table [loading]="loading"
          [componentTitle]="'Candidates'"
          [displayedColumns]="displayedColumns"
          [selectedColumns]="selectedColumns" 
          [selectedColumnsMobile]="selectedColumns"
          [searchSource]="searchSource"
          [maxRows]="10"
          (updateSelectedRowDialog)="viewMenu($event)"
          [listDataSource]="candidateList">
        </app-reusable-table>
      </div>
  
  
      <!-- LOADING ANIMATION SCREEN -->
      <custom-profile-loader [withSideBar]="false" [fromDetailTab]="true" [loading]="loading">
      </custom-profile-loader>
    </div>
</div>

<div *ngIf="showProfile" class="px-4 mt-2">
  <app-applicant-avatar [user]="profile"></app-applicant-avatar>

  <app-application-preview
  [applicantAnswers]="answers"
  [docs]="profileDocs"
  [profile]="profile"
  [interviews]="interviewQuestions"></app-application-preview>
</div>

</section>
  