.accordion-header{
	background: #FFEFED !important;
	.collapse{
		background: #FFEFED !important;
	}
}

.accordion-button:focus {
   z-index: 3;
   border-color: #FF7062;
   outline: 0!important;
   /* I changed the color on this line */
   /* If you do not want any color, just delete */
   box-shadow: 0 0 0 0.25rem rgba(#FF7062, 0.15);
}

.show{
	border-radius: 8px !important;
}

.accordion-item{
	border: none;
	margin-bottom: 10px;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
    color: #424242 !important;
    background-color: #FFEFED;
    background: #FFEFED !important;
    border-radius: 8px !important;
    border: none !important;
}

.accordion-button{
	font-family: 'Manrope'!important;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 15px;
	/* identical to box height, or 75% */

	border: 1px solid #D7D7D7;
	border-radius: 8px !important;

	color: #424242 !important;
}

.submit-container{
	z-index: 99 !important;;
	position: fixed !important;
	right: 20px;
	top: 105px;
}


.bg-upper-gray{
	background: #F5F6FA;
}

.main-title{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 58px;
	/* or 215% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight:500;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */
	margin-bottom: 5px;

	color: #464646;
}

.card{
	background: #FFFFFF;
	box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	border: none;
	padding: 30px 30px !important;
}


label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */


	color: #464646;
}


.check{
	position: absolute;
	height: 19px;
	top: 8px;
	right: 8px;
}



.active{
	background: #0C264D;
	color: white !important;
}

.btn-save{
	background: #FF7062;
	border-radius: 7px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #FFFFFF;
	padding: 7px 20px !important;
}

.btn-save-draft{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #a9a9a9;
	background: #FFFFFF;
	border: 1px solid #a9a9a9;
	border-radius: 7px;
	padding: 7px 20px !important;
}


.bg-gray{
	background-size: cover !important;
	background-position: center !important;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
	border-radius: 7px;
	padding: 20px;
	background-repeat: no-repeat;
	//background-color: rgba(0, 0, 0, 0.1)!important;
	
}



.title-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #4D4D4D;
	margin-bottom: 7px;
}

.title-label-sub{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #9C9C9C;
	margin-bottom: 4px;
}

.title-label-sub-duration{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	/* identical to box height */

	//letter-spacing: 0.2px;

	color: #9C9C9C;

	span{
		font-weight: 600 !important;
		color: #9C9C9C;
	}
}


.table{
	font-family: 'Manrope' !important;
	thead{
		th{
			background: #F7F7F7;
			border: none;
			padding: 10px 15px;
		}
	}

	tbody{
		td{
			border: none;
			padding: 10px 17px;
		}

		td:not(:nth-child(1)){
			padding-left: 19px;
		}

		tr:nth-child(even){
			td{
				background: #F9F9F9 !important
			}
		}
	}
}

:host ::ng-deep{
	// Background border
	.mat-checkbox .mat-checkbox-frame {
	    border-color: #ACACAC;
	    color: #ACACAC;
	    background-color: #fff
	}

	.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
	    background: #FF7062
	}

	.mat-slide-toggle{
		margin-left: 4px;
		transform: scaleX(1.1) !important;
	}

	/* SLIDE TOGGLE */
	.mat-slide-toggle-thumb {
	    width: 18px !important;
	    height: 18px !important;
	    border-radius: 3px;
	    transform: translate(50%, 50%);
	}

	.mat-slide-toggle-bar {
	  background-color: #DFDFDF;
	  border-radius: 3px !important;
	  height: 25px !important;
	  width: 43px !important;;
	}

	.mat-slide-toggle-thumb-container {
	  margin-left: -5px !important;
	  margin-top: -3px !important;
	}

	.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
	  background-color: #04A08B;
	}

	.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
	  background-color: #fff;
	}
}