<div class="text-end submit-container" 
[@animate]="{value:'*', params:{ y:'10px', delay:  (150) + 'ms' }}">
	<button class="btn btn-save-draft me-2" >Back</button>
	<button class="btn btn-save me-2">Next Step</button>
</div>

<div class="card card-body mt-3">
	<form class="row"
	[@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
		<!-- EMPLOYMENT DETAILS -->
		<div class="col-12">
			<h5 class="title-label">Templates</h5>
			<hr style="border: dashed 1px #868686">
		</div>

		
		<div class="col-12 col-lg-6 mb-2">
			<div class="title-container" >
				<label>Email Template</label>
				<div class="form-group">
					<input type="text"  class="form-control" placeholder="Default invite email" >
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 mb-2">
			<div class="title-container" >
				<label>SMS Template</label>
				<div class="form-group">
					<input type="text"  class="form-control" placeholder="Default invite email" >
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 mb-2">
			<div class="title-container" >
				<label>Incomplete Reminder</label>
				<div class="form-group">
					<input type="text"  class="form-control" placeholder="Default invite email" >
				</div>
			</div>
		</div>

		<!-- EMPLOYMENT DETAILS -->
		<div class="col-12 mt-4">
			<h5 class="title-label">Completed Interview Notification</h5>
			<hr style="border: dashed 1px #868686">
		</div>

		<div class="col-12 col-lg-6 mb-2">
			<div class="title-container" >
				<label>Email Template</label>
				<div class="form-group">
					<input type="text"  class="form-control" placeholder="Default invite email" >
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 mb-2">
			<div class="title-container" >
				<label>SMS Template</label>
				<div class="form-group">
					<input type="text"  class="form-control" placeholder="Default invite email" >
				</div>
			</div>
		</div>
	</form>


</div>
