<div class="container-fluid px-5" [ngClass]="loggedUser ? 'pe-3' : ''">
	<div class="row pt-4 ps-lg-4">
		<div class="row px-5 text-white py-5  bg-banner "
		[ngClass]="loggedUser ? 'col-12 col-lg-10' : 'col-12 col-lg-12'">
			<div class="col-12 col-md-8"
			[@animate]="{value:'*', params:{ y:'-10px', delay:'300ms' }}"
			*ngIf="screenSize >= 1600 ? 'col-lg-4' : 'col-lg-6'">
				<h5 class="title-banner" >Hire experts or be hired<br class="d-semi-large"> for any job, any time.</h5>
				<p class="title-banner-description">Thousands of small businesses use Only to turn their<br class="d-semi-large"> ideas into reality. Lorem ipsum dolor sit amet,<br class="d-semi-large"> consectetur adipiscing elit.</p>
			</div>

			<img src="/assets/images/placeholder/job-post-banner-person.png" class="banner-person"
			[@animate]="{value:'*', params:{ scale:'0.9', delay:'400ms' }}">

			<img src="/assets/images/placeholder/banner-float-4.png" class="banner-float-4"
			[@animate]="{value:'*', params:{ y:'-20px', delay:'1000ms' }}"
			*ngIf="screenSize >= 1128" style="z-index: 1">

      <!-- TODO  -->
			<div class="col-12" style="z-index: 9; max-width: 1050px;"
			[ngClass]="screenSize > 1500 ? ' col-lg-10' : 'col-lg-11'"
			[@animate]="{value:'*', params:{ y:'10px', delay:'300ms' }}">
				<div class="d-flex mt-3 py-3 px-3 bg-transparent">
					<div class="me-3 " [ngClass]="loggedUser ? 'search-key-2' : 'search-key'">
						<input type="text" class="form-control" placeholder="Enter keyword"
						[(ngModel)]="keyword">
					</div>

					<div class="w-50 me-3" style="max-width: 150px">
						<div >
						    <select class="form-select" aria-label="Default select example"
						    [(ngModel)]="work_setup">
						      <option selected>Work Setup</option>
						      <option value="Remote">Remote</option>
						      <option value="Onsite">Onsite</option>
						      <option value="Hybrid">Hybrid</option>
						    </select>
						</div>
					</div>

					<div class="w-50 me-3" style="max-width: 150px">
						<div >
						    <select class="form-select" aria-label="Default select example"
						    [(ngModel)]="job_type">
						      <option selected>Job Type</option>
						      <option value="Part-Time">Part-Time</option>
						      <option value="Full-Time">Full-Time</option>
						      <option value="Freelance">Freelance</option>
						    </select>
						</div>
					</div>

					<div class="w-50" style="max-width: 400px">
						<div >
						    <button class="btn btn-find-jobs"
						    (click)="findJobs()">Find Jobs</button>
						</div>
					</div>
				</div>
			</div>

			<!-- <img src="/assets/images/placeholder/job-post-banner-person.png" class="banner-person"
			[@animate]="{value:'*', params:{ scale:'0.9', delay:'400ms' }}"
			*ngIf="screenSize > 1509"  style="z-index: 11"> -->

			<img src="/assets/images/placeholder/banner-float-1.png" class="banner-float-1"
			[@animate]="{value:'*', params:{ y:'-10px', delay:'600ms' }}"
			style="z-index: 11">

			<!-- <img src="/assets/images/placeholder/banner-float-3.png" class="banner-float-2"
			[@animate]="{value:'*', params:{ y:'-20px', delay:'700ms' }}"
			style="z-index: 11"
			*ngIf="screenSize > 1559 && !loggedUser"> -->

			<img src="/assets/images/placeholder/banner-float-2.png" class="banner-float-3"
			[@animate]="{value:'*', params:{ y:'10px', delay:'800ms' }}"style="z-index: 1"
			>
		</div>

		<!-- APPLICANT HOME STAT -->
		<div class="col-12 col-lg-2 ps-4 row" *ngIf="loggedUser && loggedUserData?.applicant">
			<div class="col-6 col-lg-12 mt-md-2 mt-lg-0 pe-lg-0">
				<div class="card-application green mb-2 mt-md-3 mt-lg-0"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Application
						<img src="/assets/images/placeholder/icons/card-applicant-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">34</h3>
				</div>
			</div>

			<div class="col-6 col-lg-12 mt-md-4 mt-lg-0 pe-lg-0">
				<div class="orange mb-2 card-application-interview"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Interview
						<br *ngIf="screenSize > 990">Schedule
						<img src="/assets/images/placeholder/icons/card-interview-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">122</h3>
				</div>
			</div>

			<div class="col-6 col-lg-12 mt-md-2 mt-lg-0  pe-lg-0">
				<div class="card-application yellow mb-2"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Video Interview
						<img src="/assets/images/placeholder/icons/card-video-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">223</h3>
				</div>
			</div>
		</div>

		<!-- EMPLOYER HOME STAT -->
		<div class="col-12 col-lg-2 ps-4 row" *ngIf="loggedUser && loggedUserData?.employer">
			<div class="col-6 col-lg-12 mt-md-2 mt-lg-0 pe-lg-0">
				<div class="card-application green mb-2 mt-md-3 mt-lg-0"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Active Jobs
						<img src="/assets/images/placeholder/icons/card-applicant-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">34</h3>
				</div>
			</div>

			<div class="col-6 col-lg-12 mt-md-4 mt-lg-0 pe-lg-0">
				<div class="orange mb-2 card-application"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Applicants
						<img src="/assets/images/placeholder/icons/card-interview-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">122</h3>
				</div>
			</div>

			<div class="col-6 col-lg-12 mt-md-2 mt-lg-0  pe-lg-0">
				<div class="card-application yellow mb-2"
				[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
					<h5 class="title-card">Video Interview
						<img src="/assets/images/placeholder/icons/card-video-icon.png" class="card-img" style="width: 30px; margin-top: -5px;">
					</h5>
					<h3 class="title-stat">223</h3>
				</div>
			</div>
		</div>
	</div>
</div>
