@import "src/assets/styles/colors";

#body-main-container{
  z-index: 1 !important;
  background-color: #2222 !important;
  margin-bottom: 0 !important;
}

#main-company-component{
  width: 100% !important;
  overflow: auto;
  background-color: $color-global-sidebar-applicant-gray !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0 !important;
}

#sub-company-component{
  position: relative !important;
  background-color: $color-global-sidebar-applicant-gray !important;
  overflow-x: hidden !important;
  overflow-y: none !important;
  margin-bottom: 30px !important;
}


#body-row {
  margin-left:0;
  margin-right:0;
  //padding-bottom: 50px !important;
  flex-wrap: nowrap !important;
  background-color: inherit !important;
  min-height: 70vh;
  margin-bottom: 0 !important;
  overflow-y: none !important;
}

#sidebar-container {
  // min-height: 100vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0;
  background: $color-global-sidebar-employer-user-menu;
  max-width: 250px;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

/* Menu item*/
#sidebar-container .list-group a {
  /* height: 50px; */
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 13px;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

