<section id="body-main-container" *ngIf="employee$ | async as employee">
  <div class="d-flex" id="body-row">

    <div class="d-none d-md-block" id="sidebar-container">
      <app-employer-sidebar></app-employer-sidebar>
    </div>

    <div id="main-company-component">
      <div style="height: 80px; ">
        <app-header [isUserLoggedIn]="isUserLoggedIn" [user]="employee"></app-header>
      </div>

      <div id="sub-company-component" class="mt-4 ps-4 pe-4"
      *ngIf="withCompany && path != '/company'"
      [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>
