@import "src/assets/styles/colors";

.btn-save-draft {
  padding: 6px 15px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  background: #e7e7e7;
  color: #464646 !important;
  min-width: 100px;

  &:hover {
    background: linear-gradient(135deg, #FF7062 0%, #FF3D6E 100%);
  }
}

.btn-add-default {
  background-color: #3b3947;
}

.btn-light-red {
  background-color: #ffefed;
}

.btn-save {
  background: linear-gradient(135deg, #FF7062 0%, #FF3D6E 100%);
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
  padding: 7px 20px !important;
}

.requirement-badge {
  background: #868686;
  border-radius: 6px;
  color: white;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.with-add {
  background: white !important;

  input {
    border-right: none !important;
    outline: none !important;
    z-index: 9 !important;

    &:focus {
      outline: none !important;
    }
  }

  input:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
  }

  .btn-add-now {
    margin-left: -9px;
    box-shadow: 0px 7px 20px rgba(252, 139, 121, 0.34);
    border-radius: 9px;
    color: white;
    min-width: 83px;
    outline: none !important;
    border: none !important;
    z-index: 9 !important;
    &:hover {
      border: none !important;
    }
  }
}
