<div class="row p-2 record-container">
  <div class="col-12 col-md-9">
    <div class="get-hired-logo">
      <img src="/assets/images/placeholder/logo.png">
    </div>
    <div class="row">
      <video #myVideo id="myVideo" controls class="w-100"></video>
    </div>
    <div class="row">
      <div class="bg-timer text-center">
        <div class="mt-2 pb-1">
          <h5 class="title-timer">
            <img src="/assets/images/placeholder/icons/record.png" style="height:18px" class="me-1">
            {{display}}
          </h5>
          <p class="title-duration">3 Minutes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 ">
    <div class="row">
      <button class="btn btn-take-interview text-truncate my-2" (click)="recordVideo()" *ngIf="!isRecording">
        <img src="/assets/images/placeholder/icons/record.png" class="h-100 me-1">
        Start Recording
      </button>
      <button class="btn btn-take-interview my-2 text-truncate col-md-2"
      (click)="stopRecording()" *ngIf="isRecording">
        <img src="/assets/images/stop.png" class="h-100 me-1">
        Stop Recorder
      </button>
    </div>
    <div class="card card-body">
      <form class="form">
        <h5 class="title-main">Audio Settings</h5>
        <div class="form-group my-3">
          <label>Microphone</label>
          <select class="form-select">
            <option *ngFor="let item of audioInputDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Speaker/Audio Output</label>
          <select class="form-select" aria-label="Default select example">
            <option *ngFor="let item of audioOutputDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>

        <hr style="border: dashed 1px #969696">

        <h5 class="title-main">Video Settings</h5>
        <div class="form-group mt-3">
          <label>Camera</label>
          <select class="form-select" aria-label="Default select example">
            <option *ngFor="let item of videoDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="row p-2">
      <button class="btn btn-primary mt-1text-truncate col-md-12"
      (click)="saveRecording()" [disabled]="!blob">
        View Recording
      </button>
      <button class="btn btn-outline-primary mt-1 text-truncate col-md-12"
      (click)="cancel()">
        Cancel
      </button>
    </div>

  </div>
</div>


<!-- <video #preview controls [src]="myRecording"></video> -->
