<div class="w-100 mb-3" style="height: 20px;">
  <span class="float-end">
    <img src="/assets/images/placeholder/icons/remove-gray.png" style="height: 15px; width: 15px; cursor: pointer;"
      (click)="cancel()">
  </span>

  <h5 class="title-main" *ngIf="data?.title">{{data?.title}}</h5>
</div>

<div class="row p-2 record-container">
  <div class="col-12 col-md-8">

    <div style="position: relative;">
      <div class="container-bg"></div>



      <div class="get-hired-logo">
        <img src="/assets/images/placeholder/logo.png">
      </div>

      <!-- VIDEO CONTAINER -->
      <section>
        <video #videoElement class="w-100">
          <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
        </video>

        <!-- <video #preview id="preview"
        [src]="url" controls class="w-100 h-100"
        *ngIf="url"></video> -->
      </section>

      <div style="position: absolute; left: 2%; bottom: 4%;">
        <div class="bg-timer text-center">
          <div class="mt-2 d-flex">
            <h5 class="title-timer me-2">
              <img src="/assets/images/placeholder/icons/record.png" style="height:18px" class="me-1">
              {{display}}
            </h5>
            <p class="title-duration">3 Minutes</p>
          </div>
        </div>
      </div>

      <div style="position: absolute; right: 0; top: 0">
        <button class="btn btn-take-interview text-truncate my-2" (click)="startVideoRecording()"
          *ngIf="!isVideoRecording">
          <img src="/assets/images/placeholder/icons/record.png" class="h-100 me-1">
          Start Recording
        </button>
        <button class="btn btn-take-interview my-2 text-truncate" (click)="stopVideoRecording()"
          *ngIf="isVideoRecording">
          <img src="/assets/images/stop.png" class="h-100 me-1">
          Stop Recorder
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 bg-white p-3">
    <div class="card card-body">
        <h5 class="title-main">Audio Settings</h5>
        <div class="form-group my-3">
          <label>Microphone</label>
          <select class="form-select" [(ngModel)]="audioSrc">
            <option *ngFor="let item of audioInputDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Speaker/Audio Output</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="audioOut">
            <option *ngFor="let item of audioOutputDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>

        <h5 class="title-main">Video Settings</h5>
        <div class="form-group mt-3">
          <label>Camera</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="videoSrc">
            <option *ngFor="let item of videoDevices; let i = index" value="item.id">
              {{item?.label}}</option>
          </select>
        </div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary w-100" (click)="previewVideoRecording()" [disabled]="!videoBlob">
        View Recording
      </button>
    </div>

  </div>
</div>


<!-- <video #preview controls [src]="myRecording"></video> -->
