@import "src/assets/styles/colors";

.img-banner{

}

.card{
	padding: 10px;
	box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	border: none;
	min-height: 300px !important;
	cursor: pointer;
}

.title-job-title{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	/* or 189% */

	display: flex;
	align-items: center;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
	margin-bottom: 5px;
	color: #222222;
}

.title-job-description{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #AAAAAA;

	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   	-webkit-box-orient: vertical;
}

.title-posted{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 8px;
	/* identical to box height, or 67% */

	display: flex;
	align-items: center;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #AAAAAA;
}

.title-company{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	/* identical to box height, or 114% */

	display: flex;
	align-items: center;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #1D72F1;
}

.title-details{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	/* identical to box height, or 150% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #666666;
}

.btn-primary{
	background: $color-global-red-buttons;
	border-radius: 5px;
}

.tags{
	display: flex;
  flex-wrap: wrap;
}

.title-tags{
	background: #F3F2F1;
	border-radius: 5px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */
	padding: 5px 10px;
	//max-width: 130px;
	color: #6A6A6A;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}