<div class="p-4 px-lg-5">
  <h5 class="title-main ms-4 mt-3">{{ 'COMPANY_DETAILS.COMPANY_DETAILS' | translate }}</h5>

  <div class="p-lg-3" *ngIf="details$ | async as details">
    <section class="mb-4">

      <div class="main-banner"
      [@animate]="{value:'*', params:{ y:'-10px', delay: (150) + 'ms' }}"
      style="min-height: 350px;">
        <div class="float-end" style="margin-top: -40px;">
          <div class="d-flex">
            <img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
            <img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
            <img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
            <img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
            <img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-2">

            (4.5) Rating
          </div>
        </div>

        <img [src]="details.companyBanner ? details.companyBanner : '/assets/images/placeholder/job-post-banner.png'" class="banner-image-main" [ngStyle]="{ 'height': bannerHeight ? bannerHeight + 'px' : '370px' }" />

        <div class="row bg-details" [id]="details ? 'banner-details' : ''">
          <div class="col-12 col-lg-12">
            <div class="card-transparent align-items-center justify-content-center d-flex flex-column text-center">

              <img [src]="details.companyLogoUrl" class="company-logo mt-3">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                  <h5 class="title-company">
                    {{details?.companyName}} ({{details?.companyIndustry}})
                  </h5>
                  <p class="title-verified">{{ 'EMPLOYER_BRANDING.VERIFIED_BADGE' | translate }}
                    <img src="/assets/images/placeholder/icons/verified-employer.png"
                      style="height: 40px; margin-top: 5px; margin-left: -10px;">

                    {{ details?.numberOfEmployee}} Employees
                  </p>

                  <div class="px-lg-5">
                    <h5 class="title-company-description">
                      {{details?.companyDetails}}
                    </h5>
                  </div>

                  <div class="d-flex align-items-center justify-content-center">
                    <!-- <button class="btn btn-review">Write a review</button> -->
                    <img src="/assets/images/placeholder/icons/share-2.png" title="Share" class="ms-2 hvr-grow share" (click)="getShareableLink()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="mt-5">
      <app-job-posts-list label="{{ 'COMPANY_DETAILS.JOBS_CAREERS_SECTION' | translate }}"></app-job-posts-list>
    </section>
  </div>
</div>
