<div class="mt-4 px-5">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-7 mb-3">
			<div class="mb-2 card-application-hired"  style="position: relative;"
			[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
				<h5 class="title-card-hired">Total Job Application</h5>
				<h3 class="title-stat-hired">0</h3>
				<!-- <h5 class="title-stat-sub-hired">80% Total Increase</h5> -->
			</div>
		</div>

		<div class="col-12 col-md-6 col-lg-5 mb-3">
			<div class="mb-2 card-application"  style="position: relative;"
			[@animate]="{value:'*', params:{ y:'10px', delay:'550ms' }}">
				<!-- <h5 class="title-card">{{ message }}</h5> -->
        <div class="row w-100 h-100 align-items-center">
          <!-- <img src="/assets/images/banner-candidate.png" class="hvr-grow w-100" />
 -->
          <!-- <div class="col-md-4">
            <img src="/assets/images/placeholder/logo.png" class="hvr-grow w-100" />
          </div> -->
          <!-- <div class="col-md-8 text-center">
            <h3 class="title-verified m-0">Opportuinities design for <span class="gethired-trademark">YOU!</span>
            </h3>
          </div> -->
        </div>

			</div>
		</div>
	</div>
</div>
