<div class="sidebar-details">
	<div style="position: relative; height: 100vh;">
		<div class="card card-body bg-logo text-center d-flex align-items-center"
		style="height: 120px; cursor: pointer;">
			<img src="assets/brand/gethired-logo-horizontal-on-light-interim.png" class="hvr-grow img-logo img-fluid"
			[@animate]="{value:'*', params:{ scale:'0.95', delay:'200ms' }}" routerLink="/jobs">
		</div>

		<div class="card card-body p-3 mt-3 bg-menu"
		[@animate]="{value:'*', params:{ scale: '0.95', delay:'200ms' }}">
			<ng-container *ngFor="let item of sidebarItems">
				<a class="sidebar-link"
				[routerLink]="'/admin/' + item.route"
				routerLinkActive="sidebar-title-active"
				[routerLinkActiveOptions]="{ exact: !!item.exact }"
				#rla="routerLinkActive"
				[attr.aria-current]="rla.isActive ? 'page' : null">
					<app-admin-nav-icon [name]="item.icon" [size]="18"></app-admin-nav-icon>
					<h5 class="sidebar-title">{{ item.title }}</h5>
				</a>
			</ng-container>
		</div>



    <h5 class="text-center copy-right mt-4">
      &copy; 2026 GetHired
    </h5>
	</div>
</div>
