<div class="main-banner"
[@animate]="{value:'*', params:{ y:'-10px', delay: (150) + 'ms' }}"
style="min-height: 400px;">
	<div class="row bg-details">
		<div class="col-12 col-lg-12">
			<div class="card-transparent text-center">
				<img src="/assets/images/placeholder/company-4.png" class="company-logo">

				<button class="float-end btn edit-details" routerLink="/company/settings">
					<img src="/assets/images/placeholder/icons/company-edit-2.png" style="height: 12px; margin-top: -3px;" class="me-2">Edit
				</button>

				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2">
						<h5 class="title-company">UpupApp (I.T Solution)</h5>
						<p class="title-verified">Verified employer 
							<img src="/assets/images/placeholder/icons/verified-employer.png" 
							style="height: 40px">
						</p>

						<h5 class="title-company-description">
							GetHired is the #1 job site in the world1 with over 250M unique visitors every month.
						</h5>
						<p>
							Lorem ipsum strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies.
						</p>

						<button class="btn btn-review">Write a review</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>