<div class="float-end me-4" style="margin-top: -40px;">
	<div class="d-flex">
		<img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
		<img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
		<img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
		<img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-1">
		<img src="/assets/images/placeholder/icons/star.svg" height="17px" class="me-2">

		(4.5) Rating
	</div>
</div>


<div class="px-3" [hidden]="!bannerEdit">
	<app-file-upload id="upload-banner"
	(upload)="onUpload($event)"
	label="Select Banner Image"
	[labelTop]="false"></app-file-upload>
</div>


<div class="main-banner"
[@animate]="{value:'*', params:{ y:'-10px', delay: (150) + 'ms' }}"
style="min-height: 450px;">
	<!-- <img [src]="bannerImage?.file" class="banner-image-main">
 -->
	<img [src]="bannerImage ? bannerImage?.file : '/assets/images/placeholder/job-post-banner.png'" class="banner-image-main" [ngStyle]="{
		'height': bannerHeight + 'px'
	}">

	<div class="row bg-details" id="bg-details">
		<div class="col-12 col-lg-12">
			<div class="card-transparent text-center">
				<img src="/assets/images/placeholder/company-4.png" class="company-logo">

				<button class="float-end btn edit-details" (click)="clickInputBanner()"
				*ngIf="!bannerEdit">
					<img src="/assets/images/placeholder/icons/company-edit-2.png" 
					style="height: 12px; margin-top: -3px;" class="me-2">Edit
				</button>

				<div class="row">
					<div class="col-12 col-lg-12">
						<h5 class="title-company">UpupApp (I.T Solution)</h5>
						<p class="title-verified">Verified employer 
							<img src="/assets/images/placeholder/icons/verified-employer.png" 
							style="height: 40px">
						</p>

						<h5 class="title-company-description">
							A company description is defined as a general overview of your company as well as who you are as a business owner.
						</h5>
						<p>
							Lorem ipsum strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies.
						</p>

						<div class="d-flex align-items-center justify-content-center">
							<button class="btn btn-review">Write a review</button>
							<img src="/assets/images/placeholder/icons/share-2.png" class="ms-2 hvr-grow share">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</div>