.share{
	height: 45px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 8px;
	//background: white;
	padding: 8px;
}

.banner-image-main{
	position: absolute;
	width: 100%;
	//min-height: calc(#bg-details);
	object-fit: cover;
	object-position: center;
	border-radius: 16px;
	//top: 5px
}

.main-banner{
	//padding-left: 20px;
	//padding-right: 20px;
	position: relative;
	//background: #c9c9c9;
	.company-logo{
		height: 100px;
		margin-bottom: 15px;
		margin-left: 20px !important;
	}

	.bg-details{
		padding: 15px 15px;
		//background: url(~/src/assets/images/placeholder/job-post-banner.png);
		background-repeat: no-repeat;
		//background-attachment: fixed;
		background-position: 5% 10%;
		background-size: cover;
		background-color: linear-gradient(96.52deg, #F85B4B -3.5%, #F85B4B 44.54%, #F85B4B 128.45%) !important;
		border-radius: 16px;
		position: relative;
		min-height: 360px;
	}

	.card-transparent{
		padding: 20px;
		border-radius: 16px;
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(2px);
		/* Note: backdrop-filter has minimal browser support */
		min-height: 380px;
		border-radius: 25px;
	}

	.title-company{
		font-weight: 600;
		font-size: 24px;
		line-height: 24px;
		/* identical to box height, or 142% */
		margin-bottom: 0;
		font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

		color: #222222;
	}

	.title-verified{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
		color: #222222;
		margin-bottom: 0;
	}

	.title-company-description{
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 32px;
		/* or 111% */

		text-align: center;

		color: #000000;
	}

	.btn-review{
		background: $color-gethired-red-buttons;
		border-radius: 10px;
		color: white; 
		border-radius: 6px;
		padding: 10px 25px;
		margin-top: 10px;
	}

	.edit-details{
		background: rgba(255, 255, 255, 0.84);
		border: 1.28767px solid #E4E4E4;
		border-radius: 10.3014px;
		font-style: normal;
		font-weight: 400;
		font-size: 14.6027px;
		line-height: 16px;
		font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

		color: #A9A9A9;
	}
}