<section style="transition: all 0.4s ease !important;">
	<!-- TITLE -->
	<!-- <div class="mt-3" [@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
		<h5 class="main-title">Post Job</h5>
	</div> -->

	<div class="mt-4 row">
		<div class="col-12 col-md-6"
		[@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}">
			<label>Categories</label>
			<select class="form-select">
			  <option *ngFor="let item of categories; let i = index">{{item?.title}}</option>
			</select>
		</div>

		<div class="col-12 col-md-6"
		[@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
			<label>Search</label>
			<div class="form-group search-group d-flex">
				<input type="text" name="search" class="form-control" placeholder="ex. Marketing, Development">
				<div class="btn btn-search">Search</div>
			</div>
		</div>
	</div>

	<!-- CATEGORY -->
	<div class="mt-5 row" >
		<ng-container *ngFor="let item of categories; let i = index">
			<div class="col-12 col-md-6 col-lg-3 mb-3">
				<div class="card card-body hvr-hang category-skills"
				[@animate]="{value:'*', params:{ y:'10px', delay: (i * 150) + 'ms' }}">
					<div class="img-banner">
						<img [src]="item?.banner_thumbnail" class="img-fluid">
					</div>

					<h5 class="category-title">{{item?.title}}</h5>
					<h6 class="category-sub-title">{{item?.skills}} Skills 
						<span class="float-end">
						<img src="/assets/images/placeholder/rating.png" 
						style="height: 17px; margin-top: -5px !important;">
						{{item?.rating}}/5</span>
					</h6>
				</div>
			</div>
		</ng-container>
	</div>

	<!-- SKILLS -->
	<div class="mt-3 row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
		<div class="col-12 col-md-6">
			<h5 class="main-title">Add Skills</h5>
			<label>Add Skill for your job to see relavant talent</label>

			<div class="form-group search-group d-flex">
				<input type="text" name="search" class="form-control" placeholder="ex. how to create website" (keyup.enter)="addItem($event, this.talents)">
				<div class="btn btn-search">Search</div>
			</div>

			<div class="mt-3">
				<ng-container *ngFor="let talent of talents">
					<span class="me-3 talent-badge">{{talent}}
						<img src="/assets/images/placeholder/icons/remove-white.png" 
						style="height: 10px; margin-top: -3px" class="ms-2"
						(click)="removeItem(talent, this.talents)">
					</span>
				</ng-container>
			</div>
		</div>
	</div>

	<!-- RATES -->
	<div class="mt-5 row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
		<div class="col-12 col-md-6 mb-3">
			<div class="card card-body">
				<h5 class="main-title">Add Rate</h5>
				<label>Add a budget if you one in mind</label>
				
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4 hvr-hang">
						<div class="rate-card rate-card-active">
							<img src="/assets/images/placeholder/icons/check-white.png" class="check">
							<img src="/assets/images/placeholder/icons/rate-monthly.png" 
							style="height: 45px" class="img-fluid mt-2">
							<h6 class="title-rate-active mt-3">Monthly</h6>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 hvr-hang">
						<div class="rate-card rate-card">
							<img src="/assets/images/placeholder/icons/check-blank.png" class="check">
							<img src="/assets/images/placeholder/icons/rate-daily.png" 
							style="height: 45px" class="img-fluid mt-2">
							<h6 class="title-rate mt-3">Daily</h6>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 hvr-hang">
						<div class="rate-card rate-card">
							<img src="/assets/images/placeholder/icons/check-blank.png" class="check">
							<img src="/assets/images/placeholder/icons/rate-24.png" 
							style="height: 45px" class="img-fluid mt-2">
							<h6 class="title-rate mt-3">Hourly</h6>
						</div>
					</div>
				</div>

				<div class="mt-3 row">
					<div class="col-12 col-md-12"
					[@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
						<hr style="border-style: dashed;">

						<label>Budget</label>
						
						<div class="row">
							<div class="col-5 form-group">
								<input type="number" name="search" class="form-control form-control-main" placeholder="Php 25,000">
							</div>

							<div class="col-1 text-center">
								<h5 class="title-label-sub mt-2">To</h5>
							</div>

							<div class="col-5 form-group">
								<input type="number" name="search" class="form-control form-control-main" placeholder="Php 35,500">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<div class="rate-selection">
				<h5 class="title-rate-selection">Monthly</h5>
				
				<h6 class="title-rate-range">Start</h6>
				<div class="row">
					<div class="col-12 col-lg-6">
						<select class="form-select">
						  	<option selected>August</option>
						  	<option>September</option>
						  	<option>October</option>
						  	<option>November</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>23</option>
						  	<option>24</option>
						  	<option>25</option>
						  	<option>26</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>2022</option>
						  	<option>2023</option>
						  	<option>2024</option>
						  	<option>2025</option>
						</select>
					</div>
				</div>

				<h6 class="title-rate-range mt-3">Deadline</h6>
				<div class="row">
					<div class="col-12 col-lg-6">
						<select class="form-select">
						  	<option selected>August</option>
						  	<option>September</option>
						  	<option>October</option>
						  	<option>November</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>23</option>
						  	<option>24</option>
						  	<option>25</option>
						  	<option>26</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>2022</option>
						  	<option>2023</option>
						  	<option>2024</option>
						  	<option>2025</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
