<section class="card card-body mt-4" style="transition: all 0.4s ease !important;">
	<div class="row">
		<div class="col-12 col-md-6 mb-3"
		[@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}">
			<h5 class="main-title">Industry</h5>
			<label >Describe what industry or field this job post is part of </label>
			<select class="form-select" [(ngModel)]="selectedIndustry"
			(ngModelChange)="rebuildObject('industry', selectedIndustry)">
				<option selected disabled value="">Select Industry</option>
				<ng-container *ngFor="let item of industries; let i = index">
					<option [value]="item">{{item}}</option>
				</ng-container>
			</select>
		</div>

		<div class="col-12 col-md-6 mb-3"
		[@animate]="{value:'*', params:{ y:'10px', delay:'250ms' }}">
			<label style="margin-top: 36px;">Job Role</label>
			<select class="form-select" [(ngModel)]="selectedJobRole"
			(ngModelChange)="rebuildObject('job_role', selectedJobRole)">
				<option selected disabled value="">Select Job Role</option>
				<ng-container *ngFor="let item of job_role; let i = index">
					<option [value]="item">{{item}}</option>
				</ng-container>
			</select>
		</div>

		<!-- <div class="col-12 col-md-6"
		[@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
			<label>Search</label>
			<div class="form-group search-group d-flex">
				<input type="text" name="search" class="form-control" placeholder="ex. Marketing, Development" [(ngModel)]="search" (keyup.enter)="searchIndustry()">
				<div class="btn btn-search" (click)="searchIndustry()">Search</div>
			</div>
		</div> -->
	</div>

	<!-- CATEGORY 
	<div class="mt-5 row" >
		<ng-container *ngFor="let item of industriesFiltered?.slice(0, 8); let i = index">
			<div class="col-12 col-md-6 col-lg-3 mb-3">
				<div class="card card-body hvr-hang industry-skills"
				(click)="selectIndustry(item?.title)"
				[ngClass]="selectedIndustry === item?.title ? 'active-industry' : ''"
				[@animate]="{value:'*', params:{ y:'10px', delay: (i * 150) + 'ms' }}">
					<div class="img-banner">
						<img [src]="item?.banner_thumbnail" class="img-fluid">
					</div>

					<h5 class="industry-title">{{item?.title}}</h5>
					<h6 class="industry-sub-title">{{item?.skills}} Skills 
						<span class="float-end">
						<img src="/assets/images/placeholder/rating.png" 
						style="height: 17px; margin-top: -5px !important;">
						{{item?.rating}}/5</span>
					</h6>
				</div>
			</div>
		</ng-container>
	</div>-->

	<!-- SKILLS -->
	<div class="mt-3 row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
		<div class="col-12 col-md-6 mb-3">
			<h5 class="main-title">Relevant Skills</h5>
			<label>Add Skill for your job to see relavant talent</label>

			<div class="form-group search-group d-flex">
				<input type="text" name="search" class="form-control" placeholder="ex. Data Encoding, Ruby, JavaScript" [(ngModel)]="skillModel"
				(keyup.enter)="this.skill_requirements?.length < 10 ? addItem($event, this.skill_requirements, 'skill_requirements'): ''">
			</div>

			<div class="d-flex flex-wrap">
				<ng-container *ngFor="let talent of skill_requirements, 'skill_requirements'">
					<div class="flex-wrap me-3 talent-badge">{{talent}}
						<img src="/assets/images/placeholder/icons/remove-white.png" 
						style="height: 10px; margin-top: -3px" class="ms-2"
						(click)="removeItem(talent, this.skill_requirements, 'skill_requirements')">
					</div>
				</ng-container>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<h5 class="main-title">Tags</h5>
			
			<!-- <h5 class="main-title">Add Tags</h5> -->
			<label >Add tags for others to identify your job post easily</label>

			<div class="form-group search-group d-flex with-add">
				<input type="text" name="search" class="form-control" placeholder="ex. Software, Angular Project, JavaScript" [(ngModel)]="tagModel"
				(keyup.enter)="this.tags?.length < 7 ? addItem($event, this.tags, 'tags') : ''">

				<button class="btn btn-add-now" [disabled]="!tagModel" 
				(click)="addItem(tagModel, this.tags, 'tags')">Add</button>
			</div>

			<div class="d-flex flex-wrap">
				<ng-container *ngFor="let tag of tags, 'skill_requirements'">
					<div class="flex-wrap me-3 talent-badge">{{tag}}
						<img src="/assets/images/placeholder/icons/remove-white.png" 
						style="height: 10px; margin-top: -3px" class="ms-2"
						(click)="removeItem(tag, this.tags, 'tags')">
					</div>
				</ng-container>
			</div>
		</div>
	</div>

	<!-- RATES -->
	<div class="mt-4 row" [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
		<div class="col-12 col-md-6 mb-3">
			<div class="card card-body">
				<h5 class="main-title">Add Rate</h5>
				<label>Add a budget if you one in mind</label>
				
				<div class="row">
					<ng-container *ngFor="let item of rates">
						<div class="col-12 col-md-6 col-lg-4 hvr-hang"
						(click)="selectedRates = item; rebuildObject('rates', item?.title)">
							<div [ngClass]="selectedRates === item ? 'rate-card-active' : 'rate-card'">
								<img [src]="'/assets/images/placeholder/icons/' + (selectedRates === item ? 'check-white.png' : 'check-blank.png')" class="check">

								<img [src]="'/assets/images/placeholder/icons' 
								+ (selectedRates === item ? item?.icon + '-white' : item?.icon) + '.png'" 
								style="height: 45px" class="img-fluid mt-2">

								<h6 class="title-rate mt-3"
								[ngClass]="selectedRates === item ? 'title-rate-active' : 'title-rate'">{{item?.title}}</h6>
							</div>
						</div>
					</ng-container>
				</div>

				<div class="mt-3 row">
					<div class="col-12 col-md-12"
					[@animate]="{value:'*', params:{ y:'10px', delay:'200ms' }}">
						<hr style="border-style: dashed;">

						<label>Budget</label>
						
						<div class="row">
							<div class="col-4 form-group pe-0">
								<input type="number" name="search" class="form-control form-control-main" placeholder="Php 25,000" [(ngModel)]="budget.min" 
								(ngModelChange)="rebuildObject('salary_min', this.budget?.min)">
							</div>

							<div class="col-2 text-center">
								<h5 class="title-label-sub mt-2">To</h5>
							</div>

							<div class="col-4 form-group pe-0">
								<input type="number" name="search" class="form-control form-control-main" placeholder="Php 35,500" [(ngModel)]="budget.max" 
								(ngModelChange)="rebuildObject('salary_max', this.budget?.max)">
							</div>

							<div class="col-2 text-center">
								<label class="label-rate mt-2">/ {{selectedRates?.rate}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<div class="rate-selection">
				<h5 class="title-rate-selection">Contract Duration</h5>
				
				<h6 class="title-rate-range">Start Date</h6>
				<div class="row">
					<div class="col-12 col-lg-6">
						<select class="form-select">
						  	<option *ngFor="let month of months">{{month}}</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option *ngFor="let day of days">{{day}}</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>2022</option>
						  	<option>2023</option>
						  	<option>2024</option>
						  	<option>2025</option>
						</select>
					</div>
				</div>

				<h6 class="title-rate-range mt-3">End Date</h6>
				<div class="row">
					<div class="col-12 col-lg-6">
						<select class="form-select">
						  	<option *ngFor="let month of months">{{month}}</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>23</option>
						  	<option>24</option>
						  	<option>25</option>
						  	<option>26</option>
						</select>
					</div>

					<div class="col-12 col-lg-3">
						<select class="form-select">
						  	<option selected>2022</option>
						  	<option>2023</option>
						  	<option>2024</option>
						  	<option>2025</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
