<app-job-details-banner
[data]="selectedJobPost"
[screenSize]="screenSize"></app-job-details-banner>


<div class="container-fluid px-3 px-lg-5 mb-4" style="margin-top: -100px">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-3">
			<app-job-details-sidecard
			[data]="selectedJobPost"
			[company]="selectedCompany"
			[screenSize]="screenSize"></app-job-details-sidecard>
		</div>

		<div class="col-12 col-md-12 col-lg-9">
			<app-job-details-answer-interview></app-job-details-answer-interview>
		</div>
	</div>

</div>