/* You can add global styles to this file, and also import other style files */
@import "~assets/styles/colors";
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@include mat-core();

html,
body {
  height: 100%;
}

* {
  font-family: "Manrope", sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.sectioning {
  background-color: $color-global-sidebar-applicant-gray;
  padding: 1rem;
  border-radius: 1rem;
}

.bordered {
  border: solid 2px $color-global-red-buttons;
  border-radius: 1rem;
}

.success-snackbar {
  background-color: $color-global-red-buttons;
}

.text-primary-red {
  color: #ff7062;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-primary{
  font-size: 14px !important;

  background: $color-global-red-buttons!important;
	border-radius: 7px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;
  border: none;

	color: #FFFFFF!important;
	padding: 7px 20px !important;

  &:hover{
    background: rgba($color-global-red-buttons, 0.9) !important;
  }
}

.btn-outline-primary {
  border: solid 2px $color-global-red-buttons;
  color: $color-global-red-buttons;
  transition: all 0.1s ease;
  background: transparent;
  border-radius: 1232px;
	padding: 10px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 27px;
	transition: all 0.4s ease !important;

  &:hover {
    background: $color-global-red-buttons;
    border: solid 2px $color-global-red-buttons;
    color: #fff;
  }
}

.bg-primary-red {
  background: $color-global-red-buttons;

}

.bg-primary-light {
  background: rgba($color-global-red-buttons, 0.3);

}

// .container-fluid {
//   height: 100vh;
// }

.hvr-underline-from-left {
  &::before {
    background: $color-blue-primary;
  }
}

.bg-light {
  background: #ffffff;
  border-radius: 18px;
}

.form-control {
  border: none !important;
  background: transparent;
  border: 1px solid #dcf0fd !important;
  border-radius: 5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 100 !important;
  color: #2a2a2a !important;
  padding: 10px 15px;
  &::placeholder {
    color: #a0a0a0 !important;
  }
}

.form-group {
  position: relative;
  .img-plc {
    position: absolute;
    right: 10px;
    top: 31px;
    cursor: pointer;
  }
}

label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #3c3c3c;
  margin-bottom: 7px !important;
}


.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}


.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px;
  cursor: move; /* fallback if grab cursor is unsupported */
}

@media (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    cursor: move;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #28253d;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#toast-container {
  z-index: 999999999 !important;
}

.title-main {
  @media (max-width: 899px) {
    font-size: 33px !important;
    line-height: 36px !important;
  }
}

.title-purchase {
  @media (max-width: 899px) {
    font-size: 33px !important;
    line-height: 36px !important;
  }
}

/* MAT DIALOG STYLING */
/* */
.mat-dialog-container,
.dialog-responsive {
  z-index: 99999 !important;
  border-radius: 12px !important;
  /*border-color: white !important;
    border-radius: 8px !important;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    overflow: auto !important;*/

  //position: absolute !important;
}

@media only screen and (max-width: 768px) {
  .mat-dialog-container,
  .dialog-responsive {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    overflow: auto !important;
  }
}
