<section class="mt-4 px-4" *ngIf="profile$ | async as profile; else noProfile">
	<div class="ps-2 mb-3"
	[@animate]="{value:'*', params:{ x:'10px', delay:'450ms' }}">

		<div class="text-end">
			<h5 class="title-experience float-start mt-3">Public View
			</h5>

			<button class="btn btn-invite me-2 hvr-grow" (click)="redirectToEdit()">Edit Profile</button>
		</div>
	</div>


	<div class="card card-body">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<app-applicant-avatar [user]="profile"></app-applicant-avatar>
			</div>

			<div class="col-12 col-md-12 col-lg-12">
				<app-applicant-details [user]="profile"></app-applicant-details>
			</div>
		</div>
	</div>
</section>

<ng-template #noProfile>
  <section class="text-center p-5 w-100">
    <img src="assets/images/showcase.png" class="w-25" />
    <h5 class="my-2">Update your profile to showcase your skills</h5>
    <button class="btn btn-primary me-3 hvr-grow" (click)="redirectToEdit()">
      Update Profile</button>
  </section>
</ng-template>
