@import "src/assets/styles/colors";

.title-experience{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	/* identical to box height, or 120% */


	color: #6F6F6F;
}

.btn-save-later{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 27px;
	background: #FFFFFF;
	border: 1px solid #B0B0B0;
	border-radius: 10px;
	color: #A8A8A8;
	padding: 7px 25px;
}

.btn-invite{
	background: linear-gradient(135deg, #FF7062 0%, #FF3D6E 100%);
	border-radius: 10px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 27px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
	padding: 7px 25px;
}


.card{
	background: #FFFFFF;
	box-shadow: 0px 6px 15px rgba(128, 128, 128, 0.1);
	border-radius: 8px;
	border: none
}

.edit-details{
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}
