<div class="mt-4 ps-4 pe-4" id="job-order-main-container">
  <div [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
    <div class="card card-body py-3">
      <div class="w-100">
        <span class="main-title mt-3">Job Posts</span>

        <div class="float-end">
          <button class="btn btn-add-service" (click)="addJobs()">
            New Job
            <img src="/assets/images/placeholder/icons/add-new.png" style="width: 16px;" class="ms-1">
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="card card-body" *ngIf="!loading && list$ | async as list; else noList">
      <app-reusable-table [loading]="loading" [statusArray]="status" [statusFilter]="true" statusName="Status"
        (updateSelectedRowDialog)="viewMenu($event)" (viewDetails)="viewMenu($event)" [componentTitle]="'Company Jobs'"
        [displayedColumns]="displayedColumns" [selectedColumns]="selectedColumns"
        [selectedColumnsMobile]="selectedColumns" [searchSource]="searchSource" [maxRows]="10"
        [listDataSource]="list">
      </app-reusable-table>
    </div>
    <ng-template #noList>
      <div class="w-100 text-center">
        <img src="assets/images/empty-result.gif" class="w-50 mb-2 rounded" />
        <h2 class="color-blue-dark">No Result <span class="text-primary-red">Found</span></h2>
      </div>
    </ng-template>

    <!-- LOADING ANIMATION SCREEN -->
    <custom-profile-loader [withSideBar]="false" [fromDetailTab]="true" [loading]="loading">
    </custom-profile-loader>
  </div>
</div>
