
<ng-container>
    <div class="row">
        <div class="uploader-container" [ngClass]="singleLine ? 'col-12' : 'col-12 col-md-6'">
            <div
            appFileDrop
            class="upload-container py-3"
            (whenFileDropped)="uploadMultiple($event, true)"
            (click)="fileArray.length === 0 ? uploadFile.click()
            : multiple ? uploadFile.click()
            : ''">
                <input #uploadFile hidden type="file" (change)="uploadMultiple($event)" [accept]="acceptType" />
                <div class="row">
                    <div class="col-8 text-start">
                        <h6>{{label}}</h6>
                        <span>{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.FILE_ACCEPT' | translate }}: <span class="text-document">DOCS. DOCX. TXT. PDF.</span></span>
                    </div>

                    <div class="col-4">
                        <button type="button" class="btn btn-uploader"
                        [disabled]="fileArray.length > 0 && !multiple">Browse Files</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" [ngClass]="singleLine ? 'col-12 pt-4' : 'col-12 col-md-6'">
            <div class="preview-file" *ngIf="fileArray.length > 0">
                <h5 class="title-preview">{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.FILE_PREVIEW' | translate }}</h5>
                <div class="mb-3 p-3" *ngFor="let file of fileArray; let i = index">
                    <div class="file gh-file-row">
                        <div class="gh-file-row__top">
                            <div class="img-circle gh-file-row__icon">
                                <img src="/assets/images/placeholder/icons/document-upload.png" width="40px">
                            </div>

                            <div class="gh-file-row__name document-uploaded">{{file.filename}}</div>

                            <mat-icon class="gh-file-row__remove" (click)="removeImageInArray(i)"
                            aria-label="Remove file" role="button">close</mat-icon>
                        </div>

                        <div class="gh-file-row__meta">
                            <span class="gh-file-row__size">{{(file.size * 0.000001)?.toFixed(1) }} MB / 10 MB</span>
                            <span class="gh-file-row__uploaded" *ngIf="file.created_at">
                                Uploaded {{ file.created_at | date: 'mediumDate' }}
                            </span>
                        </div>

                        <div class="progress mt-2">
                            <div class="progress-bar" role="progressbar"
                            [ngStyle]="{ width: (file.size  * 100) + '%' }"
                            style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="preview-file" *ngIf="fileArray.length === 0">
                <h5 class="title-preview">{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.FILE_PREVIEW' | translate }}</h5>
                <div class="mb-3 p-3">
                    <div class="file gh-file-row">
                        <div class="gh-file-row__top">
                            <div class="img-circle gh-file-row__icon">
                                <img src="/assets/images/placeholder/icons/document-upload.png" width="40px">
                            </div>

                            <span class="gh-file-row__name document-uploaded">{{ 'ADDITIONAL_DOCUMENTS_PAGE_SECTION.DOCUMENT_UPLOAD_STATUS' | translate }}</span>
                        </div>

                        <div class="gh-file-row__meta">
                            <span class="gh-file-row__size">0 MB</span>
                        </div>

                        <div class="progress mt-2">
                          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-container>
