$color-blue-gradient: linear-gradient(265.88deg, #0E8BBF 12.43%, #00ABED 84.85%);
$color-blue-primary: #168DBD;  
$color-blue-light: #CEF1FF;
$color-blue-dark: #2E7A95;
$color-yellow-secondary: #EC8000;
$color-green-secondary: #04A08B;
$color-blue-secondary: #044CA0;
$color-black: #2D2D2D;


$color-global-red: #FE6F61;
$color-global-red-buttons: #FF7062;
$color-global-gray-cancel: #7A637F;
$color-global-sidebar-employer-user-menu: #444152;
$color-global-sidebar-employer-route-active: #67627E;
$color-global-sidebar-employer-sub-route-active: #67627E;
$color-global-sidebar-employer-sub-label: #878592;
$color-global-sidebar-employer-sub-route-button:  #514D63;
$color-global-sidebar-applicant-route-active: #FC8B79;
$color-global-sidebar-applicant-gray: #F6F7FB;