<div *ngIf="list$ | async as subs">
  <div class="card card-body my-3" *ngFor="let item of subs; let i = index"
    [ngClass]="i == 2 ? 'shadow-lg my-5 bordered p-0':''">
    <div class="w-100">
      <div class="row">
        <img src="/assets/images/placeholder/recommended.png" style="height: 2rem" *ngIf="i == 2" class="sticker">
        <div class="col-12 col-md-4 py-4 justify-content-center">
          <ng-container [ngTemplateOutlet]="plan"
            [ngTemplateOutletContext]="{name: item.subscriptionName, price: item.price | currency: item.priceCurrency:true:'1.0-0', occurence: item.paymentOccurence }">
          </ng-container>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center">

          <ng-container [ngTemplateOutlet]="inclusions"
            [ngTemplateOutletContext]="{label: 'Job Post', value: item.jobPost >= 0 ? item.jobPost: 'Unlimited'}">
          </ng-container>

          <ng-container [ngTemplateOutlet]="inclusions" [ngTemplateOutletContext]="{label: 'Customized Company page'}">
          </ng-container>

          <ng-container [ngTemplateOutlet]="inclusions"
            [ngTemplateOutletContext]="{label: 'Admin users', value: item.admin >= 0 ? item.admin: 'Unlimited'}">
          </ng-container>

          <ng-container [ngTemplateOutlet]="inclusions"
            [ngTemplateOutletContext]="{label: 'Video Interview Questions' }">
          </ng-container>

          <ng-container [ngTemplateOutlet]="inclusions"
            [ngTemplateOutletContext]="{label: 'Video Responses', value: item.videoResponse >= 0 ? item.videoResponse: 'Unlimited'}">
          </ng-container>

          <div class="row" *ngIf="item.withCustomerCare">
            <div class="col-md-1">
              <img src="/assets/images/check-icon.png" style="height: 20px;">
            </div>
            <div class="col-md-11">
              <div class="text-primary-red fst-italic fw-bold f-16">
                Dedicated Support
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <app-countdown-timer [dateEnd]="endDate" [textColorClass]="'text-primary-red'"
            *ngIf="i == 0 && endDate"></app-countdown-timer>
          <button class="btn btn-primary" (click)="upgrade(item)" style="height: 3rem" *ngIf="i!= 0">
           {{ (i == 0 && !endDate) ? 'Start Free trial':'Upgrade to this plan'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #inclusions let-value='value' let-label="label">
  <div class="row">
    <div class="col-md-1">
      <img src="/assets/images/check-icon.png" style="height: 20px;">
    </div>
    <div class="col-md-11">
      <div class="title-sub-type f-16">
        {{ value}} {{ label }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #plan let-name='name' let-price="price" let-occurence="occurence">
  <div class="text-center">
    <h5 class="text-primary-red fs-3">
      {{ name }}
    </h5>
    <div class="fs-1">
      {{ price }} <span class="fs-5">/ {{ occurence }}</span>
    </div>
  </div>
</ng-template>
