<div class="card card-body mt-3">
  <form class="row" [formGroup]="templateForm" (ngSubmit)="submitInterview()"
    [@animate]="{value:'*', params:{ y:'50px', delay:'200ms' }}">
    <div class="row justify-content-end my-2">
      <div class="col-12 col-lg-8 mb-4"></div>
      <div class="col-12 col-md-4 text-end">
        <button class="btn btn-save-draft me-2" (click)="getBack()">Back</button>
        <button class="btn btn-save me-2" type="submit">View Summary</button>
      </div>
    </div>



    <div class="col-12 col-lg-6 mb-4">
      <div class="title-container">
        <label>Group List Name</label>
        <div class="form-group">
          <input type="text" formControlName="groupInterviewName" class="form-control"
            placeholder="Ex. Front End Dev Applicants"
            [class.is-invalid]="groupInterviewName_validators?.invalid && groupInterviewName_validators?.touched">

          <div class="mt-1 ms-4"
            *ngIf="
            (groupInterviewName_validators?.invalid && groupInterviewName_validators?.touched) || groupInterviewName_validators?.dirty">
            <small *ngIf="groupInterviewName_validators?.errors?.required" class="text-danger">Name is required</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4"></div>

    <!-- TODO jobs -->
    <!-- <div class="col-12 col-lg-6 mb-3">
      <div class="title-container">
        <label>Published Job List</label>
        <div class="form-group">
          <app-dropdown-search placeholder="Select from list" label="Published Job List" formControlName="jobId"
            [options]="jobLists"></app-dropdown-search>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <div class="d-flex">
        <div class="me-4 mt-5">
          or
        </div>

        <div class="title-container w-100">
          <label>External Job Link</label>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="externalJobLink"
              placeholder="i.e. www.linkedin.com/jobs-question/34">
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-12 col-lg-6 mb-4" *ngIf="!loading && list$ | async as list">
      <div class="title-container">
        <label>Interview Questions</label>
        <div class="form-group">
          <app-dropdown-search placeholder="Select from list" label="Interview Templates"
            formControlName="interviewTemplateQuestion" [options]="list"></app-dropdown-search>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4">
      <div class="d-flex">
        <div class="me-4 mt-5">
          or
        </div>

        <div class="title-container w-100">
          <button class="btn btn-create-template" style="margin-top: 32px" (click)="createNewTemplateInterview()">Create
            New Template</button>
        </div>
      </div>
    </div>
  </form>

</div>

<div class="card card-body mt-3" [@animate]="{value:'*', params:{ y:'50px', delay:'250ms' }}">
  <div class="row">
    <!-- EMPLOYMENT DETAILS -->
    <div class="col-12">
      <h5 class="title-label">Select Interview Recipient(s)
        <!-- <span class="float-end">
          <button class="btn  btn-save" style="margin-top: -15px !important" (click)="inviteInterview()">
            Invite
            <img src="/assets/images/placeholder/icons/add-new.png" style="width: 16px;" class="ms-1">
          </button>
        </span> -->
      </h5>
      <hr style="border: dashed 1px #868686">
    </div>



    <div class="col-12" *ngIf="!loading && recipients$ | async">
      <div class="accordion" id="contactListAccordion">
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=".onGroupTarget"
              aria-expanded="false" aria-controls="collapseOne">
              <span class="w-75 py-1">
                Group of contacts
              </span>

              <input type="text" class="form-control w-25 collapse py-1 onGroupTarget" placeholder="Search"
                aria-label="Search" [(ngModel)]="searchInGroups"
                (ngModelChange)="searchDataSource('groupContact', searchInGroups, 'group_name')"
                (click)="$event.stopPropagation();" data-bs-toggle="collapse" data-bs-target>
            </button>
          </div>

          <div id="collapseOne" class="accordion-collapse collapse onGroupTarget" aria-labelledby="headingOne">
            <div class="accordion-body">
              <p class="text-muted text-center"
                *ngIf="!allRecipientObj.groupContact || allRecipientObj.groupContact.length == 0; else tableOfGroup">
                You do not have any Group contacts created
              </p>
              <ng-template #tableOfGroup>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th class="d-flex">
                        <div style="margin-top: 2px !important; margin-left: -20px;">
                          <div style="margin-top: 2px !important; margin-left: -20px;">
                            <input class="form-check-input remember-me me-2" type="checkbox"
                              (change)="selectAll(allRecipientObj.groupContact, 'selectedGroups', $event)"
                              [(ngModel)]="selectAllGroup">
                          </div>
                        </div>
                        <div>
                          Select
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of searchDataSource('groupContact', searchInGroups, 'group_name')">
                      <td>{{item?.group_name}}</td>
                      <td>
                        <input class="form-check-input" type="checkbox" (change)="getGroupsEmails($event, item)"
                          [checked]="isChecked(item, selectedGroups)">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target=".onIndividualTarget" aria-expanded="false" aria-controls="collapseTwo">

              <span class="w-75 py-1">
                List of individual emails
              </span>

              <input type="text" class="form-control w-25 collapse py-1 onIndividualTarget" placeholder="Search"
                (click)="$event.stopPropagation();" data-bs-toggle="collapse" data-bs-target aria-label="Search"
                [(ngModel)]="searchInIndividual"
                (ngModelChange)="searchDataSource('individualEmails',searchInIndividual, 'email')">
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse onIndividualTarget" aria-labelledby="headingTwo">
            <div class="accordion-body">
              <p class="text-muted text-center"
                *ngIf="!allRecipientObj.individualEmails || allRecipientObj.individualEmails.length == 0; else tableOfIndividuals">
                You do not have any Contacts added
              </p>
              <ng-template #tableOfIndividuals>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th class="d-flex">
                        <div style="margin-top: 2px !important; margin-left: -20px;">
                          <input class="form-check-input remember-me me-2" type="checkbox"
                            (change)="selectAll(allRecipientObj.individualEmails, 'selectedIndividuals', $event)"
                            [(ngModel)]="selectAllIndividual">
                        </div>
                        <div>
                          Select
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of searchDataSource('individualEmails',searchInIndividual, 'email')">
                      <td>{{item?.email}}</td>
                      <td>
                        <input class="form-check-input" type="checkbox" (change)="getIndividualEmails($event, item)"
                          [checked]="isChecked(item, selectedIndividuals, 'email')">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=".onApplicantTarget"
              aria-expanded="false" aria-controls="collapseThree">


              <span class="w-75 py-1">
                Applicants by latest job application
              </span>

              <input type="text" class="form-control w-25 collapse py-1 onApplicantTarget" placeholder="Search"
                (click)="$event.stopPropagation();" data-bs-toggle="collapse" data-bs-target aria-label="Search"
                [(ngModel)]="searchInApplicant"
                (ngModelChange)="searchDataSource('emailByJobPost', searchInApplicant, 'email')">
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse onApplicantTarget" aria-labelledby="headingThree">
            <div class="accordion-body">
              <p class="text-muted text-center"
                *ngIf="!allRecipientObj.emailByJobPost || allRecipientObj.emailByJobPost.length == 0; else tableOfApplicants">
                You do not have any Applicants
              </p>
              <ng-template #tableOfApplicants>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th class="d-flex">
                        <div style="margin-top: 2px !important; margin-left: -20px;">
                          <input class="form-check-input remember-me me-2" type="checkbox"
                            (change)="selectAll(allRecipientObj.emailByJobPost, 'selectedApplicants', $event)"
                            [(ngModel)]="selectAllEmail">
                        </div>
                        <div>
                          Select
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of searchDataSource('emailByJobPost', searchInApplicant, 'email')">
                      <td>{{item?.email}}</td>
                      <td>
                        <input class="form-check-input" type="checkbox" (change)="getApplicantEmails($event, item)"
                          [checked]="isChecked(item, selectedApplicants, 'email')">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
