@import "src/assets/styles/colors";

.submit-container {
  z-index: 99 !important;
  //position: fixed !important;
  //right: 20px;
  //top: 105px;
}

.accordion-button {
  background: #ff7062;
  color: #fff;
  font-family: "Manrope" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  border-radius: 8px !important;
}

.accordion-button:focus {
  z-index: 3;
  //  border-color: #FF7062;
  outline: 0 !important;
  /* I changed the color on this line */
  /* If you do not want any color, just delete */
  //  box-shadow: 0 0 0 0.25rem rgba(#FF7062, 0.15);
}

.show {
  border-radius: 8px !important;
}

.accordion-item {
  border: none;
  margin-bottom: 10px;
}

.accordion-button::after {
  display: none;
}

// .accordion-button:not(.collapsed) {
//   color: #424242 !important;
//   background-color: #ffefed;
//   background: #ffefed !important;
//   border-radius: 8px !important;
//   border: none !important;
// }

.table {
  font-family: "Manrope" !important;
  thead {
    th {
      background: #f7f7f7;
      border: none;
      padding: 10px 15px;
    }
  }

  tbody {
    td {
      border: none;
      padding: 10px 17px;
    }

    td:not(:nth-child(1)) {
      padding-left: 19px;
    }

    tr:nth-child(even) {
      td {
        background: #f9f9f9 !important;
      }
    }
  }
}

:host ::ng-deep {
  // Background border
  .mat-checkbox .mat-checkbox-frame {
    border-color: #acacac;
    color: #acacac;
    background-color: #fff;
  }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #ff7062;
  }

  .mat-slide-toggle {
    margin-left: 4px;
    transform: scaleX(1.1) !important;
  }

  /* SLIDE TOGGLE */
  .mat-slide-toggle-thumb {
    width: 18px !important;
    height: 18px !important;
    border-radius: 3px;
    transform: translate(50%, 50%);
  }

  .mat-slide-toggle-bar {
    background-color: #dfdfdf;
    border-radius: 3px !important;
    height: 25px !important;
    width: 43px !important;
  }

  .mat-slide-toggle-thumb-container {
    margin-left: -5px !important;
    margin-top: -3px !important;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #04a08b;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fff;
  }
}

.bg-upper-gray {
  background: #f5f6fa;
}

.title-label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  margin-bottom: 5px;

  color: #464646;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: none;
  padding: 30px 30px !important;
}

.form-control {
  background: #ffffff;
  min-height: 50px;
  border: 1px solid #afbcc6 !important;
}

.form-select-multiple {
  margin-bottom: 20px;
  min-height: 170px !important;

  option {
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 5px;
  }

  option select {
    margin: 40px;
    background: red !important;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}

.form-select {
  height: 50px;
  //background: #FFFFFF !important;
  border: 1px solid #afbcc6 !important;
  border-radius: 6px !important;
}

.search-group {
  border: 1px solid #afbcc6;
  padding: 5px;
  border-radius: 6px;
  height: 50px;
}

label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #464646;
}

.check {
  position: absolute;
  height: 19px;
  top: 8px;
  right: 8px;
}

.active {
  background: #0c264d;
  color: white !important;
}

.btn-create-template {
  background: #ff7062;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
  padding: 10px 35px !important;

  &:hover {
    background: rgba(#ff7062, 0.8);
  }
}

.btn-save {
  background: $color-global-red-buttons;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
  padding: 7px 20px !important;

  &:hover {
    background: rgba(#ff7062, 0.8);
  }
}

.bg-gray {
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ) !important;
  border-radius: 7px;
  padding: 20px;
  background-repeat: no-repeat;
  //background-color: rgba(0, 0, 0, 0.1)!important;
}

.title-label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #4d4d4d;
  margin-bottom: 7px;
}

.title-label-sub {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #9c9c9c;
  margin-bottom: 4px;
}

.title-label-sub-duration {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  /* identical to box height */

  //letter-spacing: 0.2px;

  color: #9c9c9c;

  span {
    font-weight: 600 !important;
    color: #9c9c9c;
  }
}

.btn-record {
  background: $color-global-red-buttons;
  box-shadow: 0px 62.9787px 50.383px rgba(255, 112, 98, 0.1),
    0px 40.8195px 29.5067px rgba(255, 112, 98, 0.0759259),
    0px 24.2585px 16.0479px rgba(255, 112, 98, 0.0607407),
    0px 12.5957px 8.18723px rgba(255, 112, 98, 0.05),
    0px 5.1316px 4.10528px rgba(255, 112, 98, 0.0392593),
    0px 1.16627px 1.98266px rgba(255, 112, 98, 0.0240741);
  border-radius: 566.808px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;

  color: #ffffff;
  padding: 15px 20px;
}

.btn-upload {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */
  border-radius: 566.808px;

  color: #959595;
  padding: 10px 25px;
}

.logo-thumbnail {
  background: #f3f3f3;
  border-radius: 14px;
  height: 80px;
  width: 80px;

  img {
    width: auto;
    height: 34px;
  }
}

.btn-create-interview {
  border: solid 1px #c9c9c9;
  margin-right: 20px;
  margin-top: -15px !important;

  &:hover {
    border-color: $color-global-red;
    color: $color-global-red;
  }
}

.btn-save-draft {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;

  color: #a9a9a9;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 7px;
  padding: 7px 20px !important;
}

.btn-save {
  background: $color-global-red-buttons;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
  padding: 7px 20px !important;

  &:hover {
    background: rgba(#ff7062, 0.8);
  }
}
