@import "src/assets/styles/colors";

i{
	font-style: italic !important;
}

.submit-container{
	z-index: 99 !important;;
	position: fixed !important;
	right: 20px;
	top: 105px;
}


.bg-upper-gray{
	background: #F5F6FA;
}

.main-title{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 58px;
	/* or 215% */

	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight:500;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */
	margin-bottom: 5px;

	color: #464646;
}

.card{
	background: #FFFFFF;
	box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	border: none;
	padding: 30px 30px !important;
}

.form-control{
	background: #FFFFFF;
	min-height: 50px;
	border: 1px solid #AFBCC6 !important;
}

.form-select-multiple{
	margin-bottom: 20px;
	min-height: 170px !important;

	option{
		border-radius: 4px;
		padding: 6px 10px;
		margin-bottom: 5px;

		i{
			font-style: italic !important;
		}
	}


	option select {
	    margin: 40px;
	    background: red !important;
	    color: #fff;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	}
}

.form-select{
	height: 50px;
	//background: #FFFFFF !important;
	border: 1px solid #AFBCC6 !important;
	border-radius: 6px !important;

	option{
		border-radius: 4px;
		padding: 6px 10px;
		margin-bottom: 5px;

		i{
			font-style: italic !important;

		}
	}


	option select {
	    margin: 40px;
	    background: red !important;
	    color: #fff;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	}

	.job-title-option{
		color: red !important;
	}
}


.search-group{
	border: 1px solid #AFBCC6;
	padding: 5px;
	border-radius: 6px;
	height: 50px;
}


label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */


	color: #464646;
}


.check{
	position: absolute;
	height: 19px;
	top: 8px;
	right: 8px;
}



.active{
	background: #0C264D;
	color: white !important;
}

.btn-save{
	background: $color-global-red-buttons;
	border-radius: 7px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #FFFFFF;
	padding: 7px 20px !important;
}

.btn-save-draft{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;

	color: #a9a9a9;
	background: #FFFFFF;
	border: 1px solid #a9a9a9;
	border-radius: 7px;
	padding: 7px 20px !important;
}


.bg-gray{
	background-size: cover !important;
	background-position: center !important;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
	border-radius: 7px;
	padding: 20px;
	background-repeat: no-repeat;
	//background-color: rgba(0, 0, 0, 0.1)!important;

}



.title-label{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #4D4D4D;
	margin-bottom: 7px;
}

.title-label-sub{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #9C9C9C;
	margin-bottom: 4px;
}

.title-label-sub-duration{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	/* identical to box height */

	//letter-spacing: 0.2px;

	color: #9C9C9C;

	span{
		font-weight: 600 !important;
		color: #9C9C9C;
	}
}

.btn-record{
	background: $color-global-red-buttons;
	box-shadow: 0px 62.9787px 50.383px rgba(255, 112, 98, 0.1), 0px 40.8195px 29.5067px rgba(255, 112, 98, 0.0759259), 0px 24.2585px 16.0479px rgba(255, 112, 98, 0.0607407), 0px 12.5957px 8.18723px rgba(255, 112, 98, 0.05), 0px 5.1316px 4.10528px rgba(255, 112, 98, 0.0392593), 0px 1.16627px 1.98266px rgba(255, 112, 98, 0.0240741);
	border-radius: 566.808px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 10px;

	color: #FFFFFF;
	padding: 15px 20px
}

.btn-upload{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	/* identical to box height */
	border-radius: 566.808px;

	color: #959595;
	padding: 10px 25px
}

.logo-thumbnail{
	background: #F3F3F3;
	border-radius: 14px;
	height: 80px;
	width: 80px;

	img{
		width: auto;
		height: 34px;
	}
}


.btn-create-interview{
	border: solid 1px #c9c9c9;
	margin-right: 20px;
	margin-top: -15px !important;
	font-size: 14px !important;
	padding: 7px 25px !important;
	&:hover{
		border-color: $color-global-red;
		background: $color-global-red;
		color: #fff;
		font-weight: 600;
	}
}
