<div class="py-3">
	<div class="d-flex align-items-center justify-content-center w-100 mb-3">
		<div class="image-placeholder">
			<img src="/assets/images/placeholder/icons/interview-notification.png">
		</div>
	</div>

	<div class="text-center px-lg-4">
		<h5 class="title-main">{{ 'INTERVIEW_PAGE_SECTION.POP_UP_MESSAGE' | translate }}</h5>

		<p class="title-description">{{ 'INTERVIEW_PAGE_SECTION.POP_UP_CONTEXT' | translate }}</p>
	</div>

	<div class="justify-content-center align-self-center d-flex mt-4">
		<button class="btn btn-cancel me-2" (click)="close()">{{ 'INTERVIEW_PAGE_SECTION.SKIP_BUTTON' | translate }}</button>

		<button class="btn btn-save" (click)="save()">{{ 'INTERVIEW_PAGE_SECTION.PROCEED_BUTTON' | translate }}</button>
	</div>
</div>