@import "src/assets/styles/colors";

.image-notification{
	img{
		width: auto;
		height:95px;
	}
}


.title-main{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #03011A;
}

.title-description{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;

	color: #8D8D8D;
}


.btn-cancel{
	background: #FFFFFF;
	border: 1px solid $color-global-red-buttons;
	border-radius: 111px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: $color-global-red;
	padding: 9px 35px !important;

	&:hover{
		color: #fff;
		background: $color-global-red-buttons;
	}
}

.btn-save{
	background: $color-global-red-buttons;
	border-radius: 111px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 150px;
	color: #FFFFFF;
	padding: 9px 35px !important;
}