
<div class="card card-body p-5 py-4 mt-2"
[@animate]="{value:'*', params:{ x:'10px', delay:'450ms' }}">
	<div class="row">
		<div class="col-12 col-lg-6 mb-3 pe-lg-5">
			<h5 class="title-main mb-2">Short Bio</h5>
			<p class="title-description">
				{{ user.shortBio }}
			</p>
		</div>

		<div class="col-12 col-lg-6" *ngIf="user.videoCVUrl && user.videoCVUrl != ''">

			<!-- <h5 class="title-main">Video Introduction </h5> -->
			<div style="position: relative;">
				<img src="/assets/images/placeholder/icons/play-button.png" class="play-button">
				<img src="/assets/images/placeholder/video-placeholder-2.png" width="100%">
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12 col-lg-12 mb-3 pe-lg-5">
			<h5 class="title-main mb-2">Provided Services</h5>
			<p class="title-description">
				{{ user.servicesProvided }}
			</p>
		</div>
	</div>

	<div>
		<h5 class="title-main mb-3">Work Experience</h5>

		<ng-container *ngFor="let item of work_experience; let i = index">
			<hr style="border-color: #909090" *ngIf="i > 0">
			<h5 class="title-experience">{{item?.title}}
				<div class="float-end text-end">
					<div class="title-duration mb-2">
						<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
						{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
					</div>
					<span class="title-job-type">{{item?.job_type}}</span>

				</div>
			</h5>

			<div class="d-flex">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-company.png" style="height: 14px" class="me-2">{{item?.company}}
				</p>

				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.location}}
				</p>
			</div>

			<p class="title-details mt-3 w-75">{{item?.details}}</p>


		</ng-container>

	</div>

	<div class="mt-4">
		<h5 class="title-main mb-3">Education & Qualification</h5>

		<ng-container *ngFor="let item of education_background; let i = index">
			<hr style="border-color: #909090"  *ngIf="i > 0">
			<h5 class="title-experience">{{item?.field_of_study}}
				<span class="float-end title-duration">
					<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
					{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
				</span>
			</h5>

			<div class="d-flex">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.school}}
				</p>
			</div>
		</ng-container>
	</div>

	<div class="mt-4">
		<h5 class="title-main mb-3">Awards</h5>

		<ng-container *ngFor="let item of awards; let i = index">
			<hr style="border-color: #909090" *ngIf="i > 0">
			<h5 class="title-experience">{{item?.title}}
				<span class="float-end title-duration">
					<img src="/assets/images/placeholder/icons/applicant-date.png" style="height: 14px" class="me-2">
					{{item?.start_date | date: 'MMM d, yyyy'}} - {{item?.start_date | date: 'MMM d, yyyy'}}
				</span>
			</h5>

			<div class="d-flex">
				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-company.png" style="height: 14px" class="me-2">{{item?.company}}
				</p>

				<p class="title-other">
					<img src="/assets/images/placeholder/icons/applicant-location.png" style="height: 14px" class="me-1">{{item?.location}}
				</p>
			</div>

			<div class="">
				<p class="title-details mt-2 w-75">{{item?.details}}</p>
			</div>
		</ng-container>
	</div>

	<div class="mt-4">
		<h5 class="title-main mb-3">Skills</h5>

		<div class="row">
			<div class="col-12 col-lg-7">
				<div class="skills">
					<ng-container *ngFor="let item of skills">
						<div class="title-skills me-2 mb-2">{{item}}</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
